/*超市*/
#container {
height: 438px;
overflow: hidden;
position: relative;
float: left;
width: 1920px;
/*margin-left: 232px;*/
}
#list {
width: 13440px;
height: 438px;
position: absolute;
z-index: 1;
}
#list img { 
    float: left;
}
#buttons { 
    position: absolute;
    height: 10px;
    width: 100px;
    z-index: 2;
    bottom: 20px;
    left:50%;
}
#buttons span {
    cursor: pointer;
    float: left;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #333;
    margin-right: 5px;
}
#buttons .on {
  background: orangered;
}
.arrow {
    cursor: pointer;
    display: none;
    line-height: 39px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: 2; 
    top: 180px;
    background-color: RGBA(0,0,0,.3);
    color: #fff;
}
.arrow:hover {
 background-color: RGBA(0,0,0,.7);
}
#container:hover .arrow { 
    display: block;
}
#prev { left: 610px;
}
#next { right: 570px;
}
.mdz-commitment li{
    float: left;
}
.mdz-commitment .commitment-icon{
    vertical-align: middle;
    display: inline-block;
    zoom: 1;
    line-height: 33px;
    margin-right: 7px;
    width: 22px;
    height: 21px;
}
.mdz-commitment .no-mail{
  background: url(../images/market/99.png);
}
.mdz-commitment .quality-goods{
  background: url(../images/market/zhengp.png);
}
/*超市分类、轮播图、公告*/
.first-screen {
    position: relative;
    min-width: 1190px;
    height: 438px;
    margin: 0 auto;
    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    overflow: hidden;
    background: #eee;
}
.first-screen .c-nav-wrapper {
    position: relative;
    left: 50%;
    margin-left: -600px;
    width: 190px;
    height: 478px;
    z-index: 200;
}
/*超市分类开始*/
.first-screen .c-nav-wrapper .c-nav .second-list {
    width: 240px;
    height: 438px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item {
    position: relative;
    width: 197px;
    height: 73px;
    font-size: 12px;
    padding-left: 43px;
    background: #fff;
}

.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 16px;
    background: url(../images/market/chaoshi.png) no-repeat;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur{
    background: #f42424;
}

.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon1 {
    background-position: -1035px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon2 {
    background-position: -931px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon3 {
    background-position: -957px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon4 {
    background-position: -1113px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon5 {
    background-position: -1009px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .icon6 {
    background-position: -1087px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .icon1 {
    background-position: -1061px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .icon2 {
    background-position: -957px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .icon3 {
    background-position: -983px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .icon4 {
    background-position: -1113px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .icon5 {
    background-position: -1035px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .icon6 {
    background-position: -1087px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item span {
    display: inline-block;
    vertical-align: middle;
    width: 197px;
    overflow: hidden;
    _display: inline;
    zoom: 1;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .second-item-title {
    float: left;
    height: 20px;
    line-height: 20px;
    font-weight: bold;
    margin-top: 17px;
    margin-bottom: 6px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .second-item-title{
    color: #fff;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .second-item-title a {
    float: left;
    margin-right: 4px;
    font-weight: bold;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .second-item-title a{
    color: #fff;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item span i {
    float: right;
    width: 8px;
    height: 13px;
    margin-top: 1px;
    margin-right: 13px;
    background: url(../images/market/chaoshi.png) no-repeat;
    background-position: -905px -26px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur span i{
    background-position: -905px 0;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .second-item-list {
    width: 193px;
    height: 17px;
    overflow: hidden;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .second-item-list{
    color: #fff;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .second-item-list a {
    float: left;
    height: 17px;
    color: #666;
    padding-right: 10px;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .second-item-list a{
    color: #fff;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .split-line {
    position: absolute;
    display: inline-block;
    width: 210px;
    height: 1px;
    bottom: 0;
    left: 14px;
    background: #ccc;
}
.first-screen .c-nav-wrapper .c-nav .second-list .second-item .second-item-list .hot {
    color: #e42e3c;
}
.first-screen .c-nav-wrapper .c-nav .second-list .cur .second-item-list .hot {
    color: #fff;
}
/*三级菜单开始*/
.first-screen .c-nav-wrapper .c-nav .third-list {
    position: absolute;
    top: 0;
    left: 240px;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item {
    position: absolute;
    left: 0;
    width: 712px;
    min-height: 394px;
    padding: 20px 235px 24px 0;
    background: #fff;
    border: 1px solid #ddd;
    overflow: hidden;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item dl {
    position: relative;
    float: left;
    width: 177px;
    height: 108px;
    padding: 0;
    margin: 0 30px 20px;
    overflow: hidden;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item dl dt {
    width: 80px;
    color: #222;
    font: bold 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-bottom: 20px;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item dl dd {
    float: left;
    width: 177px;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item dl dd a {
    position: relative;
    float: left;
    height: 16px;
    color: #666;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: rgba(102,102,102,0.99);
    margin-right: 15px;
    margin-bottom: 10px;
    white-space: nowrap;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item dl dd a:hover{
    color: #e42e3c;
}
.first-screen .c-nav-wrapper .c-nav .third-list .third-item dl dd .hot {
    color: #e42e3c;
}
.first-screen .split-line2 {
    position: absolute;
    display: block;
    width: 1px;
    height: 400px;
    background: #ddd;
    left: 235px;
    top: 20px;
}
.first-screen .split-line3 {
    left: 474px;
}
/*轮播图开始*/
.first-screen .banner-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1920px;
    height: 438px;
    margin-left: -960px;
    text-align: center;
    background: #ddd;
}
.first-screen .banner-wrapper li{
    z-index: 5;
}
/*右侧活动框*/
.side-entry {
    position: absolute;
    width: 182px;
    height: 418px;
    top: 10px;
    left: 50%;
    margin-left: 403px;
    z-index: 2;
}
.side-entry .top {
    position: relative;
    width: 100%;
    height: 190px;
    margin-bottom: 10px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/sptt.png?v=20180316) no-repeat;
}
.side-entry .top .words {
    position: absolute;
    width: 166px;
    height: 81px;
    left: 7px;
    bottom: 5px;
    margin-bottom: 10px;
}
.side-entry .top .words li {
    position: relative;
    height: 17px;
    margin-bottom: 10px;
    cursor: pointer;
}
.side-entry .top .words li {
    position: relative;
    height: 17px;
    margin-bottom: 10px;
    cursor: pointer;
}
.side-entry .top .words li em {
    position: absolute;
    display: block;
    width: 3px;
    height: 3px;
    top: 7px;
    left: 0;
    background: #ccc;
}
.side-entry .top .words li.cur em{
    position: absolute;
    display: block;
    width: 3px;
    height: 100%;
    top: 0;
    left: 0;
    background: #e42e3c;
}
.side-entry .top .words li p {
    width: 153px;
    height: 17px;
    color: #444;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 13px;
    letter-spacing: .75px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.side-entry .top .words li.cur p{
    color: #e42e3c;
}
.side-entry .bot {
    width: 212px;
    height: 218px;
}
.side-entry img {
    display: block;
    width: 100%;
    height: 100%;
}
/*限时抢购开始*/
.main-title {
    position: relative;
    width: 1190px;
    margin: 20px auto 10px;
    text-align: center;
}
.main-title .lg {
    display: inline-block;
    height: 45px;
    color: #222;
    font: 32px/45px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-bottom: 8px;
    letter-spacing: 15px;
    text-indent: 15px;
}
.main-title .sm {
    color: #999;
    font: 14px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    letter-spacing: 1px;
}
.xs-qiang {
    position: relative;
    width: 1190px;
    height: 542px;
    margin: 10px auto;
}
.xs-qiang .count-down {
    position: absolute;
    width: 120px;
    height: 17px;
    color: #fff;
    right: 108px;
    top: 8px;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    letter-spacing: 1.52px;
}
.xs-qiang .time-panel {
    position: absolute;
    right: 34px;
    top: 30px;
    color: #fff;
    font: 34px/48px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    letter-spacing: 1.52px;
}
.xs-qiang .time-panel em {
    float: left;
    margin-right: 37px;
}
.xs-qiang .time-panel em {
    float: left;
    margin-right: 37px;
}
.xs-qiang .time-panel em {
    float: left;
    margin-right: 37px;
}
.xs-qiang .tab-nav {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/xsq.png);
}
.xs-qiang .tab-nav ul li {
    float: left;
    width: 160px;
    height: 48px;
    color: #ddd;
    margin: 16px 0 16px 50px;
    cursor: pointer;
}
.xs-qiang .tab-nav ul li .icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/chaoshi.png?v=2018091801) no-repeat;
}
.xs-qiang .tab-nav ul li .icon1 {
    background-position: -761px 0;
}
.xs-qiang .tab-nav ul li p em {
    display: block;
    width: 100%;
    color: #999;
    font: 20px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.xs-qiang .tab-nav ul li p a {
    display: block;
    width: 135px;
    color: #999;
    text-align: center;
    font: 14px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.xs-qiang .tab-nav ul li .icon {
    float: left;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/chaoshi.png?v=2018091801) no-repeat;
}
.xs-qiang .tab-nav ul li .icon2 {
    background-position: -845px 0;
}
.xs-qiang .tab-nav ul li .icon1 {
    background-position: -761px 0;
}
.xs-qiang .tab-nav ul .cur .icon1 {
    background-position: -719px 0;
}
.xs-qiang .tab-nav ul .cur .icon {
    color: #e42e3c;
}
.xs-qiang .tab-nav ul .cur .icon2 {
    background-position: -803px 0;
}
.xs-qiang .tab-nav ul .cur p em {
    color: #e42e3c;
}
.xs-qiang .tab-nav ul .cur p em {
    color: #e42e3c;
}
.xs-qiang .tab-nav ul .cur a {
    color: #e42e3c;
}
.xs-qiang .tab-nav ul .cur .icon1 {
    background-position: -719px 0;
}
.xs-qiang .tab-nav ul li p .sm {
    font-size: 14px;
    text-indent: 10px;
}
.xs-qiang .tab-content-wrap {
    position: relative;
    height: 410px;
    background: #fff;
    border: 10px solid #6a6a6a;
    border-top: 0;
}
.xs-qiang .tab-content-wrap .tab-content {
    position: relative;
    width: 1060px;
    height: 342px;
    background: #fff;
    overflow: hidden;
    margin: 0 55px 50px;
    padding-top: 20px;
}
.xs-qiang .tab-content-wrap .tab-content ul {
    position: absolute;
    width: 10000px;
    height: 342px;
    top: 20px;
    left: 0;
    margin-right: -40px;
}
.xs-qiang .tab-content-wrap .tab-content ul li {
    position: relative;
    float: left;
    width: 180px;
    height: 342px;
    margin-right: 40px;
    overflow: hidden;
}
.xs-qiang .tab-content-wrap .tab-content ul li img {
    width: 180px;
    height: 180px;
    margin-bottom: 20px;
}
.xs-qiang .tab-content-wrap .tab-content ul li .name {
    height: 44px;
    color: #222;
    text-align: center;
    font: 16px/22px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 15px;
    letter-spacing: 2.02px;
}
.xs-qiang .tab-content-wrap .tab-content ul li .progress {
    color: #999;
    letter-spacing: 1.77px;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    text-align: center;
}
.xs-qiang .tab-content-wrap .tab-content ul li .progress span {
    display: inline-block;
    background: #ddd;
    height: 3px;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.xs-qiang .tab-content-wrap .tab-content ul li .progress span i {
    display: block;
    background: #e42e3c;
    height: 2px;
    width: 0;
}
.xs-qiang .tab-content-wrap .tab-content ul li .smbg {
    position: relative;
    width: 180px;
    height: 30px;
    background: #e42e3c;
    border-radius: 20px;
    letter-spacing: 1.57px;
    color: #fff;
    font: 18px/30px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    text-align: center;
}
.xs-qiang .tab-content-wrap .tab-content ul li .price {
    display: inline-block;
    color: #fff;
    height: 30px;
    font: 18px/30px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.xs-qiang .tab-content-wrap .tab-content ul li .price-high {
    display: inline-block;
    height: 30px;
    font: 12px/34px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #ff7f83;
    text-decoration: line-through;
}
.xs-qiang .tab-content-wrap .tab-content ul li .comingSoon {
    width: 180px;
    height: 20px;
    color: #999;
    text-align: center;
    font: 14px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    border-radius: 20px;
    margin: 20px 0 23px;
    text-align: center;
}
/*限时抢购结束*/
/*品牌特卖开始*/
.brand-floor {
    position: relative;
    width: 1190px;
    height: 360px;
    margin: 10px auto;
    overflow: hidden;
}
.brand-floor .col1 {
    float: left;
    position: relative;
    width: 390px;
    height: 360px;
    background: #fff;
    margin-right: 10px;
}
.brand-floor .col1 .banner-wrapper {
    position: absolute;
    width: 390px;
    height: 280px;
    left: 0;
    top: 0;
}
.brand-floor .col1 .banner-wrapper .banner {
    width: 100%;
    height: 100%;
}
.brand-floor .col1 .banner-wrapper .banner .banner-item {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.brand-floor .col1 .banner-wrapper .banner .banner-item img {
    display: block;
    width: 100%;
    height: 100%;
}
.brand-floor .col1 .banner-wrapper .banner-nav-wrapper {
    display: none;
    position: absolute;
    bottom: 50px;
    width: 100%;
    height: 8px;
    text-align: center;
    font-size: 0;
}
.brand-floor .col1 .banner-wrapper .banner-nav-wrapper .banner-nav {
    position: relative;
    display: inline-block;
    height: 8px;
    width: 100%;
    text-align: center;
}
.brand-floor .col1 .banner-wrapper .banner-nav-wrapper .banner-nav a {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #ccc;
    opacity: .6;
    filter: alpha(opacity=60);
    margin-right: 10px;
}
.brand-floor .col1 .fixed-img {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}
.brand-floor .col1 .banner-wrapper .banner-nav-wrapper .banner-nav .current {
    background: #e42e3c;
}
.brand-floor .col1 .fixed-img img {
    display: block;
    width: 100%;
    height: 100%;
    background: #ddd;
}
.brand-floor .col2 {
    float: left;
    width: 790px;
    height: 360px;
}
.brand-floor .col2 ul {
    margin-right: -10px;
}
.brand-floor .col2 ul li {
    float: left;
    width: 390px;
    height: 175px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.brand-floor .col2 ul li img {
    display: block;
    width: 100%;
    height: 100%;
}
/*超级市场开始*/
.c-comm-floor {
    position: relative;
    width: 1190px;
    height: 637px;
    margin: 25px auto 10px;
    overflow: hidden;
}
.c-comm-floor .c-title {
    float: left;
    width: 100%;
    height: 25px;
    margin-bottom: 12px;
}
.c-comm-floor .c-title .icon {
    float: left;
    width: 5px;
    height: 18px;
    background: #e42e3c;
    margin-top: 3px;
    margin-right: 20px;
}
.c-comm-floor .c-title .title {
    float: left;
    font: 18px/25px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    color: #222;
    letter-spacing: 1.8px;
    margin-right: 12px;
}
.c-comm-floor .c-title .sub-title {
    float: left;
    color: #999;
    font: 12px/19px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    letter-spacing: 1.2px;
    margin-top: 4px;
    margin-right: 10px;
}
.c-comm-floor .c-title .saoma {
    position: relative;
    float: left;
}
.c-comm-floor .c-title .saoma .ma {
    display: block;
    width: 24px;
    height: 24px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/chaoshi.png?v=2018091801) no-repeat;
    background-position: -1061px -26px;
}
.c-comm-floor .c-title .saoma .box {
    position: absolute;
    width: 108px;
    height: 108px;
    left: 0;
    top: 30px;
    padding: 5px;
    z-index: 100;
    background: #fff;
}
.c-comm-floor .c-title .saoma .box img {
    width: 108px;
    height: 108px;
}
.c-comm-floor .col1 .c-cards {
    position: absolute;
    width: 196px;
    height: 130px;
    top: 40px;
    left: 20px;
}
.c-comm-floor .col1 {
    float: left;
    position: relative;
    width: 231px;
    height: 600px;
    background: #ddd;
}
.c-comm-floor .col1 .bg {
    position: absolute;
    width: 231px;
    height: 600px;
    left: 0;
    top: 0;
    z-index: 0;
}
.c-comm-floor .col1 .c-cards ul {
    margin-right: -10px;
}
.c-comm-floor .col1 .c-cards ul li {
    float: left;
    max-width: 84px;
    height: 24px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #fff;
    margin: 0 10px 10px 0;
    overflow: hidden;
    background: rgba(255,255,255,.2);
}
.c-comm-floor .col1 .c-cards ul li a {
    display: block;
    padding: 0 10px;
    color: #fff;
    font: 12px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    overflow: hidden;
}
.c-comm-floor .col2 {
    float: left;
    width: 959px;
    height: 600px;
    background: #eee;
    overflow: hidden;
}
.c-comm-floor .col2 ul {
    float: left;
    margin-right: -10px;
}
.c-comm-floor .col2 ul li {
    float: left;
    position: relative;
    width: 230px;
    height: 295px;
    background: #fff;
    margin: 0 0 10px 10px;
    overflow: hidden;
}
.c-comm-floor .col2 ul li img {
    display: block;
    width: 180px;
    height: 180px;
    margin: 20px 25px 10px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}
/*.c-comm-floor .col2 ul li img:hover{
    -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}*/
.c-comm-floor .col2 ul li .name {
    width: 140px;
    height: 40px;
    font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-left: 45px;
    margin-bottom: 10px;
    letter-spacing: 1.17px;
}
.c-comm-floor .col2 ul li .price {
    color: #e42e3c;
    height: 25px;
    font: 12px/25px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 45px;
}
.c-comm-floor .col2 ul li .price em {
    font-size: 16px;
}
.c-comm-floor .col2 ul li .cartBtn {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/chaoshi.png?v=2018091801) no-repeat;
    background-position: -931px 0;
    bottom: 15px;
    right: 45px;
    cursor: pointer;
}
/*超级市场结束*/

/*猜您喜欢开始*/
.rec-floor {
    position: relative;
    width: 1190px;
    margin: 0 auto;
}
.rec-floor ul {
    margin-right: -10px;
}
.rec-floor ul li {
    position: relative;
    float: left;
    width: 230px;
    height: 295px;
    margin: 0 10px 10px 0;
    background: #fff;
    overflow: hidden;
}
.rec-floor ul li img {
    width: 180px;
    height: 180px;
    margin: 20px 25px 10px;
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s,-webkit-transform .5s;
}
.rec-floor ul li .name {
    width: 140px;
    height: 40px;
    font: 12px/20px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 45px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
.rec-floor ul li .price {
    color: #e42e3c;
    height: 25px;
    font: 12px/25px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 45px;
}
.rec-floor ul li .price em {
    font-size: 16px;
}
.rec-floor ul li .cartBtn {
    position: absolute;
    width: 16px;
    height: 16px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/chaoshi.png?v=2018091801) no-repeat;
    background-position: -931px 0;
    bottom: 10px;
    right: 45px;
    cursor: pointer;
}
/*猜您喜欢结束*/

/*限时抢购开始*/
.bg {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.bg img {
    position: relative;
    display: block;
    width: 1920px;
    height: 300px;
    left: 50%;
    margin-left: -960px;
}
.main-wrap .title {
    height: 24px;
    width: 270px;
    margin: 19px auto 12px;
    font: bold 18px/24px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    text-align: center;
}
.main-wrap .title .line {
    width: 70px;
    height: 1px;
    margin-top: 12px;
}
.main-wrap .title .line1 {
    margin-right: 15px;
    background: url(./images/bhttps://res.suning.cn/project/cmsWeb/suning/superMarket/v2/cz/styles/images/bg2.png) no-repeat;
    background-position: 0 -30px;
}
.main-wrap .title em, .title p {
    float: left;
}
.main-wrap .title .icon {
    width: 20px;
    height: 20px;
    margin-right: 9px;
    margin-top: 2px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v2/cz/styles/images/bg2.png) no-repeat;
    background-position: -72px 0;
}
.main-wrap .title .line2 {
    margin-left: 10px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v2/cz/styles/images/bg2.png) no-repeat;
    background-position: 0 -33px;
}
.pro {
    width: 1190px;
    margin: 0 auto 29px;
    background: #eee;
}
.pro ul li {
    float: left;
    position: relative;
    width: 237px;
    height: 349px;
    margin-right: 1px;
    margin-bottom: 1px;
    background: #fff;
}
.pro ul li img {
    width: 190px;
    height: 190px;
    margin: 20px 24px;
}
.pro ul li .name {
    width: 206px;
    height: 32px;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 8px;
}
.pro ul li .price {
    height: 21px;
    color: #f40;
    font: 10px/21px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 20px;
    margin-bottom: 1px;
}
.pro ul li .price em {
    font-size: 16px;
    font-weight: bold;
}
.pro ul li .price-high {
    height: 16px;
    color: #999;
    font: 12px/16px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    margin-left: 20px;
    margin-bottom: 10px;
}
.pro ul li .price-high span {
    text-decoration: line-through;
}
.pro ul li .price-high em {
    text-decoration: line-through;
}
.pro ul li .progress {
    position: absolute;
    color: #999;
    bottom: 14px;
    left: 20px;
}
.pro ul li .progress em {
    display: inline-block;
    width: 34px;
    margin-right: 24px;
}
.pro ul li .progress span {
    float: right;
    position: relative;
    width: 100px;
    height: 12px;
    margin-top: 2px;
    margin-right: 20px;
    border: 1px solid #ff8484;
    background: #ffe7e7;
    border-radius: 8px;
    overflow: hidden;
}
.pro ul li .progress span i {
    display: inline-block;
    position: absolute;
    height: 12px;
    width: 50px;
    left: 0;
    top: 0;
    background: #ff8484;
}
.pro ul li .cartBtn {
    position: absolute;
    width: 28px;
    height: 28px;
    bottom: 45px;
    right: 20px;
    cursor: pointer;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v2/cz/styles/images/bg2.png?v=20171112) no-repeat -124px 0;
}
.xsqg-float-bar {
    position: relative;
    width: 40px;
    background: #999;
}
.xsqg-float-bar ul {
    width: 50px;
}
.xsqg-float-bar ul li {
    width: 30px;
    height: 30px;
    padding: 5px;
    text-align: center;
    line-height: 14px;
    cursor: pointer;
}
.xsqg-float-bar ul li a {
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
    color: #fff;
    font-family: "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.xsqg-float-bar .on {
    position: relative;
    width: 30px;
    background: #f90;
}
.xsqg-float-bar .xsqg-backTop {
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    width: 30px;
    height: 30px;
    padding: 5px 8px;
}