base*/
.fl{float: left !important;}
.fr{float: right;}
.w1200{width: 1200px;  margin: 0 auto;}
.ml10{margin-left: 10px;}
.clear,.clearfix{ clear:both;}
.red {
    color: #f42828;
}
.w1390{
    width: 1390px;
    margin: 0 auto;
}
a{color: #555;text-decoration: none;}
.clearfix:after,.clearfix:before{ content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.none{display: none;}
.active{
    display: block;
}
/*logo*/
.home {
    background: url(https://img30.360buyimg.com/da/jfs/t28189/116/157116424/126298/ede6f30f/5be96345N03f15bd7.png) #f5f5f5 top center no-repeat;
    /*background-color: #0026FFFF;*/
}
.top{
    height: 28px;
    line-height: 28px;
    background-color: #ddd;
}
.top .logo {
    float: left;
    width: 232px;
    text-align: center;
    box-shadow: 3px 0px 7px rgba(0,0,0,.2);
    position: relative;
    background-color: #fff;
    float: left;
}
.top .logoImg {
    height: 126px;
    margin: 0;
}
.top .logoImg a {
    width: 232px;
    height: 126px;
    display: table-cell;
    vertical-align: middle;
}
.mdz-logoImg{
    float: left;
    margin-top: 20px;
}

/*header begin*/
.header {
    height: 126px;
    padding-bottom: 0;
    background-color: #fff;
}
.header .header_con {
    float: left;
    width: calc(100% - 232px);
    
}
.header .site-nav {
    height: 30px;
    line-height: 30px;
}
.site-nav {
    background: #eee;
    margin-bottom: 1px;
}
.city-choice {
    float: left;
}
.mdz-cm {
    position: relative;
    height: 28px;
    line-height: 28px;
    z-index: 1;
    float: left;
    border: 1px solid #eee;
}
.mdz-choie {
    position: relative;
    overflow: hidden;
    padding: 0 7px;
}
.mdz-choie .iconfont {
    font-size: 20px;
    color: #f42424;
    float: left;
    height: 26px;
}
.mdz-choie .ui-areamini-text {
    float: left;
    display: block;
    margin-left: 10px;
}
.txt-info {
    float: left;
    margin-left: 15px;
}
.txt-info a.link-login {
    padding-right: 12px;
    float: left;
}
.txt-info a.link-regist {
    color: #8c8c8c;
    float: left;
}
.txt-info a.link-regist:hover{
color: #f42828;
}
.quick-menu li {
    float: left;
    position: relative;
}
.quick-menu li .dt {
    padding-left: 7px;
    padding-right: 7px;
}
.quick-menu li .dt a:hover{
    color: #f42828;
}
.quick-menu li.spacer {
    overflow: hidden;
    margin: 11px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
}
.quick-menu li a {
    color: #8c8c8c;
    display: block;
}
.quick-menu li.li_dorpdown {
    cursor: pointer;
    position: relative;
}
.dorpdown-layer {
    display: none;
    position: absolute;
    border: 1px solid #d2d2d2;
    background-color: #fff;
    top: 30px;
    right: 0;
    /*z-index: 22;*/
}
.quick-menu li.li_dorpdown .dorpdown-layer {
    padding: 18px 0px;
    min-width: 380px;
}
.dorpdown-layer dl {
    float: left;
    padding: 0 0 0 30px;
    border-right: 1px solid #efefef;
    width: 85px;
}
.dorpdown-layer dl dd {
    float: left;
}
.dorpdown-layer dl .item {
    float: left;
    width: 75px;
}
.quick-menu li a {
    color: #8c8c8c;
    display: block;
}
.quick-menu li a:hover {
    color: #f42828;
}
.dorpdown-layer dl:last-child {
    border-right: 0;
}
.dorpdown-layer dl.fore2 {
    width: 225px;
}

.dsc-cm {
    position: relative;
    border: 1px solid #eee;
    height: 28px;
    line-height: 28px;
    z-index: 1;
}
.zindex{
    z-index: 22;
}
.zindex .dsc-cm{
    background-color: #fff;
   border-color: #ccc;
   border-bottom: none;
   padding-bottom: 2px;
}
/*header ednd*/

/*搜索框*/
.header .mdz-search {
    margin: 20px 0 0 170px;
}
.mdz-search {
    float: left;
    width: 546px;
    position: relative;
}
.mdz-search .search-form {
    float: left;
}
.mdz-search .search-text {
    width: 378px;
    height: 14px;
    padding: 8px;
    border: 2px solid #f42424;
    outline: 0;
    font-size: 12px;
    float: left;
    color: #999;
}
.mdz-search .button-goods {
    margin-right: 8px;
}
.mdz-search .button {
    border: 0;
    width: 70px;
    height: 34px;
    line-height: 34px;
    background-color: #f42424;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    float: left;
    outline: 0;
}
.mdz-search .button-store {
    background-color: #b31919;
}
.mdz-search .keyword {
    float: left;
    width: 100%;
}
.mdz-search .keyword li {
    float: left;
    height: 28px;
    line-height: 28px;
    margin-right: 10px;
}
.mdz-search .keyword li a {
    display: block;
    color: #999;
}
.mdz-search .keyword li a:hover{
    color: #f42424;
}
.suggestions_box {
    width: 395px;
    background: white;
    border: 1px solid #f42424;
    position: absolute;
    z-index: 99999;
    border-top: none;
    top: 34px;
    left: 0px;
}
.suggestions_box .suggestions_list ul li {
    height: 28px;
    line-height: 28px;
    clear: both;
    padding: 0 5px;
}
.suggestions_box .suggestions_list ul li .left-span {
    width: 306px;
    height: 28px;
    overflow: hidden;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.suggestions_box .suggestions_list ul li .suggest_span {
    float: right;
    color: #d2d2d2;
}
/*购物车*/
.header .shopCart {
    margin: 20px 20px 0 0;
    position: relative;
}
.shopCart {
    float: right;
    margin-top: 30px;
}
.shopCart .shopCart-con {
    width: 178px;
    height: 33px;
    line-height: 33px;
    border-color: #d2d2d2;
}
.shopCart .shopCart-con a {
    display: block;
    color: #f42424;
}
.shopCart .shopCart-con .icon-tuanduicankaoxian- {
    padding-left: 30px;
    font-size: 20px;
    float: left;
}
.shopCart .shopCart-con span {
    margin-left: 8px;
}
.shopCart .shopCart-con .count, .attached-search-container .shopCart-con .count {
    min-width: 13px;
    height: 13px;
    line-height: 13px;
    padding: 1px;
    border-radius: 50%;
    background: #f42424;
    color: #fff;
    position: absolute;
    top: 6px;
    left: 122px;
    text-align: center;
    font-size: 12px;
}
.shopCart .shopCart-con .icon-carts {
    padding-left: 30px;
    font-size: 20px;
    float: left;
}
.shopCart .dorpdown-layer {
    top: 35px;
    width: 312px;
}
.shopCart .prompt {
    padding: 20px 20px 20px 36px;
}
.shopCart .prompt .nogoods {
    overflow: hidden;
}
.shopCart .prompt b {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/cart-nogoods.png) no-repeat;
    display: block;
    width: 110px;
    height: 68px;
    float: left;
}
.shopCart .prompt span {
    float: left;
    display: block;
    font-size: 12px;
    color: #8c8c8c;
    margin: 6px 0 0 14px;
    line-height: 25px;
    width: 132px;
}
.settleup-content {
    position: relative;
    width: 100%;
    z-index: 2;
    background: #fff;
}
.settleup-content .mc {
    height: auto;
    max-height: 334px;
    overflow: auto;
}
.settleup-content ul {
    margin-top: -1px;
}
.settleup-content li {
    padding: 10px;
    border-top: 1px dashed #ccc;
    overflow: hidden;
    line-height: 18px;
    vertical-align: bottom;
}
.settleup-content .p-img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #d3d3d3;
    padding: 0;
    margin-right: 8px;
    font-size: 0;
}
.settleup-content .p-name {
    float: left;
    width: 100px;
    height: 36px;
    overflow: hidden;
    margin: 5px 8px 0 0;
}
.settleup-content .p-number {
    float: left;
    margin-top: 9px;
}
.settleup-content .p-number .num {
    width: 23px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #d6d6d6;
    display: block;
    float: left;
    text-align: center;
}
.settleup-content .p-number .count {
    float: left;
    height: 28px;
    width: 18px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.settleup-content .p-number .count a {
    display: block;
    width: 18px;
    height: 14px;
    border-right: 1px solid #d6d6d6;
    text-align: center;
}
.settleup-content .p-number .count .count-add {
    border-bottom: 1px solid #d6d6d6;
}
.settleup-content .p-number .count .iconfont {
    font-size: 12px;
    display: block;
    height: 14px;
}
.settleup-content .p-oper {
    float: right;
    text-align: center;
    margin-top: 5px;
}
.settleup-content .p-oper .price {
    font-weight: 700;
}
.settleup-content .mb {
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}
.settleup-content .p-total {
    float: left;
    line-height: 28px;
    color: #999;
}
.settleup-content .btn-cart {
    display: block;
    float: right;
    width: 96px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #f42424;
    background: #eee;
    text-align: center;
    color: #f42424;
}
/*nav begin*/
.nav {
    border-bottom: 1px solid #f42424;
}
.nav {
    height: 40px;
    position: relative;
    z-index: 9;
    background-color: #fff;
}
.nav .categorys .categorys-type {
    line-height: 41px;
}
.nav .categorys .categorys-type {
    background-color: #f42424;
    text-align: center;
    font-size: 0;
    line-height: 40px;
}
.nav .categorys{
    float: left;
    width: 240px;
    height: 40px;
    position: relative;
}
.nav .categorys .categorys-type a{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    display: block;
}
.nav .nav-main {
    float: left;
    width: 960px;
    overflow: hidden;
    height: 40px;
    line-height: 40px;
}
.nav .nav-main li {
    float: left;
    margin-left: 38px;
}
.nav .nav-main li a:hover, .nav .nav-main li a.curr {
    color: #e23435;
}
.nav .nav-main li a {
    font-size: 16px;
    color: #555;
    display: block;
}
/*footer*/
.footer-new {
    background-color: #eee;
    margin-top: 80px;
    overflow: hidden;
}

.footer-new-top {
    padding: 24px 0;
}
.footer-new-top .service-list {
    overflow: hidden;
    float: left;
}
.service-list .service-item {
    float: left;
    width: 170px;
    height: 32px;
    line-height: 30px;
    overflow: hidden;
    padding-right: 10px;
}
.f-icon {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/footer_new_icon.png) no-repeat;
    display: inline-block;
}
.f-icon-qi {
    background-position: -68px 0;
}
.f-icon-zheng {
    background-position: -34px 0;
}
.f-icon-hao {
    background-position: 0 0;
}
.f-icon-shan {
    background-position: -102px 0;
}
.f-icon-quan {
    background-position: -136px 0;
}
.service-list .service-item .f-icon {
    width: 32px;
    height: 32px;
    float: left;
}
.service-list .service-item span {
    float: left;
    font-size: 18px;
    color: #888888;
    margin-left: 12px;
}
.footer-new-top .contact {
    float: right;
}
.contact .contact-item {
    float: left;
    height: 32px;
    line-height: 30px;
}

.f-icon-tel {
    background-position: -3px -103px;
}
.contact .contact-item .f-icon-tel {
    width: 22px;
    height: 24px;
    float: left;
    margin-top: 5px;
}
.contact .contact-item span {
    float: left;
    color: #262626;
    font-size: 16px;
    font-weight: bold;
    margin-left: 8px;
    overflow: hidden;
}
.contact .contact-item.contact-item-first span {
    width: 140px;
    margin-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contact .contact-item {
    float: left;
    height: 32px;
    line-height: 30px;
}
.f-icon-kefu {
    background-position: -3px -138px;
}
.contact .contact-item .f-icon-kefu {
    width: 27px;
    height: 24px;
    float: left;
    margin-top: 4px;
}
.footer-bg {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/footer.png) no-repeat center ;
}
.footer-new-con .fnc-warp {
    padding: 30px 0;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.footer-new-con .help-list {
    float: left;
    width: 900px;
}
.footer-new-con .help-list .help-item {
    float: left;
    width: 170px;
    padding-right: 10px;
}
.footer-new-con .help-list .help-item h3 {
    font-size: 16px;
    font-weight: bold;
    color: #615f5f;
    margin-bottom: 20px;
}
.footer-new-con .help-list .help-item li {
    line-height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.footer-new-con .help-list .help-item li a {
    font-size: 14px;
    color: #3c3b3b;
    width: 100%;
  
}
.footer-new-con .help-list .help-item li a:hover{
    color: #f42828;
}
.footer-new-con .qr-code {
    float: right;
}
.footer-new-con .qr-code .qr-item {
    float: left;
    width: 104px;
    padding: 2px;
    background-color: #fff;
}
 .footer-new-con .qr-code .qr-item .code_img, .footer-new-con .qr-code .qr-item .code_img img {
    width: 104px;
    height: 104px;
}
.footer-new-con .qr-code .qr-item .code_txt {
    width: 100%;
    height: 20px;
    background-color: #121212;
    text-align: center;
    color: #fff;
}
.footer-new-bot {
    overflow: hidden;
    padding: 30px 0 20px;
}
.footer-new-bot p {
    text-align: center;
    color: #4c4c4c;
}
.footer-new-bot .copyright_links a {
    color: #888;
    display: inline-block;
}
.footer-new-bot .copyright_links a:hover{
    color: #f42828;
}
.footer-new-bot .copyright_links .spacer {
    overflow: hidden;
    margin: 0 17px;
    width: 1px;
    height: 11px;
    background-color: #444;
    display: inline-block;
}
.footer-new-bot .copyright_auth {
    overflow: hidden;
    padding-top: 15px;
}
.footer-new-bot .copyright_auth a img {
    max-height: 48px;
}
.footer-new-bot .copyright_links {
    margin-bottom: 10px;
}
/*侧边栏*/
/*.quick_links_wrap, .mui-mbar-tabs {
    height: 100%;
    width: 40px;
    right: 0;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 100002;
    height: 100%;
    -webkit-transition: width linear .4s;
    -moz-transition: width linear .4s;
    -ms-transition: width linear .4s;
    transition: width linear .4s;
    _position: fixed;
    _bottom: auto;
    _top: expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-10);
}
.quick_links_panel {
    width: 40px;
    height: 100%;
    position: absolute;
    background: #000;
    z-index: 2;
    top: 0;
    left: 0px;
    font-family: 'microsoft yahei',arial;
}
.quick_links {
    position: absolute;
    top: 40%;
    left: 0;
    margin-top: -190px;
    background: #000;
    z-index: 2;
    width: 40px;
}
.quick_links li {
    position: relative;
    display: block;
    left: 0;
    top: 0px;
    margin-top: 10px;
}
.quick_links_panel a {
    display: block;
    line-height: 200px;
    width: 40px;
    height: 38px;
    text-decoration: none;
    color: #d8d8d8;
    font-size: 12px;
    overflow: hidden;
    background-color: #000;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0px;
    z-index: 1;
    margin: 0;
    padding: 0;
}
.mui-mbar-tabs i, .ibar_closebtn, .login_order, .login_favorite {
    display: inline-block;
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/common/ibar_sprites.png) no-repeat;
    cursor: pointer;
    height: 19px;
    width: 18px;
    vertical-align: top;
    position: absolute;
}
.quick_links i.setting {
    background-position: 0 0;
    width: 18px;
    height: 19px;
    top: 10px;
    left: 11px;
}
.quick_links a.cart_list {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/common/ibar_sprites.png) no-repeat;
    line-height: 16px;
    height: 133px;
    background-position: -23px -225px;
    color: #fff;
    margin: 10px 0;
}
.quick_links i.message {
    background-position: 2px -29px;
    width: 23px;
    height: 18px;
    top: 11px;
    left: 9px;
}
.quick_links a.cart_list .span {
    width: 16px;
    display: block;
    height: 48px;
    margin: 38px 0 0 14px;
    cursor: pointer;
}
.quick_links a.cart_list .cart_num {
    width: 21px;
    height: 21px;
    display: block;
    border-radius: 50%;
    background: #f42424;
    text-align: center;
    line-height: 21px;
    margin: 5px 0 0 10px;
    cursor: pointer;
    color: #fff;
}
.quick_links .chongzhi {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/common/chongzhi.png) no-repeat;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 2px;
}
.quick_links .yhq {
    width: 18px;
    height: 13px;
    background-position: -36px 0;
    top: 12px;
    left: 11px;
}
.quick_links i.view {
    width: 18px;
    height: 18px;
    background-position: 0 -57px;
    top: 10px;
    left: 11px;
}
.quick_links .zuji {
    width: 18px;
    height: 24px;
    background-position: -1px -110px;
    top: 8px;
    left: 12px;
}
.quick_links .wdsc {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/common/wdsc.png) no-repeat;
    width: 35px;
    height: 35px;
    top: 2px;
    left: 3px;
}
.quick_links .email {
    background: url(https://www.maidezhao.com/themes/ecmoban_dsc2017/images/common/email.png) no-repeat;
    width: 35px;
    height: 35px;
    top: 1px;
    left: 3px;
}
.quick_links_panel .icon_arrow_right_black {
    position: absolute;
    right: -5px;
    top: 15px;
    width: 5px;
    height: 9px;
    background-position: 0 -234px;
    overflow: hidden;
}
.quick_links_panel .mp_tooltip {
    height: 38px;
    line-height: 38px;
    width: 92px;
    position: absolute;
    z-index: 2;
    left: -121px;
    top: 0;
    background: #000;
    color: #d8d8d8;
    text-align: center;
    display: block;
    visibility: hidden;
}
.quick_links_panel .quick_toggle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px;
    background: #000;
    z-index: 1;
}
.quick_links_allow_gotop .returnTop {
    display: block;
}

.quick_toggle .top {
    background-position: 0 -201px;
    width: 17px;
    height: 14px;
    top: 12px;
    left: 12px;
}
.quick_toggle i.kfzx {
    width: 18px;
    height: 18px;
    top: 11px;
    left: 11px;
    background-position: -1px -174px;
}
.ibar_login_box {
    width: 267px;
    height: 185px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    border-radius: 5px 0 0 5px;
    z-index: 3;
    position: absolute;
    left: -287px;
    top: 0px;
    display: none;
}
.ibar_login_box .avatar_box {
    width: 267px;
    overflow: hidden;
    height: 120px;
}
.status_login .avatar_imgbox {
    float: left;
    margin: 6px 20px 0 5px;
    display: inline;
}
.ibar_login_box .avatar_imgbox {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
.ibar_login_box .avatar_box p {
    font-size: 14px;
    color: #333;
    text-align: center;
}
.status_login .user_info {
    overflow: hidden;
    color: #333;
    padding-top: 30px;
    line-height: 24px;
    width: 140px;
    float: left;
}
.status_login .user_info li {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.ibar_login_box .login_btnbox {
    width: 267px;
    height: 79px;
    border-top: 1px dotted #d5d5d5;
    overflow: hidden;
    padding-top: 15px;
    clear: both;
}
.ibar_login_box .login_btnbox a {
    width: 94px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    color: #333;
    text-decoration: none;
    float: left;
    background-position: 0 -408px;
    background-repeat: repeat-x;
    border-color: #e9e9e9;
}
.ibar_login_box .login_btnbox .login_order {
    margin: 0 10px 0 35px;
}
.ibar_login_box .login_btnbox .login_favorite {
    border-color: #e9e9e9;
}
.ibar_login_box .icon_arrow_white {
    position: absolute;
    right: -5px;
    top: 15px;
    width: 5px;
    height: 9px;
    background-position: 0 -253px;
}
.quick_links a:hover, .quick_links a.current, .quick_toggle a:hover {
    background: #f42424;
    text-decoration: none;
}*/
/*左侧导航栏*/
.ECode-floatBar{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000;
    right: auto;
    margin-top: -303.5px;
    margin-left: -690px;
}
.float-bar {
    position: relative;
    width: 80px;
    background: #fff;
}
.float-bar .float-title {
    position: relative;
    width: 80px;
    height: 60px;
    padding-top: 20px;
    cursor: pointer;
}
.float-bar .float-title i {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    padding-top: 0;
    background: url(https://res.suning.cn/project/cmsWeb/suning/superMarket/v3/styles/images/chaoshi.png?v=2018091801) no-repeat;
    background-position: -593px 0;
}
.float-bar .float-title p {
    display: none;
    position: absolute;
    width: 150px;
    height: 192px;
    left: 100px;
    top: 0;
    background: #fff;
}
.float-bar .float-title p img {
    display: block;
    width: 106px;
    height: 106px;
    margin: 20px 22px 12px;
    background: #eee;
}
.float-bar .float-title p em {
    text-align: center;
    display: block;
    color: #666;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
}
.float-bar .floor-nav {
    width: 80px;
    height: 17px;
    padding: 7px 0;
    color: #444;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    text-align: center;
    background: #fff;
    cursor: pointer;
}
.float-bar .on{
    background: #e42e3c;
}
.float-bar .on a{
 color: #fff;
}
.float-bar .backTop {
    display: block;
    width: 80px;
    height: 17px;
    padding: 7px 0;
    color: #e42e3c;
    font: 12px/17px "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB";
    text-align: center;
    background: #fff;
}