{extend name='public/base' /}
	{block name='css'}
	<link rel="stylesheet" href="__STATIC__/index/css/goods.css">
	<script type="text/javascript" src="__STATIC__/index/js/imagezoom.js"></script>
	<script type="text/javascript" src="__STATIC__/index/js/goods.js"></script>
	{/block}
</head>
<body>
	{block name='content'}
	<div class="w1200">
		<!-- 模块导航 -->
		<div class="nav">
			<div class="categorys">
				<div class="categorys-type">
					<a href="">超市商品分类</a>
				</div>
			</div>
			<div class="nav-main">
				<ul class="navitems">
					<li>
						<a href="" class="curr">首页</a>
					</li>
					<li>
						<a href="">超市</a>
					</li>
					<li>
						<a href="">省鲜生</a>
					</li>
					<li>
						<a href="">砚山好货</a>
					</li>
				</ul>
				<ul class="mdz-commitment fr">
					<li>
						<a href="#">
							<i class="commitment-icon no-mail"></i>
							<span>满99元免邮</span>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="commitment-icon quality-goods"></i>
							<span>100%正品渠道</span>
						</a>
					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="full-main-n">
		<div class="w1200 relative">
			<div class="crumbs-nav">
				<div class="crumbs-nav-main clearfix">
					<div class="crumbs-nav-item">
						<div class="menu-drop">
							<div class="trigger">
								<a href="">
									<span>手机电脑</span>
								</a>
								<i class="iconfont icon-down"></i>
							</div>
							<div class="menu-drop-main">
								<ul>
									<li><a href="">手机通讯</a></li>
									<li><a href="">电脑、办公</a></li>
									<li><a href="">手机配件</a></li>
									<li><a href="">智能设备</a></li>
								</ul>
							</div>
						</div>
						<i class="iconfont icon-right"></i>
					</div>
					<div class="crumbs-nav-item">
						<div class="menu-drop">
							<div class="trigger">
								<a href="">
									<span>手机电脑</span>
								</a>
								<i class="iconfont icon-down"></i>
							</div>
							<div class="menu-drop-main">
								<ul>
									<li><a href="">手机通讯</a></li>
									<li><a href="">电脑、办公</a></li>
									<li><a href="">手机配件</a></li>
									<li><a href="">智能设备</a></li>
								</ul>
							</div>
						</div>
						<i class="iconfont icon-right"></i>
					</div>
					<div class="crumbs-nav-item">
						<div class="menu-drop">
							<div class="trigger">
								<a href="">
									<span>手机</span>
								</a>
								<i class="iconfont icon-down"></i>
							</div>
							<div class="menu-drop-main">
								<ul>
									<li><a href="">手机通讯</a></li>
									<li><a href="">电脑、办公</a></li>
									<li><a href="">手机配件</a></li>
									<li><a href="">智能设备</a></li>
								</ul>
							</div>
						</div>
						<i class="iconfont icon-right"></i>
					</div>
					<span class="cn-goodsName">小米8青春版 镜面渐变 AI双摄 全面屏拍照游戏智能手机 6GB+64GB 梦幻蓝 全网通4G 双卡双待</span>
				</div>
			</div>
		</div>
	</div>
	<div class="container clearfix">
		<div class="w1200">
			<div class="product-info mt20">
				<!-- 商品图 -->
				<div class="preview">
					<div class="gallery_wrap">
						<ul>
							<li>
								<img src="https://img14.360buyimg.com/n0/jfs/t17149/173/1779654602/189601/335d3d90/5ad8628dN03dc292f.jpg" rel="https://img14.360buyimg.com/n0/jfs/t18157/222/1822300674/231514/6c179af8/5ad87390N086a3c91.jpg" alt="" id="J_ImgBooth"
								width="398"
								height="398">
							</li>
						</ul>
					</div>
					<div class="spec-list">
						<a href="javascript:void(0);" class="spec-prev prevStop">
							<i class="iconfont icon-left"></i>
						</a>
						<div class="spec-items">
							<div class="tempWrap clearfix">
								<ul id="J_UlThumb">
									<li>
										<img 
										src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg" 
										mid="https://img14.360buyimg.com/n1/s546x546_jfs/t18157/222/1822300674/231514/6c179af8/5ad87390N086a3c91.jpg"
										big="https://img14.360buyimg.com/n0/jfs/t18157/222/1822300674/231514/6c179af8/5ad87390N086a3c91.jpg"
										alt="">
									</li>
									<li>
										<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905587146.jpg"
										mid="https://img14.360buyimg.com/n1/s546x546_jfs/t17182/309/1827778274/193744/e9b2dadd/5ad87378N6f65194a.jpg"
										big="https://img14.360buyimg.com/n0/jfs/t17182/309/1827778274/193744/e9b2dadd/5ad87378N6f65194a.jpg"
										
										>
										
									</li>
									<li>
										<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg"
											mid="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg"
											big="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg" 
											alt="">
									</li>
									<li>
											<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg"
											mid="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg"
											big="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905586715.jpg" 
											 alt="">
										
									</li>
									<li>
										
											<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905588843.jpg"
											mid="https://mdz.oss-cn-beijing.aliyuncs.com/images/201809/thumb_img/0_thumb_P_1537905588843.jpg"
											big="https://img14.360buyimg.com/n0/jfs/t17149/173/1779654602/189601/335d3d90/5ad8628dN03dc292f.jpg" 
											 alt=""
									</li>
								</ul>
							</div>
						</div>
						<a href="javascript:void(0);" class="spec-next nextStop"><i class="iconfont icon-right"></i></a>
					</div>
					<div class="short-share">
						<div class="left-btn">
							<div class="duibi">
							<a href="">
								<input type="checkbox">
								<label for="2705" class="ui-label">对比</label>
							</a>
						</div>
						<a href="" class="collection choose-btn-coll">
							<i class="iconfont choose-btn-icon icon-collection" id="collection_iconfont"></i>
							<em>收藏 (<span id="collect_count">0</span>)</em>
						</a>
						<div class="bdsharebuttonbox bdshare-button-style0-16" style=" width:50px; height:25px; float:left;">
							<a href="share bds_more" style=" width:50px; height:25px; background:none; margin:0px 0px 0px 15px; padding:0px;">
								<i class="iconfont icon-share"></i>
								<em>分享</em>
							</a>
						</div>
						<a class="report fr" href="#none" ectype="report"><em>举报</em></a>
						</div>
					</div>
				</div>
				<!-- 商品属性 -->
				<div class="product-wrap">
					<form action="">
						<div class="name">小米8青春版 镜面渐变 AI双摄 全面屏拍照游戏智能手机 6GB+64GB 梦幻蓝 全网通4G 双卡双待</div>
						<div class="summary">
							<div class="summary-price-wrap">
								<div class="s-p-w-wrap">
									<div class="summary-item si-shop-price">
										<div class="si-tit">商 城 价</div>
										<div class="si-warp">
                                            <strong class="shop-price"><em>¥</em>1999.00</strong>
                                            <span class="price-notify">降价通知</span>
                                        </div>
									</div>
									<div class="summary-item si-market-price">
										<div class="si-tit">市 场 价</div>
										<div class="si-warp">
											<div class="m-price"><em>¥</em>2398.80</div>
										</div>
									</div>
									<div class="si-info">
										<div class="si-cumulative">累计评价<em>0</em></div>
										<div class="si-cumulative">累计销量<em>0</em></div>
									</div>
									<div class="si-phone-code">
										<div class="qrcode-wrap">
                                            <div class="qrcode_tit">手机购买<i class="iconfont icon-qr-code"></i></div>
                                            <div class="qrcode_pop">
                                                <div class="mobile-qrcode"><img src="https://www.maidezhao.com/images/weixin_img/weixin_code_2705.png" alt="商品二维码" title="买得着商城" width="175"></div>
                                            </div>
                                        </div>
									</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="summary-basic-info">
								<div class="summary-item is-stock">
									<div class="si-tit">配送</div>
									<div class="si-warp">
										<span class="initial-area">文山</span>
										<span>至</span>
										<div class="store-selector">
										<div class="text-select">
											<div class="tit">
											    <span>云南&nbsp;文山&nbsp;</span><i class="iconfont icon-down"></i>
											</div>
											<div class="area-warp"></div>
										</div>
									</div>
									<div class="store-warehouse">
										<div id="isHas_warehouse_num" class="store-prompt"><strong>有货</strong>，下单后立即发货</div>
									</div>
									</div>
								</div>
								<div class="summary-item is-service">
									<div class="si-tit">服务</div>
									<div class="si-warp">
										<div class="fl">
	                                        <a href="javascript:void(0)" class="link-red">砚山买得着商城</a> 发货并提供售后服务。 
	                                    </div>
	                                    <div class="fl pl10" id="user_area_shipping">
	                                    	<span class="gary">[ 包邮 ]</span>
                                        </div>
									</div>
								</div>
								<div class="summary-item is-integral">
                                    <div class="si-tit">可用积分</div>
                                    <div class="si-warp">可用 <span class="integral">0</span></div>
                                </div>
                                <div class="summary-item">
                                    <div class="si-tit">承诺</div>
                                    <div class="si-warp">
                                        <ul class="tips-list">
                                            <li class="choose-item choose-zp"><i class="iconfont icon-zheng"></i>正品</li> 
                                            <li class="choose-item choose-bt"><i class="iconfont icon-money"></i>包退</li> 
                                            <li class="choose-item choose-ss"><i class="iconfont icon-light"></i>闪速</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="summary-item is-attr goods_info_attr1">
                                	<div class="si-tit">颜色</div>
                                	<div class="si-warp">
                                		<ul>
                                			<li class="item selected">
                                				<b></b>
                                				<a href="javascript:void(0);">
                                					<img src="https://mdz.oss-cn-beijing.aliyuncs.com/data/goods_attr_img/c6975e276935a2a648b83d5b1669a628.jpg" alt="" height="24" width="24">
                                					<i>深灰</i>
                                				</a>
                                			</li>
                                			<li class="item">
                                				<b></b>
                                				<a href="javascript:void(0);">
                                					<img src="https://mdz.oss-cn-beijing.aliyuncs.com/data/goods_attr_img/c6975e276935a2a648b83d5b1669a628.jpg" alt=""  height="24" width="24">
                                					<i>深灰</i>
                                				</a>
                                			</li>
                                		</ul>
                                	</div>
                                </div>
                                <div class="summary-item is-attr goods_info_attr goods_info_attr2">
                                	<div class="si-tit">版本</div>
                                	<div class="si-warp">
                                		<ul>
                                			<li class="item selected">
                                				<b></b>
                                				<a href="javascript:void(0);">
                                					<i>全网通6G+64GG</i>
                                				</a>
                                			</li>
                                			<li class="item">
                                				<b></b>
                                				<a href="javascript:void(0);">
                                					<i>全网通6G+128G</i>
                                				</a>
                                			</li>
                                		</ul>
                                	</div>
                                </div>
                                <div class="summary-item is-number">
                                	<div class="si-tit">数量</div>
                                	<div class="si-warp">
                                		<div class="amount-warp">
                                			<input class="text buy-num" ectype="quantity" value="1" name="number" defaultnumber="1">
                                			<div class="a-btn">
                                                <a href="javascript:void(0);" class="btn-add" ectype="btnAdd"><i class="iconfont icon-up"></i></a>
                                                <a href="javascript:void(0);" class="btn-reduce btn-disabled" ectype="btnReduce"><i class="iconfont icon-down"></i></a>
                                            </div>
                                		</div>
                                		<span>库存&nbsp;<em id="goods_attr_num" ectype="goods_attr_num">100</em>&nbsp;个</span>
                                	</div>
                                </div>
                                <div class="clear"></div>
							</div>
							<div class="choose-btns ml60 clearfix">
								<a href="javascript:addToCart(2620)" data-type="0" class="btn-buynow" ectype="btn-buynow">立即购买</a>
								<a href="javascript:addToCartShowDiv(2620)" class="btn-append" ectype="btn-append"><i class="iconfont icon-carts"></i>加入购物车</a>
							</div>
						</div>
					</form>
				</div>
				<!-- 看了又看 -->
				<div class="track">
					<div class="track_warp">
						<div class="track-tit">
							<h3>看了又看</h3>
						</div>
						<div class="track-con">
							<div class="tempWrap">
								<ul>
									<li>
										<div class="p-img">
											<a href="">
											<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201710/thumb_img/1467_thumb_G_1508464337184.jpg" width="140" height="140">
											</a>
										</div>
										<div class="p-name">
											<a href="">联想/Lenovo X315 四核A10 GTX750游戏电脑 商用办公家用台式电脑</a>
										</div>
										<div class="price">
											<em>¥</em>5099
										</div>
									</li>
									<li>
										<div class="p-img">
											<a href="">
											<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201710/thumb_img/1467_thumb_G_1508464337184.jpg" width="140" height="140">
											</a>
										</div>
										<div class="p-name">
											<a href="">联想/Lenovo X315 四核A10 GTX750游戏电脑 商用办公家用台式电脑</a>
										</div>
										<div class="price">
											<em>¥</em>5099
										</div>
									</li>
									<li>
										<div class="p-img">
											<a href="">
											<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201710/thumb_img/1467_thumb_G_1508464337184.jpg" width="140" height="140">
											</a>
										</div>
										<div class="p-name">
											<a href="">联想/Lenovo X315 四核A10 GTX750游戏电脑 商用办公家用台式电脑</a>
										</div>
										<div class="price">
											<em>¥</em>5099
										</div>
									</li>
									<li>
										<div class="p-img">
											<a href="">
											<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201710/thumb_img/1467_thumb_G_1508464337184.jpg" width="140" height="140">
											</a>
										</div>
										<div class="p-name">
											<a href="">联想/Lenovo X315 四核A10 GTX750游戏电脑 商用办公家用台式电脑</a>
										</div>
										<div class="price">
											<em>¥</em>5099
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="track-more">
					        <a href="javascript:void(0);" class="sprite-up prevStop"><i class="iconfont icon-up"></i></a>
					        <a href="javascript:void(0);" class="sprite-down"><i class="iconfont icon-down"></i></a>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="goods-main-layout">
				<div class="g-m-left">
					<div class="g-main g-store-info">
						<div class="mt">
							<h3>砚山买得着商城</h3>
							<a href="" class="s-a-kefu" target="_blank"><i class="icon i-kefu"></i>
							</a>
						</div>
						<div class="mc">
							<div class="mc-warp">
								<div class="g-s-brand">
									<a href="" target="_blank">
										<img src="https://mdz.oss-cn-beijing.aliyuncs.com/data/brandlogo/1490073240845049320.jpg">
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="g-main">
						<div class="mt">
							<h3>相关分类</h3>
						</div>
						<div class="mc">
							<div class="mc-warp">
								<div class="items">
									<div class="item">
										<a href="" target="_blank">对讲机 电话机</a>
									</div>
									<div class="item">
										<a href="" target="_blank">手机</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="g-main">
						<div class="mt">
							<h3>同类品牌</h3>
						</div>
						<div class="mc">
							<div class="mc-warp">
								<div class="items">
									<div class="item">
										<a href="" target="_blank">OPPO</a>
									</div>
									<div class="item">
										<a href="" target="_blank">vivo</a>
									</div>
									<div class="item">
										<a href="" target="_blank">华为</a>
									</div>
									<div class="item">
										<a href="" target="_blank">三星</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="g-main g-rank">
						<div class="mc">
							<ul class="mc-tab mcThree" ectype="rankMcTab">
                            	<li class="curr">新品</li> 
                            	<li>推荐</li>
                            	<li>热销</li>
                        	</ul>
						</div>
						<div class="mc-content">
							<div class="mc-main">
								<div class="mcm-left">
									<div class="spirit"></div>
									<div class="rank-number rank-number1">1</div>
									<div class="rank-number rank-number2">2</div>
									<div class="rank-number rank-number3">3</div>
								</div>
								<div class="mcm-right">
									<ul>
										<li>
											<div class="p-img">
												<a href="">
													<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201812/thumb_img/0_thumb_P_1543856007169.jpg" alt="">
												</a>
											</div>
											<div class="p-name">
												<a href="">蜗蜗（wowo） 玫瑰花护发精油润发烫发头皮护理头发保湿卷发护理防毛躁营养水 玫瑰护发精油100ml</a>
											</div>
											<div class="p-price">
												<em>¥</em>108.00
											</div>
										</li>
										<li>
											<div class="p-img">
												<a href="">
													<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201812/thumb_img/0_thumb_P_1543856007169.jpg" alt="">
												</a>
											</div>
											<div class="p-name">
												<a href="">蜗蜗（wowo） 玫瑰花护发精油润发烫发头皮护理头发保湿卷发护理防毛躁营养水 玫瑰护发精油100ml</a>
											</div>
											<div class="p-price">
												<em>¥</em>108.00
											</div>
										</li>
										<li>
											<div class="p-img">
												<a href="">
													<img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201812/thumb_img/0_thumb_P_1543856007169.jpg" alt="">
												</a>
											</div>
											<div class="p-name">
												<a href="">蜗蜗（wowo） 玫瑰花护发精油润发烫发头皮护理头发保湿卷发护理防毛躁营养水 玫瑰护发精油100ml</a>
											</div>
											<div class="p-price">
												<em>¥</em>108.00
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 商品规格详情图 开始-->
				<div class="detail">
					<div class="ETab">
						<div class="tab-main large">
							<ul>
								<li class="current">商品介绍</li>
								<li>规格与包装</li>
								<li>售后保障</li>
								<li>商品评价<s>(53万+)</s></li>
							</ul>
							<div class="extra">
								<a href="" class="btn-primary">加入购物车</a>
							</div>
						</div>
						<div class="tab-con" id="tab-con">
							<div class="item">
								<div class="p-parameter">
									<ul class="parameter2 p-parameter-list clearfix">
									    <li title="华为P20">商品名称：华为P20</li>
									    <li title="7321794">商品编号：7321794</li>
									    <li title="480.00g">商品毛重：480.00g</li>
									    <li title="中国大陆">商品产地：中国大陆</li>
									    <li title="双卡双待单4G">多卡支持：双卡双待单4G</li>
									    <li title="薄（7mm-8.5mm）">机身厚度：薄（7mm-8.5mm）</li>
									    <li title="智能拍照">拍照特点：智能拍照</li>
									    <li title="3000mAh-3999mAh">电池容量：3000mAh-3999mAh</li>
									    <li title="人工智能，人脸识别，快速充电">热点：人工智能，人脸识别，快速充电</li>
									    <li title="6GB">运行内存：6GB</li>
									    <li title="4G LTE全网通">网络制式：4G LTE全网通</li>
									    <li title="游戏模式">游戏配置：游戏模式</li>
									    <li title="符合全面屏比例">屏幕配置：符合全面屏比例</li>
									    <li title="2000万及以上">后置摄像头像素：2000万及以上</li>
									    <li title="64GB">机身内存：64GB</li>
									    <li title="安卓（Android）">系统：安卓（Android）</li>
								    </ul>
									<p class="more-par">
			                            <a href="#product-detail" class="J-more-param">更多参数<s class="txt-arr">&gt;&gt;</s></a>
			                        </p>
								</div>
							</div >
							<div class="item none">
								<div class="Ptable-item">
									<h3>主体</h3>
									<dl>
										<dl  style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
										<dl  style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
										<dl style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
									</dl>
								</div>
								<div class="Ptable-item">
									<h3>主体</h3>
									<dl>
										<dl  style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
										<dl  style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
										<dl style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
									</dl>
								</div>
								<div class="Ptable-item">
									<h3>主体</h3>
									<dl>
										<dl  style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
										<dl  style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
										<dl style="margin: 0;">
											<dt>品牌</dt>
											<dd>vivo</dd>
										</dl>
									</dl>
								</div>
								<div class="package-list">
								    <h3>包装清单</h3>
								    <p>主机（内置电池）*1、耳机*1、充电器*1、数据线*1、保护壳*1、取卡针*1、快速入门指南*1、重要信息和保修卡*1</p>
								</div>
							</div>
							<div class="detail-content clearfix">
								<div class="detail-content-wrap">
									<div class="detail-content-item">
										<img src="https://img20.360buyimg.com/vc/jfs/t20188/90/2313011313/125114/5d9ab4d2/5b4ff443N0fecacdf.jpg" alt="">
										<img src="https://img20.360buyimg.com/vc/jfs/t1/9433/38/5943/5201749/5bdfa72cE54fb00b1/a701b35db2d82bde.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="m-content guarantee">
						<div class="mt">
	                       <h3>售后保障</h3>
	                    </div>
	                    <div class="mc">
	                    	<div class="item-detail item-detail-copyright">
	                    		<div class="serve-agree-bd">
	                    			<dl>
	                    				<dt>
                				            <i class="goods"></i>
                				            <strong>商家服务</strong>
	                    				</dt>
	                    				<dd>
	                    					本产品全国联保，享受三包服务，质保期为：一年质保<br/>
	                    					如因质量问题或故障，凭厂商维修中心或特约维修点的质量检测证明，享受7日内退货，15日内换货，15日以上在质保期内享受免费保修等三包服务！<br/>
	                    					(注:如厂家在商品介绍中有售后保障的说明,则此商品按照厂家说明执行售后保障服务。您可以查询本品牌在各地售后服务中心的联系方式，
	                    					<a target="_blank" href="http://www.huawei.com/cn/">请点击这儿查询......</a>
	                    				</dd>
	                    				<dt>
                				            <i class="goods"></i>
                				            <strong>买得着商城承诺</strong>
	                    				</dt>
	                    				<dd>
	                    					买得着商城卖家销售并发货的商品，由平台卖家提供发票和相应的售后服务。请您放心购买！<br/>
	                    					注：因商家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
	                    				</dd>
	                    				<dt>
                				            <i class="goods"></i>
                				            <strong>正品行货</strong>
	                    				</dt>
	                    				<dd>
	                    					买得着商城向您保证所售商品均为正品行货，京东自营商品开具机打发票或电子发票。
	                    				</dd>
	                    				<dt>
                				            <i class="unprofor"></i>
                				            <strong>全国联保</strong>
	                    				</dt>
	                    				<dd>
	                    					凭质保证书及买得着商城发票，可享受全国联保服务（奢侈品、钟表除外；奢侈品、钟表由买得着联系保修，享受法定三包售后服务），与您亲临商场选购的商品享受相同的质量保证。买得着商城还为您提供具有竞争力的商品价格和<a href="" target="_blank">运费政策</a>，请您放心购买！<br/>
	                    					注：因商家会在没有任何提前通知的情况下更改产品包装、产地或者一些附件，本司不能确保客户收到的货物与商城图片、产地、附件说明完全一致。只能确保为原厂正货！并且保证与当时市场上同样主流新品一致。若本商城没有及时更新，请大家谅解！
	                    				</dd>
	                    				<dt>
                				            <i class="no-worries"></i>
                				            <strong>售后无忧</strong>
	                    				</dt>
	                    				<dd class="no-worries-text">
	                    					客户购买京东自营商品7日内（含7日，自客户收到商品之日起计算），在保证商品完好的前提下，可无理由退货。（部分商品除外，详情请见各商品细则）
	                    				</dd>
	                    			</dl>
	                    		</div>
	                    		<div id="state">
	                    			<strong>权利声明：</strong>
	                    			<br>
	                    			买得着商城上的所有商品信息、客户评价、商品咨询、网友讨论等内容，是京东重要的经营资源，未经许可，禁止非法转载使用。
	                    			<p><b>注：</b>本站商品信息均来自于合作方，其真实性、准确性和合法性由信息拥有者（合作方）负责。本站不提供任何保证，并不承担任何法律责任。
	                    			</p>
	                    			<br>
	                    			<strong>价格说明：</strong>
	                    			<br>
	                    			<p><b>买得着商城价：</b>买得着商城价为商品的销售价，是您最终决定是否购买商品的依据。</p>
	                    			<p><b>划线价：</b>商品展示的划横线价格为参考价，并非原价，该价格可能是品牌专柜标价、商品吊牌价或由品牌供应商提供的正品零售价（如厂商指导价、建议零售价等）或该商品在买得着平台上曾经展示过的销售价；由于地区、时间的差异性和市场行情波动，品牌专柜标价、商品吊牌价等可能会与您购物时展示的不一致，该价格仅供您参考。</p>
	                    			<p><b>折扣：</b>如无特殊说明，折扣指销售商在原价、或划线价（如品牌专柜标价、商品吊牌价、厂商指导价、厂商建议零售价）等某一价格基础上计算出的优惠比例或优惠金额；如有疑问，您可在购买前联系销售商进行咨询。</p>
	                    			<p><b>异常问题：</b>商品促销信息以商品详情页“促销”栏中的信息为准；商品的具体售价以订单结算页价格为准；如您发现活动商品售价或促销信息有异常，建议购买前先联系销售商咨询。</p>
	                    		</div>
	                    	</div>
	                    </div>
					</div>
					<div class="m m-content comment">
						<div class="mt">
							<h3>商品评价</h3>
						</div>
						<div class="mc">
							<div class="comment-info J-comment-info">
								<div class="comment-percent">
									<strong class="percent-tit">好评度</strong>
									<div class="percent-con">99<span>%</span></div>
								</div>
								<div class="percent-info">
									<div class="tag-list tag-available">
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
										<span class=" tag-1">时尚美观(744)</span>
									</div>
								</div>
							</div>
							<div class="J-comments-list comments-list ETab">
								<div class="tab-main small">
									<ul class="filter-list">
										<li class="current">
											<a href="">全部评价<em>51万+</em></a>
										</li>
										<li >
											<a href="">晒图<em>5000</em></a>
										</li>
										<li >
											<a href="">视频晒单<em>5000+</em></a>
										</li>
										<li >
											<a href="">追评<em>5000+</em></a>
										</li>
										<li >
											<a href="">好评<em>5000+</em></a>
										</li>
										<li >
											<a href="">中评<em>5000+</em></a>
										</li>
										<li >
											<a href="">差评<em>5000+</em></a>
										</li>
									</ul>
									<div class="extra">
										<div class="sort-select J-sort-select">
										<div class="current"><span class="J-current-sortType">推荐排序</span><i></i></div> 
										<div class="others">
											<div class="curr">
											<span class="J-current-sortType">推荐排序</span><i></i>
											</div>
											<ul>
											  	<li class="J-sortType-item">推荐排序</li>
											  	<li class="J-sortType-item">时间排序</li>
											</ul> 
										</div>
										</div>
									</div>
								</div>
								<div class="tab-con">
									<div class="" id="comment-0">
										<div class="comment-item">
											<div class="user-column">
												<div class="user-info">
													<img src="//misc.360buyimg.com/user/myjd-2015/css/i/peisong.jpg" width="25" height="25" alt="M***树" class="avatar">M***树
												</div>
												<div class="user-level">
													<a class="comment-plus-icon" href="//plus.jd.com/index" target="_blank">PLUS会员</a>
												</div>
											</div>
											<div class="comment-column J-comment-column">
												<div class="comment-star star5"></div>
												<p class="comment-con">开箱使用简评昨天下午5点收到货，打开来，装了卡，到手电池65个，装了一系列A屁屁，然后准备来一壶王者农药，真心不错的980，打开速度跟运行速度几乎比我手里的米6快了一倍，打开高帧率，一直在61-64之间，没下过60（战况如何就不说了，最近不适合打牌位）音质也挺不错的，只能说旗舰机里及格了。说下续航，开了省电模式，玩了2局王者荣耀，40分钟，共耗电8个，2小时~，50分钟~，总共耗电才28个，充满电，睡觉，关闭数据流量，开wifi，后台只有~放行，十一点睡觉，第二天七点起来，才耗电3个。上班开了数据流量，一直到下午下班，中间轻度使用，看下~，浏览器，头条，~，~，京东，一天下来耗电20个，省电续航名不虚传啊，预计这样轻度使用能用三天后在充电，中度使用勉强两天，重度使用估计能用9小时左右（看具体操作），这样的水准，确实是我的菜，梦寐以求的，真香，请华为系统继续保持！拍照，还没测，后续再试！想讨教的留盐必辉。。。</p>
												<div class="pic-list J-pic-list">
													<a class="J-thumb-img current" href="#none" data-ind="-1"><img src="https://img.300hu.com/4c1f7a6atransbjngwcloud1oss/42f411df111987623318786049/imageCoverBySnapshot/1541435936_560183084.100_0.jpg" width="48" height="48" alt="M***树的晒单视频"><span class="video-icon"></span></a>
													<a class="J-thumb-img" href="#none" data-ind="0"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/3745/36/16101/37596/5be077c7Eb413de8b/9f8892c28fdd26d4.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
													<a class="J-thumb-img" href="#none" data-ind="1"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/5427/5/15835/80316/5be077c7Eaeb82fef/c6b3b1f322f5c383.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
													<a class="J-thumb-img" href="#none" data-ind="2"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/556/17/16293/74708/5be077c8E06321ece/e90ef74a68bde3b4.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
													<a class="J-thumb-img" href="#none" data-ind="3"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/5063/10/16100/105839/5be077c8Ea8a98d7c/55ef52c4ba5b8644.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
												</div>
												<div class="J-pic-view-wrap clearfix" style="display: block;">
													<div class="pic-view J-pic-view">
														<div class="pic-op">
															<a class="turn-left J-turn-left" href="#none">
																<i class="sprite-turn-left"></i>
															左转
															</a>
															<a class="turn-left J-turn-right" href="#none">
															<i class="sprite-turn-right"></i>
															右转
														    </a> 
													    </div>
													    <img src="//img30.360buyimg.com/shaidan/s616x405_jfs/t1/5427/5/15835/80316/5be077c7Eaeb82fef/c6b3b1f322f5c383.jpg" style="transform: rotate(0deg); margin-left: 0px; margin-top: 0px;">
													    <div class="cursor-prev J-sprite-prev" style="display: block;"></div>
													    <div class="cursor-small J-hide-big-show"></div>
													    <div class="cursor-next J-sprite-next"></div>
													</div>
													<div class="J-video-view-wrap clearfix none">
														<div class="video-js">
															<video >
															  <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
															  <source src="movie.ogg" type="video/ogg">
															您的浏览器不支持Video标签。
															</video>
														</div>
													</div>
													<div class="comment-message clearfix">
														<div class="order-info">
															<span>翡冷翠</span>
															<span>标准版</span>
															<span>6GB+128GB</span>
															<span>2018-11-06 01:03</span>
														</div>
														<div class="comment-op">
															<a class="J-report" href="#none">举报</a>
															<a class="J-nice"  href="#none" ><i class="sprite-praise"></i>19</a> 
															<a href="" target="_blank"><i class="sprite-comment"></i>27</a>
														</div>
													</div>
													<div class="recomment-con">
														<dl class="recomment">
															<dt>买得着商城回复：</dt> 
															<dd>外观漂亮那是有目共睹的，而内在才更值得您体验呢。</dd>
														</dl>
														<div class="comment-time">2018.11.07 </div>
													</div>
												</div>
											</div>
										</div>
										<div class="comment-item">
											<div class="user-column">
												<div class="user-info">
													<img src="https://storage.360buyimg.com/i.imageUpload/3330353134313633382d38343939333931353334333839363434383930_sma.jpg" width="25" height="25" alt="M***树" class="avatar">M***树
												</div>
												<div class="user-level">
													<a class="comment-plus-icon" href="//plus.jd.com/index" target="_blank">PLUS会员</a>
												</div>
											</div>
											<div class="comment-column J-comment-column">
												<div class="comment-star star5"></div>
												<p class="comment-con">用了六年苹果 今年感受下华为mate20带给我的震撼 良心机 各方面不错 值得你拥有！</p>
												<div class="pic-list J-pic-list">
													<a class="J-thumb-img current" href="#none" data-ind="-1"><img src="https://img.300hu.com/4c1f7a6atransbjngwcloud1oss/42f411df111987623318786049/imageCoverBySnapshot/1541435936_560183084.100_0.jpg" width="48" height="48" alt="M***树的晒单视频"><span class="video-icon"></span></a>
													<a class="J-thumb-img" href="#none" data-ind="0"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/3745/36/16101/37596/5be077c7Eb413de8b/9f8892c28fdd26d4.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
													<a class="J-thumb-img" href="#none" data-ind="1"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/5427/5/15835/80316/5be077c7Eaeb82fef/c6b3b1f322f5c383.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
													<a class="J-thumb-img" href="#none" data-ind="2"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/556/17/16293/74708/5be077c8E06321ece/e90ef74a68bde3b4.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
													<a class="J-thumb-img" href="#none" data-ind="3"><img src="//img30.360buyimg.com/n0/s48x48_jfs/t1/5063/10/16100/105839/5be077c8Ea8a98d7c/55ef52c4ba5b8644.jpg" width="48" height="48" alt="M***树的晒单图片"></a>
												</div>
												<div class="J-pic-view-wrap clearfix" style="display: block;">
													<div class="pic-view J-pic-view">
														<div class="pic-op">
															<a class="turn-left J-turn-left" href="#none">
																<i class="sprite-turn-left"></i>
															左转
															</a>
															<a class="turn-left J-turn-right" href="#none">
															<i class="sprite-turn-right"></i>
															右转
														    </a> 
													    </div>
													    <img src="//img30.360buyimg.com/shaidan/s616x405_jfs/t1/5427/5/15835/80316/5be077c7Eaeb82fef/c6b3b1f322f5c383.jpg" style="transform: rotate(0deg); margin-left: 0px; margin-top: 0px;">
													    <div class="cursor-prev J-sprite-prev" style="display: block;"></div>
													    <div class="cursor-small J-hide-big-show"></div>
													    <div class="cursor-next J-sprite-next"></div>
													</div>
													<div class="J-video-view-wrap clearfix none">
														<div class="video-js">
															<video >
															  <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
															  <source src="movie.ogg" type="video/ogg">
															您的浏览器不支持Video标签。
															</video>
														</div>
													</div>
													<div class="comment-message clearfix">
														<div class="order-info">
															<span>翡冷翠</span>
															<span>标准版</span>
															<span>6GB+128GB</span>
															<span>2018-11-06 01:03</span>
														</div>
														<div class="comment-op">
															<a class="J-report" href="#none">举报</a>
															<a class="J-nice"  href="#none" ><i class="sprite-praise"></i>19</a> 
															<a href="" target="_blank"><i class="sprite-comment"></i>27</a>
														</div>
													</div>
													<div class="recomment-con">
														<dl class="recomment">
															<dt>买得着商城回复：</dt> 
															<dd>外观漂亮那是有目共睹的，而内在才更值得您体验呢。</dd>
														</dl>
														<div class="comment-time">2018.11.07 </div>
													</div>
												</div>
											</div>
										</div>
										<div class="com-table-footer">
											<div class="ui-page-wrap clearfix">
												<div class="ui-page">
													<a href="" class="ui-page-curr">1</a>
													<a href="">2</a>
													<a href="">3</a>
													<a href="">4</a>
													<a href="">5</a>
													<a href="">6</a>
													<span>...</span>
													<a href="">100</a>
													<a href="">下一页</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 商品规格详情图 开始-->
				<div class="clear"></div>
			</div>
		</div>
	</div>
	{/block}
	{block name='js'}
	<script type="text/javascript">
	$(document).ready(function(){
			$("#J_ImgBooth").imagezoom();
			$("#J_UlThumb li").mouseover(function(){
				$(this).addClass("tb-selected").siblings().removeClass("tb-selected");
				$("#J_ImgBooth").attr('src',$(this).find("img").attr("mid"));
				$("#J_ImgBooth").attr('rel',$(this).find("img").attr("big"));
			});
		});
</script>
	{/block}
