<div class="layui-header">
      <div class="layui-logo">
        <a href="{:url('index/index')}">
          <img src="__STATIC__/admin/images/admin_logo.png" alt="" style="width: 210px;height: 25px">
        </a>
        
      </div>
      <!-- 头部区域（可配合layui已有的水平导航） -->
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item layui-this"><a href="{:url('mallsite/baseSite')}">平台设置</a></li>
        <li class="layui-nav-item"><a href="{:url('goods/list')}">商城管理</a></li>
        <li class="layui-nav-item"><a href="">财务管理</a></li>
        <li class="layui-nav-item"><a href="">微商城</a></li>
        <li class="layui-nav-item"><a href="">小程序</a></li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            沈总
          </a>
          <dl class="layui-nav-child">
            <dd><a href="">基本资料</a></dd>
            <dd><a href="">安全设置</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
         <a href="">
          <i class="layui-icon layui-icon-notice" style="font-size: 20px; color: #FFF;"></i><span class="layui-badge">99</span>
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="">
          <i class="layui-icon layui-icon-website" style="font-size: 20px; color: #FFF;"></i>
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="">
          <i class="layui-icon layui-icon-theme" style="font-size: 20px; color: #FFF;"></i>
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="">
          <i class="layui-icon layui-icon-fonts-clear" style="font-size: 20px; color: #FFF;"></i>
        </a>
      </li>
      <li class="layui-nav-item">
        <a href="">
          <i class="layui-icon layui-icon-close-fill" style="font-size: 20px; color: #FFF;"></i>
        </a>
      </li>
    </ul>
</div>