<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
      <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
      <ul class="layui-nav layui-nav-tree"  lay-filter="test">
        <li class="layui-nav-item layui-nav-itemed">
          <a class="" href="javascript:;">平台商品管理</a>
          <dl class="layui-nav-child">
            <dd class="layui-this"><a href="{:url('goods/list')}">商品列表</a></dd>
            <dd><a href="{:url('category/list')}">商品分类</a></dd>
            <dd><a href="{:url('brand/list')}">品牌管理</a></dd>
            <dd><a href="{:url('comments/list')}">评论管理</a></dd>
            <dd><a href="{:url('GoodsAttr/list')}">商品类型</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">超市商品管理</a>
          <dl class="layui-nav-child">
            <dd ><a href="javascript:;">商品列表</a></dd>
            <dd><a href="javascript:;">商品分类</a></dd>
            <dd><a href="javascript:;">品牌管理</a></dd>
            <dd><a href="javascript:;">评论管理</a></dd>
            <dd><a href="javascript:;">商品类型</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">省鲜生商品管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">商品列表</a></dd>
            <dd><a href="javascript:;">商品分类</a></dd>
            <dd><a href="javascript:;">品牌管理</a></dd>
            <dd><a href="javascript:;">评论管理</a></dd>
            <dd><a href="javascript:;">商品类型</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">订单管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">订单列表</a></dd>
            <dd><a href="javascript:;">添加订单</a></dd>
            <dd><a href="javascript:;">发货单列表</a></dd>
            <dd><a href="javascript:;">退货单列表</a></dd>
            <dd><a href="javascript:;">退货原因列表</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">文章管理</a>
          <dl class="layui-nav-child">
            <dd><a href="{:url('mallarticle/categoryList')}">文章分类</a></dd>
            <dd><a href="{:url('mallarticle/articleList')}">文章列表</a></dd>
            <dd><a href="{:url('mallarticle/autoRelease')}">自动发布</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">会员管理</a>
          <dl class="layui-nav-child">
            <dd><a href="javascript:;">会员列表</a></dd>
            <dd><a href="javascript:;">资金管理</a></dd>
            <dd><a href="javascript:;">充值/提现</a></dd>
            <dd><a href="javascript:;">收货地址</a></dd>
            <dd><a href="javascript:;">发票</a></dd>
            <dd><a href="javascript:;">投诉管理</a></dd>
          </dl>
        </li>
        <li class="layui-nav-item">
          <a class="" href="javascript:;">活动促销</a>
          <dl class="layui-nav-child">
            <dd><a href="{:url('kill/killlist')}">限时秒杀</a></dd>
          
          </dl>
        </li>
      </ul>
    </div>
  </div>