<!-- js部分 -->
  <script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
  <script src="__STATIC__/admin/js/jquery.form.js"></script>
  <script src="__STATIC__/admin/js/jquery-ui/jquery-ui.min.js"></script>
  <script src="__STATIC__/admin/js/calendar/calendar.min.js"></script>
  <script src="__STATIC__/admin/layui/layui.js"></script>
  <script src="__STATIC__/admin/js/mdz-layui.js"></script>
  <script src="__STATIC__/admin/js/jquery.validation.min.js"></script>
  <script src="__STATIC__/admin/js/perfect-scrollbar.min.js"></script>
  <script src="__STATIC__/admin/js/jquery.purebox.js"></script>
  <script src="__STATIC__/admin/js/app.js"></script>
  <script src="__STATIC__/admin/js/lib_ecmobanFunc.js"></script>
  <script src="__STATIC__/admin/js/utils.js"></script>
  <script src="__STATIC__/admin/js/listtable.js"></script>
  <script src="__STATIC__/admin/js/region.js"></script>
  <script src="__STATIC__/admin/js/common.js"></script>
  <script src="__STATIC__/admin/js/admin.js"></script>