<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>欢迎登录买得着商城</title>
	<link rel="stylesheet" href="__STATIC__/index/css/login.css">
</head>
<body>
	<!-- login头部 -->
	<div class="w">
		<div id="logo">
			<a href="www.maidezhao.com">
				<img src="__STATIC__/index/images/login/loginlogo.gif" alt="买得着商城" width="170" height="60">
			</a>
			<b></b>
		</div>
		<a href="" class="q-link">
			<b></b>
			登录页问卷调查
		</a>
	</div>
	<!-- login中心内容 -->
	<div id="content">
		<div class="tips-wrapper">
			<div class="tips-inner">
				<div class="cont-wrapper">
					<i class="icon-tips"></i>
					<p>依据《网络安全法》，为保障您的账户安全和正常使用，请尽快完成手机号验证！ 新版<a href="" class="black">《买得着商城隐私政策》</a>已上线，将更有利于保护您的个人隐私。</p>
				</div>
			</div>
		</div>
		<div class="login-wrap">
			<!-- 登陆表单 -->
			<div class="w rel">
				<img src="https://img10.360buyimg.com/da/jfs/t16297/66/2134932698/55284/40628993/5a93cf5eN58fcda6a.jpg" alt="">
				<div class="login-form">
					<div class="tips-wrapper">
						<div class="tips-inner">
							<div class="cont-wrapper">
								<i class="icon-tips"></i>
								<p>买得着不会以任何理由要求您转账汇款，谨防诈骗。</p>
							</div>
						</div>
					</div>
					<div class="login-tit">
						<h3>账号登录</h3>
					</div>
					<div class="login-box">
						<div class="msg-wrap"  style="visibility: hidden;">
							<div class="msg-error">
								<b></b>请输入密码
							</div>
						</div>
						<div class="form">
							<form action="post" method="login.php">
								<!-- 用户名输入框 -->
								<div class="item item-fore1"> <!-- item-error 输入错误样式 -->
									<label class="login-label name-label"></label>
									<input type="text" name="username" class="itxt" placeholder="邮箱/用户名/已验证手机">
									<span class="clear-btn" style="display: none;"></span>
									<span class="capslock" style="display: none;"><b></b>大小写锁定已打开</span>
								</div>
								<!-- 密码输入框 -->
								<div id="entry" class="item item-fore2"> <!-- item-error 输入错误样式 -->
									<label class="login-label pwd-label" for="nloginpwd"></label>
									<input type="password" id="nloginpwd" name="nloginpwd" class="itxt itxt-error" tabindex="2" autocomplete="off" placeholder="密码">
									<span class="clear-btn" style="display: none;"></span>
									<span class="capslock" style="display: none;"><b></b>大小写锁定已打开</span>
								</div>
								<!-- 忘记密码 -->
								<div class="item item-fore4">
									<div class="safe">
										<span></span>
										<span class="forget-pw-safe">
											<a href="/uc/links?tag=safe" class="" target="_blank" clstag="pageclick|keycount|201607144|3">忘记密码</a>
										</span>
									</div>
								</div>
								<!-- 登录 -->
								<div class="item item-fore5">
									<div class="login-btn">
										<a href="javascript:;" class="btn-img btn-entry" id="loginsubmit" tabindex="6" clstag="pageclick|keycount|201607144|3">登&nbsp;&nbsp;&nbsp;&nbsp;录</a>
									</div>
								</div>
							</form>
						</div>
					</div>
					<!-- 第三方登录 -->
					<div class="coagent" id="kbCoagent">
						<ul>
							<li>
								<b></b>
								<a href="javascript:void(0)" onclick="window.location='//qq.jd.com/new/qq/login.aspx'+window.location.search;return false;" clstag="pageclick|keycount|201607144|6" class="pdl" style="outline: rgb(109, 109, 109) none 0px;"><b class="QQ-icon"></b><span>QQ</span></a>
								<span class="line">|</span>
							</li>
							<li>
								<a href="javascript:void(0)" onclick="window.location='//qq.jd.com/new/wx/login.action'+window.location.search;return false;" clstag="pageclick|keycount|201607144|7" class="pdl"><b class="weixin-icon"></b><span>微信</span></a>
							</li>
							<li class="extra-r">
								<div>
									<div class="regist-link"><a href="//reg.jd.com/reg/person?ReturnUrl=http%3A%2F%2Fwww.jd.com" clstag="pageclick|keycount|201607144|8" target="_blank"><b></b>立即注册</a></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- 页脚 -->
		<div id="footer">
			<div class="w">
				<div class="links">
					<a rel="nofollow" target="_blank" href="#">
						关于我们
					</a>
					|
					<a rel="nofollow" target="_blank" href="">
						联系我们
					</a>
					|
					<a rel="nofollow" target="_blank" href="">
						人才招聘
					</a>
					|
					<a rel="nofollow" target="_blank" href="">
						商家入驻
					</a>
					|
					<a rel="nofollow" target="_blank" href="">
						广告服务
					</a>
					|
					<a rel="nofollow" target="_blank" href="">
						手机买得着
					</a>
					|
					<a target="_blank" href="">
						友情链接
					</a>
					|
					<a href="//gongyi.jd.com" target="_blank">
						买得着扶贫
					</a>

				</div>
				<div class="copyright">
					Copyright&nbsp;©&nbsp;2004-2018&nbsp;&nbsp;买得着.com&nbsp;版权所有
				</div>
			</div>
		</div>
</body>
</html>