{extend name="public/layout" /}
{block name='menu'}
{include file='mall/menu' /}
{/block}
{block name='body'}
  	<span class="layui-breadcrumb">
     <a href="">订单管理</a>
     <a><cite>订单列表</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="flexilist order_info">
      <div class="stepflex">
        <dl class="first cur">
          <dt></dt>
          <dd class="s-text">提交订单<br><em class="ftx-03">2019-04-10 05:21:13</em></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd class="s-text">支付订单<br><em class="ftx-03">未付款</em></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd class="s-text">商家发货<br><em class="ftx-03"></em></dd>
        </dl>
        <dl>
          <dt></dt>
          <dd class="s-text">确认收货<br><em class="ftx-03"></em></dd>
        </dl>
        <dl class="last ">
          <dt></dt>
          <dd class="s-text">评价<br><em class="ftx-03"></em></dd>
        </dl>
      </div>
      <form action="order.php?act=operate" method="post" name="theForm">
        <div class="common-content">
          <!--订单基本信息-->
          <div class="step">
            <div class="step_title"><i class="ui-step"></i><h3>基本信息</h3></div>
            <div class="section">
              <dl>
                <dt>订单号：</dt>
                <dd>2019041005261971935</dd>
                <dt>订单来源：</dt>
                <dd>WAP</dd>
              </dl>
              <dl>
                <dt>购货人： <div class="div_a"><a href="javascript:;" ectype="orderDialog" data-dialog="userinfo">信息</a><i class="shu"></i><a href="user_msg.php?act=add&amp;order_id=1692&amp;user_id=714">留言</a></div></dt>
                <dd>wxb5f3715543538</dd>
                <dt>订单状态：</dt>
                <dd>未确认,未付款,未发货</dd>
              </dl>
              <dl>
                <dt>支付方式：<a href="order.php?act=edit&amp;order_id=1692&amp;step=payment"><i class="icon icon-edit"></i></a></dt>
                <dd>微信支付</dd>
                <dt>配送方式：<a href="order.php?act=edit&amp;order_id=1692&amp;step=shipping"><i class="icon icon-edit"></i></a></dt>
                <dd>
                  <font id="shipping_name">邮政快递包裹</font>                                        <a href="order.php?act=info&amp;order_id=1692&amp;shipping_print=1" target="_blank">打印快递单</a>
                </dd>
              </dl>
              <dl>
                <dt>下单时间：</dt>
                <dd>2019-04-10 05:21:13</dd>
                <dt>付款时间：</dt>
                <dd>未付款</dd>
              </dl>
              <dl>
                <dt>发货时间：</dt>
                <dd>未发货</dd>
                <dt>发货单号：<a href="order.php?act=edit&amp;order_id=1692&amp;step=shipping"><i class="icon icon-edit"></i></a></dt>
                <dd>
                未发货                                                                        </dd>
              </dl>
              <dl>
                <dt>自动确认收货时间：</dt>
                <dd>
                  <div class="editSpanInput" ectype="editSpanInput">
                    <span onclick="listTable.edit(this, 'edit_auto_delivery_time', 1692)">15</span>
                    <span>天</span>
                    <i class="icon icon-edit"></i>
                  </div>
                </dd>
                <dt>&nbsp;</dt>
                <dd>&nbsp;</dd>
              </dl>
            </div>
          </div>

          <!--收货人信息-->
          <div class="step">
            <div class="step_title"><i class="ui-step"></i><h3>收货人信息<a href="order.php?act=edit&amp;order_id=1692&amp;step=consignee"><i class="icon icon-edit"></i></a></h3></div>
            <div class="section">
              <dl>
                <dt>收货人：</dt>
                <dd>康远志</dd>
                <dt>电子邮件：</dt>
                <dd>wxb5f3715543538@qq.com</dd>
              </dl>
              <dl>
                <dt>手机号码：</dt>
                <dd>18457218727</dd>
                <dt>电话号码：</dt>
                <dd>无</dd>
              </dl>
              <dl>
                <dt>送货时间：</dt>
                <dd>无</dd>
                <dt>地址别名：</dt>
                <dd>无</dd>
              </dl>
              <dl style="width:50%">
                <dt>收货地址：</dt>
                <dd>[浙江  湖州  长兴县  ] 浙江省湖州东长兴县奥昆食品有限公司</dd>
                <dt>邮政编码：</dt>
                <dd>无</dd>
              </dl>
            </div>
          </div>
          <!-- 门店信息 -->
          <!--订单其他信息-->
          <div class="step">
            <div class="step_title"><i class="ui-step"></i><h3>其他信息<a href="order.php?act=edit&amp;order_id=1692&amp;step=other"><i class="icon icon-edit"></i></a></h3></div>
            <div class="section">
              <dl>
                <dt>发票抬头：(个人普通发票)</dt>
                <dd>个人</dd>
                <dt>发票内容：</dt>
                <dd>不开发票</dd>
              </dl>
              <dl>
                <dt>缺货处理：</dt>
                <dd>等待所有商品备齐后再发</dd>
                <dt>识别码：</dt>
                <dd>无</dd>
              </dl>

              <dl style="width:66.6%">
                <dt>卖家留言：</dt>
                <dd>无</dd>
                <dt>买家留言：</dt>
                <dd>无</dd>
              </dl>
            </div>
          </div>

          <!--商品信息-->
          <div class="step">
            <div class="step_title"><i class="ui-step"></i><h3>商品信息<a href="order.php?act=edit&amp;order_id=1692&amp;step=goods"><i class="icon icon-edit"></i></a></h3></div>
            <div class="step_info">
              <div class="order_goods_fr">
                <table class="table" border="0" cellpadding="0" cellspacing="0">
                  <thead>
                    <tr>
                      <th width="25%" class="first">商品名称 [ 品牌 ]</th>
                      <th width="8%">仓库名称</th>
                      <th width="7%">货号</th>
                      <th width="7%">条形码</th>
                      <th width="7%">货品号</th>
                      <th width="6%">价格</th>
                      <th width="5%">商品赠送积分</th>
                      <th width="5%">数量</th>
                      <th width="8%">属性</th>
                      <th width="5%">库存</th>
                      <th width="8%">小计</th>
                      <th width="7%">操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="order_goods_div">
                          <div class="img">
                            <a href="../goods.php?id=2742" target="_blank"><img src="https://mdz.oss-cn-beijing.aliyuncs.com/images/201811/thumb_img/0_thumb_G_1543010431708.jpg" width="72" height="72"></a>
                          </div>
                          <div class="name ml10">
                            <a href="../goods.php?id=2742" target="_blank">【维摩乡】田坝心村 纯手工传统工艺糯米绿粑粑（3袋全国包邮） [ 品砚 ]                                                                                                                          </a>
                          </div>
                        </div>
                      </td>
                      <td>砚山</td>
                      <td>MDZ002742</td>
                      <td></td>
                      <td></td>
                      <td><em>¥</em>16.00</td>
                      <td>0</td>
                      <td>1</td>
                      <td></td>
                      <td>1475</td>
                      <td>
                        <em>¥</em>16.00                                                                                                    </td>
                        <td>

                          <!--生成发货单-->
                          <input name="part_ship" type="button" value="生成发货单" class="btn btn25 blue_btn" data-rec_id="1780">

                          <!--发货状态-->
                          <p class="red">已发0件</p>

                        </td>
                      </tr>
                      <tr>
                        <td colspan="12">
                          <div class="order_total_fr">
                            <strong>商品总重量：</strong>
                            <span class="red">350克</span>
                            <strong>合计：</strong>
                            <span class="red"><em>¥</em>16.00</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!--费用信息-->
            <div class="step order_total">
              <div class="step_title"><i class="ui-step"></i><h3>费用信息<a href="order.php?act=edit&amp;order_id=1692&amp;step=money"><i class="icon icon-edit"></i></a></h3></div>
              <div class="section">
                <dl>
                  <dt>商品总金额：</dt>
                  <dd><em>¥</em>16.00</dd>
                  <dt>使用余额：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                </dl>
                <dl>
                  <dt>发票税额：</dt>
                  <dd>+ <em>¥</em>0.00</dd>
                  <dt>使用积分：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                </dl>
                <dl>
                  <dt>配送费用：</dt>
                  <dd>+ <em>¥</em>5.00</dd>
                  <dt>使用红包：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                </dl>
                <dl>
                  <dt>支付费用：</dt>
                  <dd>+ <em>¥</em>0.00</dd>
                  <dt>使用优惠券：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                </dl>
                <dl>
                  <dt>折扣：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                  <dt>使用储值卡：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                </dl>
                <dl>
                  <dt></dt>
                  <dd></dd>

                  <dt>已付款金额：</dt>
                  <dd>- <em>¥</em>0.00</dd>
                </dl>
                <dl>
                  <dt>订单总金额：</dt>
                  <dd class="red"><em>¥</em>21.00</dd>
                  <dt>应付款金额：</dt>
                  <dd class="red"><em>¥</em>21.00</dd>
                </dl>
              </div>
            </div>

            <!--操作信息-->
            <div class="step order_total">
              <div class="step_title"><i class="ui-step"></i><h3>操作信息</h3></div>
              <div class="step_info">
                <div class="order_operation order_operation100">
                  <div class="item">
                    <div class="label">操作备注：</div>
                    <div class="value">
                      <div class="bf100 fl"><textarea name="action_note" class="textarea"></textarea></div>
                      <div class="order_operation_btn">             
                        <input name="confirm" type="submit" value="确认" class="btn btn25 red_btn">
                        <input name="pay" type="submit" value="付款" class="btn btn25 red_btn">
                        <input name="cancel" type="submit" value="取消" class="btn btn25 red_btn">
                        <input name="invalid" type="submit" value="无效" class="btn btn25 red_btn">
                        <input name="after_service" type="submit" value="售后" class="btn btn25 red_btn">
                        <input name="order_id" type="hidden" value="1692">
                        <!--门店列表 start-->
                        <!--门店列表 end--> 
                        <input type="button" value="打印订单" class="btn btn25 blue_btn" onclick="javascript:window.open('tp_api.php?act=order_print&amp;order_id=1692')">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="operation_record">
                  <table cellpadding="0" cellspacing="0">
                    <thead>
                      <tr><th width="5%">&nbsp;</th>
                        <th width="15%">操作者</th>
                        <th width="15%">操作时间</th>
                        <th width="15%">订单状态</th>
                        <th width="15%">付款状态</th>
                        <th width="15%">发货状态</th>
                        <th width="20%">备注</th>
                      </tr></thead>
                      <tbody>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
    {/block}
  {block name="js"} 
  <script type="text/javascript">

    /* 门店设置抢单 */
    function set_grab_order(order_id)
    {
    $.ajax({
      type:'get',
      url:'order.php',
      data:'is_ajax=1&act=set_grab_order&order_id='+order_id,
      dataType:'json',
      success:function(data){
        pb({
         id:'goods_dialog',
         title:'设为抢单',
         content:data.content,
         drag:false,
         foot:false
        });
      }
    })
    }
    //移动到一键发货悬浮展示详情方法调用
    if($(".step").width() < 1380){
    var left = -420; 
    }
    
    if(document.getElementById('key_delivery')){
      orderLevitate("one_delivery","order_goods_layer",12.5,left);
    }
    
    $(function(){
    $(document).on("click","#invoice_btn",function(){
      var val = $(this).prev().val();
      if(val != ""){
        $("#operate_form").submit();
      }else{
        $(this).prev().addClass("error");
        return false;
      }
    });
    
    $("*[ectype='orderDialog']").click(function(){
      var content = "",
        title = "",
        type = $(this).data("dialog");
        
      if(type == "userinfo"){
        content = $("#topbar").html();
        title = "收货人信息";
      }else{
        content = $("#vat").html();
        title = "增值税发票信息";
      }
      
      pb({
        id:"userInfo",
        title:title,
        content:content,
        width:450,
        foot:false
      });
      
      $("#userInfo .topbar_info").perfectScrollbar();
    });
    });
    
    //部分发货 by wu
    $(document).on('click', "input[name='part_ship']", function(){
    var rec_id = $(this).data('rec_id');
    $.jqueryAjax('order.php', 'act=part_ship&rec_id='+rec_id, function(data){
      pb({
        id:"part_ship_dialog",
        title:"商品发货",
        width:600,
        content:data.content,
        ok_title:"确认",
        cl_title:"取消",
        drag:false,
        foot:true,
        onOk:function(){
          $("form[name='part_ship']").submit();
        }
      });   
    });
    })
    //发货
    $(document).on('click', "input[name='part_to_delivery']", function(){
    var order_sn = $(this).data('order_sn');
    var goods_id = $(this).data('goods_id');
    location.href = 'order.php?act=delivery_list&order_sn='+order_sn+'&goods_id='+goods_id+'&status=2';
    })
      
      //去退款
      $(document).on('click', "input[name='refound']", function(){
        var ret_id = $(this).data('ret_id');
        var rec_id = $(this).data('rec_id');
        location.href = "order.php?act=return_info&ret_id="+ret_id+"&rec_id="+rec_id;
      })
    
    //超值礼包
    $(".package_goods ul").perfectScrollbar("destroy");
    $(".package_goods ul").perfectScrollbar();
</script>
{/block}