{extend name='public/mall_base' /}
{block name='content'}
  <div class="layui-body" style="padding: 20px;">
  	<span class="layui-breadcrumb">
     <a href="">平台商品管理</a>
     <a><cite>平台分类</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="explanation mb10" id="explanation">
      <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
      <ul>
        <li>标识“<em>*</em>”的选项为必填项，其余为选填项。</li>
        <li>请按提示信息填写每一个字段。</li>
      </ul>
    </div>
    <div class="flexilist">
     <div class="flexilist">
      <div class="common-content">
        <div class="mian-info">
          <form action="{:url('Category/save')}" method="post" name="theForm" enctype="multipart/form-data" id="category_info_form" novalidate="novalidate">
            <div class="switch_info">
              <div class="item">
                  <div class="label"><span class="require-field">*</span>&nbsp;分类名称：</div>
                  <div class="label_value">
                    <input type="text" class="text text_4 valid" name="cat_name" value="{$category.cat_name}" size="12" autocomplete="off">
                    <div class="notic">分类名称必填，并且不能超过5个字符</div>
                    <div class="form_prompt"></div>
                  </div>
                </div>
              <div class="item">
                <div class="label">手机小图标：</div>
                <div class="label_value">
                  <div class="type-file-box">
                    <input type="button" name="button" id="button" class="type-file-button" value="">
                    <input type="file" class="type-file-file" id="ad_img" name="touch_icon" data-state="imgfile" size="30" hidefocus="true" value="">
                    <input type="text" name="textfile" class="type-file-text" id="textfield" autocomplete="off" readonly="">
                  </div>
                  <div class="form_prompt"></div>
                  <div class="notic m20" id="AdCodeImg">（注：手机端专用,建议上传正方形图片（100*100））</div>
                </div>
              </div>
              <div class="item">
                <div class="label">上级分类：</div>
                <div class="label_value">
                  <div class="search_select">
                    <div class="categorySelect">
                      <div class="selection">
                        <input type="text" id="category_name" class="text w290 valid" value="{$category.cat_name}" autocomplete="off">
                      </div>
                      <div class="select-container w319" style="display:none;">
                        <div class="select-top">
                          <a href="javascript:;" class="categoryTop" data-cid="0" data-cname="" data-diff="0" data-show="0" data-seller="0" data-table="category">重选</a>
                          &gt; <span>请选择分类</span>
                        </div>
                        <div class="select-list">
                          <ul>
                            {volist name='$categorys' id='vo'}
                            <li data-cid="{$vo.cat_id}" data-cname="{$vo.cat_name}" data-diff="0" data-url="http://abc.maidezhao.com/category.php?id=12" data-show="0" data-seller="0" data-table="category">
                              <em>Ⅰ</em>
                            {$vo.cat_name}
                          </li>
                          {/volist}
                          </ul>
                        </div>
                      </div>
                      </div>
                    </div>
                    <div class="notic">不选择分类默认为顶级分类</div>
                  </div>
                </div>
                <div class="item">
                    <div class="label">数量单位：</div>
                    <div class="label_value">
                    <input type="text" class="text text_4" name="measure_unit" value="{$category.measure_unit}" size="12" autocomplete="off">
                    </div>
                </div> 
                <div class="item">
                  <div class="label">排序：</div>
                  <div class="label_value">
                    <input type="text" class="text text_4" name="sort_order" value="{$category.sort_order}" size="15" autocomplete="off">
                     <input type="hidden" name="cat_id" id="cat_id" value="{$category.cat_id}">
                  </div>
                </div>  
                <div class="item">
                  <div class="label">佣金比率：</div>
                  <div class="label_value">
                    <input type="text" class="text text_2" name="commission_rate" value="{$category.commission_rate}" size="12" autocomplete="off">
                    <div class="notic">% （请输入0-100以内的整数）</div>
                  </div>
                </div>
                <div class="item">
                  <div class="label">是否显示：</div>
                  <div class="label_value">
                    <div class="checkbox_items">
                      <div class="checkbox_item">
                        <input type="radio" class="ui-radio" name="is_show" id="is_show_1" value="1" checked="true">
                        <label for="is_show_1" class="ui-radio-label">是</label>
                      </div>
                      <div class="checkbox_item">
                        <input type="radio" class="ui-radio" name="is_show" id="is_show_0" value="0" >
                        <label for="is_show_0" class="ui-radio-label">否</label>
                      </div>
                    </div>
                  </div>
                </div>
                  <div class="item">
                    <div class="label">关键字：</div>
                    <div class="label_value">         
                      <input type="text" name="keywords" value="{$category.keywords}" size="50" class="text mr10" autocomplete="off">                   
                    </div>
                  </div>
                  <div class="item">
                    <div class="label">分类描述：</div>
                    <div class="label_value">         
                      <textarea name="cat_desc" rows="6" cols="48" class="textarea">{$category.cat_desc}</textarea>
                    </div>
                  </div>
                  <div class="item">
                    <div class="label">&nbsp;</div>
                    <div class="label_value info_btn">
                      <input type="submit" value=" 确定修改" class="button" id="submitBtn">
                      <input type="hidden" value="{$category.cat_id}" class="button">
                    </div>
                  </div>                
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    {/block}
    {block name="js"}
<script type="text/javascript">
  $(function(){
  
    //表单验证
    $("#submitBtn").click(function(){
      if($("#category_info_form").valid()){
        $("#category_info_form").submit();
      }
    });
    
    jQuery.validator.addMethod("specialchar", function(value, element) {

      return this.optional(element) || !/[@'\\"#$%&\^*]/.test(value);   
    },("不能包含特殊字符"));
    
    $('#category_info_form').validate({
      errorPlacement:function(error, element){
        var error_div = element.parents('div.label_value').find('div.form_prompt');
        element.parents('div.label_value').find(".notic").hide();
        error_div.append(error);
      },
      rules:{
        cat_name :{
          required : true,
          specialchar:""
        }
      },
      messages:{
        cat_name:{
           required : '<i class="icon icon-exclamation-sign"></i>'+"分类名称不能为空"
        }
        
      }     
    });
  });
</script>
{/block}