{extend name='public/mall_base' /}
{block name='content'}
  <div class="layui-body" style="padding: 20px;">
  	<span class="layui-breadcrumb">
     <a href="">平台商品管理</a>
     <a><cite>属性列表</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="explanation mb10" id="explanation">
      <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
      <ul>
        <li>该页面展示了商城所有的商品类型。</li>
        <li>每个商品类型下管理不同的商品属性。</li>
        <li>可以对商品类型进行编辑和删除操作。</li>
      </ul>
    </div>
    <div class="flexilist">
      <div class="common-head">
        <div class="fl">
          <a href="goods_type.php?act=add"><div class="fbutton"><div class="add" title="新建商品类型"><span><i class="icon icon-plus"></i>添加属性模板</span></div></div></a>
        </div>        
        <div class="refresh">
          <div class="refresh_tit" title="刷新数据"><i class="icon icon-refresh"></i></div>
          <div class="refresh_span">刷新 - 共18条记录</div>
        </div>
        <div class="search">
          <form action="javascript:;" name="searchForm" onsubmit="searchGoodsname(this);">
            <div class="input">
              <input type="text" name="keyword" class="text nofocus w140" placeholder="模板名称" autocomplete="off">
              <input type="submit" class="btn" name="secrch_btn" ectype="secrch_btn" value="">
            </div>
          </form>
        </div>
      </div>
      <div class="common-content">
        <div class="list-div" id="listDiv">
          <table cellpadding="0" cellspacing="0" border="0">
            <thead>
              <tr>
                <th width="5%"><div class="tDiv"><a href="javascript:listTable.sort('cat_id');">编号</a></div></th>
                <th width="25%"><div class="tDiv">属性名称</div></th>
                <th width="20%"><div class="tDiv">属性数</div></th>
                <th width="20%"><div class="tDiv">状态</div></th>
                <th width="30%" class="handle">操作</th>
              </tr>
            </thead>
            <tbody>
              <tr class="">
                <td><div class="tDiv">22</div></td>
                <td>
                  <div class="tDiv">
                    <span onclick="javascript:listTable.edit(this, 'edit_type_name', 22)">食品</span>
                  </div>
                </td>
                <td><div class="tDiv">34</div></td>
                <td><div class="tDiv"><img src="images/yes.png" title="点击" class="pointer"></div></td>                              
                <td class="handle">
                  <div class="tDiv a3">
                    <a href="attribute.php?act=list&amp;goods_type=22" class="btn_see"><i class="sc_icon sc_icon_see"></i>属性列表</a>

                    <a href="goods_type.php?act=edit&amp;cat_id=22" class="btn_edit"><i class="icon icon-edit"></i>编辑</a>
                    <a href="javascript:;" onclick="listTable.remove(22, '删除商品类型将会清除该类型下的所有属性。\n您确定要删除选定的商品类型吗？')" class="btn_trash"><i class="icon icon-trash"></i>删除</a>                    
                  </div>
                </td>
                </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="12">
                  <div class="list-page">
                   <!-- $Id: page.lbi 14216 2008-03-10 02:27:21Z testyang $ -->

                   <div id="turn-page">
                    <span class="page page_1">总计 <em id="totalRecords">18</em>个记录</span>
                    <span class="page page_2">分为<em id="totalPages">2</em>页</span>
                    <!--<span>页当前第<em id="pageCurrent">1</em></span>-->
                    <span class="page page_3"><i>每页</i><input type="text" size="3" id="pageSize" value="15" onkeypress="return listTable.changePageSize(event)"></span>
                    <span class="page mr10"><i>至</i><input type="text" size="3" value="1" onkeyup="listTable.gotoPage($(this).val())"></span>
                    <span id="page-link">
                      <a href="javascript:listTable.gotoPageFirst()" class="first" title="第一页"></a>
                      <a href="javascript:listTable.gotoPagePrev()" class="prev" title="上一页"></a>
                      <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
                        <option value="1">1</option><option value="2">2</option>        </select>
                        <a href="javascript:listTable.gotoPageNext()" class="next" title="下一页"></a>
                        <a href="javascript:listTable.gotoPageLast()" class="last" title="最末页"></a>
                      </span>
                    </div>
                  </div>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    </div>
{/block}