{extend name='public/mall_base' /}
{block name='content'}
{include file="mall/menu"/}
  <div class="layui-body" style="padding: 20px;">
  	<span class="layui-breadcrumb">
     <a href="">秒杀活动</a>
     <a><cite>秒杀设置</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="explanation mb10" id="explanation">
      <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
      <ul>
        <li>请先设置秒杀时间段。</li>
        <li>秒杀活动列表可对活动进行编辑/删除/设置商品操作。</li>
        <li>秒杀截止时间内多个活动可同时进行。</li>
        <li>秒杀活动时间都是从0点到0点。</li>
      </ul>
    </div>
    <div class="flexilist">
      <div class="common-head">
        <div class="fl">
          <a href="{:url('kill/killAdd')}"><div class="fbutton"><div class="add" title="添加秒杀活动"><span><i class="icon icon-plus"></i>添加秒杀活动</span></div></div></a>
          <a href="{:url('kill/killTimeAdd')}"><div class="fbutton"><div class="add" title="秒杀时间段列表"><span>秒杀时间段列表</span></div></div></a>
        </div>
        <div class="refresh">
          <div class="refresh_tit" title="刷新数据"><i class="icon icon-refresh"></i></div>
          <div class="refresh_span">刷新 - 共1条记录</div>
        </div>
        <div class="search">
          <form action="javascript:;" name="searchForm" onsubmit="searchGoodsname(this);">
            <div class="select">
              <div class="imitate_select select_w170" style="display:none">
                <div class="cite">请选择</div>
                <ul>
                  <li><a href="javascript:;" data-value="0" class="ftx-01">请选择</a></li>
                  <li><a href="javascript:;" data-value="122" class="ftx-01">买得着</a></li>
                </ul>
                <input name="merchant_id" type="hidden" value="0" id="">
              </div>
              <input name="store_keyword" type="text" style="display:none" class="text text_2">        
            </div>

            <script>
              function get_store_search(val){
                if(val == 1){
                  $("input[name=merchant_id]").parent(".imitate_select").show();
                  $("input[name=store_keyword]").hide();
                  $("input[name=store_type]").parent(".imitate_select").hide();
                }else if(val == 2){
                  $("input[name=merchant_id]").parent(".imitate_select").hide();
                  $("input[name=store_keyword]").show();
                  $("input[name=store_type]").parent(".imitate_select").hide();     
                }else if(val == 3){
                  $("input[name=merchant_id]").parent(".imitate_select").hide();
                  $("input[name=store_keyword]").show();
                  $("input[name=store_type]").parent(".imitate_select").show();     
                }else{
                  $("input[name=merchant_id]").parent(".imitate_select").hide();
                  $("input[name=store_keyword]").hide();
                  $("input[name=store_type]").parent(".imitate_select").hide();     
                }
              }
            </script>                                                
            <div class="input">
              <input type="text" name="keywords" class="text nofocus" placeholder="秒杀活动名称" autocomplete="off">
              <input type="submit" class="btn" name="secrch_btn" ectype="secrch_btn" value="">
            </div>
          </form>
        </div>
      </div>
      <div class="common-content">
        <form method="post" action="" name="listForm">
          <div class="list-div" id="listDiv">
            <table cellpadding="1" cellspacing="1">
              <thead>
                <tr>
                  <th width="3%" class="sign"><div class="tDiv"><input type="checkbox" name="all_list" class="checkbox" id="all_list"><label for="all_list" class="checkbox_stars"></label></div></th>
                  <th width="5%"><div class="tDiv">编号</div></th>
                  <th width="5%"><div class="tDiv">商家名称</div></th>
                  <th width="20%"><div class="tDiv">活动标题</div></th>
                  <th width="7%"><div class="tDiv">活动状态</div></th>
                  <th width="15%"><div class="tDiv">开始时间</div></th>
                  <th width="15%"><div class="tDiv">结束时间</div></th>
                  <th width="7%"><div class="tDiv">上线/下架</div></th>
                  <th width="6%"><div class="tDiv">审核状态</div></th>
                  <th width="19%" class="handle">操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="">
                  <td class="sign">
                    <div class="tDiv">
                      <input type="checkbox" name="checkboxes[]" value="4" class="checkbox" id="checkbox_4">
                      <label for="checkbox_4" class="checkbox_stars"></label>
                    </div>
                  </td>
                  <td><div class="tDiv">4</div></td>
                  <td><div class="tDiv red">砚山买得着商城</div></td>
                  <td><div class="tDiv">11.11</div></td>
                  <td><div class="tDiv">活动结束</div></td>
                  <td><div class="tDiv">2018-09-18 00:00:00</div></td>
                  <td><div class="tDiv ">2018-12-31 00:00:00</div></td>
                  <td><div class="tDiv">
                    <div class="switch mauto active" onclick="listTable.switchBt(this, 'toggle_putaway', 4)" title="是">
                      <div class="circle"></div>
                    </div>
                    <input type="hidden" value="0" name="">
                  </div>
                </td>
                <td>
                  <div class="tDiv">
                    <font class="blue">审核已通过</font>

                  </div>
                </td>                                     
                <td class="handle">
                  <div class="tDiv a1">
                    <a href="{:url('kill/killTimeList')}" title="编辑" class="btn_edit"><i class="icon icon-edit"></i>设置商品</a>
                    <a href="seckill.php?act=edit&amp;sec_id=4" title="编辑" class="btn_edit"><i class="icon icon-edit"></i>编辑</a>
                    <a href="javascript:;" onclick="listTable.remove(4, '您确认要删除这条记录吗?', 'remove')" title="移除" class="btn_trash"><i class="icon icon-trash"></i>删除</a>                 
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="10">
                  <div class="tfoot_btninfo">
                    <div class="shenhe">
                      <input type="submit" name="drop" id="btnSubmit" value="删除" class="btn btn_disabled" disabled="disabled" ectype="btnSubmit">
                      <input type="hidden" name="act" value="batch">
                      <input name="type" type="hidden" value="batch_remove" id="drop_val">
                    </div>                    
                  </div>
                  <div class="list-page">
                    <!-- $Id: page.lbi 14216 2008-03-10 02:27:21Z testyang $ -->

                    <div id="turn-page">
                      <span class="page page_1">总计 <em id="totalRecords">1</em>个记录</span>
                      <span class="page page_2">分为<em id="totalPages">1</em>页</span>
                      <!--<span>页当前第<em id="pageCurrent">1</em></span>-->
                      <span class="page page_3"><i>每页</i><input type="text" size="3" id="pageSize" value="15" onkeypress="return listTable.changePageSize(event)"></span>
                      <span class="page mr10"><i>至</i><input type="text" size="3" value="1" onkeyup="listTable.gotoPage($(this).val())"></span>
                      <span id="page-link">
                        <a href="javascript:listTable.gotoPageFirst()" class="first" title="第一页"></a>
                        <a href="javascript:listTable.gotoPagePrev()" class="prev" title="上一页"></a>
                        <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
                          <option value="1">1</option>        </select>
                          <a href="javascript:listTable.gotoPageNext()" class="next" title="下一页"></a>
                          <a href="javascript:listTable.gotoPageLast()" class="last" title="最末页"></a>
                        </span>
                      </div>
                    </div>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>
        </form>
      </div>
    </div>
    </div>  
   {/block}
   {block name="js"}
<script type="text/javascript">
 
  //列表导航栏设置下路选项
  $(".ps-container").perfectScrollbar();
    
  //分页传值
  listTable.recordCount = 1;
  listTable.pageCount = 1;

    listTable.filter.keywords = '';
    listTable.filter.sort_by = 'sec_id';
    listTable.filter.sort_order = 'DESC';
    listTable.filter.seller_list = '0';
    listTable.filter.review_status = '0';
    listTable.filter.store_search = '-1';
    listTable.filter.merchant_id = '0';
    listTable.filter.store_keyword = '';
    listTable.filter.record_count = '1';
    listTable.filter.page_size = '15';
    listTable.filter.page = '1';
    listTable.filter.page_count = '1';
    listTable.filter.start = '0';
  
  $.divselect("#drop_select","#drop_val",function(obj){
    changeAction();
  });
  
  function changeAction()
  {
  
   var type = $("input[name='type']").val();
   var review_status = $("#review_status");
    // 切换商品审核列表的显示
  
    review_status.css("display",type == 'review_to' ? '' : 'none');
    if(type != 'review_to')
    {
    review_status.css("display", 'none');
    }
  }
  
  $(document).on("click","a[ectype='add_goods_attr']",function(){
    var sec_id = $(this).data('secid');
    
    $.jqueryAjax('seckill.php', 'act=add_goods_attr' + '&sec_id=' + sec_id, function(data){
      var content = data.content;
      pb({
        id:"categroy_dialog",
        title:"编辑商品货品信息",
        width:863,
        content:content,
        ok_title:"确定",
        cl_title:"取消",
        drag:true,
        foot:false
      });
    });
  });
</script>
{/block}