{extend name='public/mall_base' /}
{block name='content'}
  <div class="layui-body" style="padding: 20px;">
  	<span class="layui-breadcrumb">
     <a href="">订单管理</a>
     <a><cite>订单列表</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="explanation mb10" id="explanation">
      <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
      <ul>
        <li>标识“<em>*</em>”的选项为必填项，其余为选填项。</li>
        <li>添加订单流程为：选择商城已有会员-选择商品加入订单-确认订单金额-填写收货信息-添加配送方式-选择支付方式-添加发票-查看费用信息-完成。</li>
      </ul>
    </div>
    <div class="flexilist mt30">
      <div class="common-content">
        <form name="theForm" action="order.php?act=step_post&amp;step=shipping&amp;order_id=1696&amp;step_act=add" method="post" onsubmit="return checkShipping()">
          <div class="step">
            <div class="step_title pb5">
              <i class="ui-step"></i>
              <h3 class="fl">添加配送方式</h3>
            </div>
            <div class="step_info">
              <div class="list-div" id="list-div">
                <table class="table_layout">
                  <thead>
                    <tr>
                      <th width="25%"><div class="tDiv">名称</div></th>
                      <th width="45%"><div class="tDiv">描述</div></th>
                      <th width="30%"><div class="tDiv tc">配送费</div></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><div class="tDiv"><div class="checkbox_item"><input name="shipping" type="radio" class="ui-radio" value="24" id="shipping_24" autocomplete="off"><label for="shipping_24" class="ui-radio-label">邮政快递包裹</label></div></div></td>
                      <td><div class="tDiv"><span>http://yjcx.chinapost.com.cn</span></div></td>
                      <td>
                        <div class="tDiv tc">
                          <em>¥</em>0.00                                                </div>
                        </td>
                      </tr>
                      <tr>
                        <td><div class="tDiv"><div class="checkbox_item"><input name="shipping" type="radio" class="ui-radio" value="15" id="shipping_15" autocomplete="off"><label for="shipping_15" class="ui-radio-label">买得着物流</label></div></div></td>
                        <td><div class="tDiv"><span>配送的运费是固定的</span></div></td>
                        <td>
                          <div class="tDiv tc">
                            <em>¥</em>0.00                                                </div>
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="12">
                            <div class="tDiv">
                              <input type="checkbox" name="insure" class="ui-checkbox" id="baojia" value="1">
                              <label for="baojia" class="ui-label">我要保价</label>
                            </div>
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
              <div class="goods_btn">
                <input type="button" value="上一步" class="btn btn35 btn_blue" onclick="history.back()">                        <input name="next" type="submit" class="btn btn35 blue_btn" value="下一步">
                <input type="button" value="取消" class="btn btn35 btn_blue" onclick="location.href='order.php?act=process&amp;func=cancel_order&amp;order_id=1696&amp;step_act=add'">
              </div>
            </form>
          </div>
        </div>
    </div>
{/block}
{block name="js"}
<script type="text/javascript">

var step = 'shipping';
var orderId = 1696;
var act = 'add';

//地区三级联动
$.levelLink();

$(function(){
    $(".checkbox_user").find(".ui-radio").click(function(){
        var checkbox = $(this).parents(".checkbox_user");
        checkbox.addClass("checked_user").siblings().removeClass("checked_user");

        if($("#register_user").is(":checked")){
            $(".register_user_warp").find("input[type='text']").attr("readonly",false);
            $(".register_user_warp").find(".div_readonly").hide();
        }else{
            $(".register_user_warp").find("input[type='text']").attr("readonly",true);
            $(".register_user_warp").find(".div_readonly").show();
        }
    });
    $(document).on("click","input[name='add_price']",function(){
        if($(this).attr("id") == "custom_price"){
            $("#custom_price_value").show();
        }else{
            $("#custom_price_value").hide();
        }
    });
  
  //收货地址
  $("#submitBtn").click(function(){
    if($("#consignee").valid()){
      $("#consignee").submit();
    }
  });
  
  $('#consignee').validate({
    errorPlacement:function(error, element){
      var error_div = element.parents('div.step_value').find('div.form_prompt');
      element.parents('div.step_value').find(".notic").hide();
      error_div.find("label").remove();
      error_div.append(error);
    },
    ignore:"",
    rules:{
      consignee :{
        required : true
      },
      country :{
        min : 1
      },
      province :{
        min : 1
      },
      city :{
        min : 1
      },
      district :{
        min : 1
      },
      address : {
        required : true
      },
      mobile : {
        required : true,
        isTel : true
      }
    },
    messages:{
      consignee:{
         required : '<i class="icon icon-exclamation-sign"></i>请填写收货人名称'
      },
      country :{
        min : '<i class="icon icon-exclamation-sign"></i>请选择国家'
      },
      province :{
        min : '<i class="icon icon-exclamation-sign"></i>请选择省/直辖市'
      },
      city :{
        min : '<i class="icon icon-exclamation-sign"></i>请选择城市'
      },
      district :{
        min : '<i class="icon icon-exclamation-sign"></i>请选择区/县'
      },
      address : {
        required : '<i class="icon icon-exclamation-sign"></i>请填写收货地址'
      },
      mobile : {
        required : '<i class="icon icon-exclamation-sign"></i>请填写手机号码',
        isTel : '<i class="icon icon-exclamation-sign"></i>手机号码不正确',
      }
    }     
  });
});
  
function checkUser()
  {
    var eles = document.forms['theForm'].elements;

    /* 如果搜索会员，检查是否找到 */
    if (document.getElementById('register_user').checked && eles['user'].value == "")
    {
        alert(pls_search_user);
        return false;
    }
    return true;
  }
  
/*function checkGoods()
{
    var eles = document.forms['theForm'].elements;

    if (eles['goods_count'].value <= 0)
    {
        alert(pls_search_goods);
        return false;
    }
    return true;
}*/
  
function checkConsignee()
{
    var eles = document.forms['theForm'].elements;

    if (eles['country'].value <= 0)
    {
        alert(pls_select_area);
        return false;
    }
    if (eles['province'].options.length > 1 && eles['province'].value <= 0)
    {
        alert(pls_select_area);
        return false;
    }
    if (eles['city'].options.length > 1 && eles['city'].value <= 0)
    {
        alert(pls_select_area);
        return false;
    }
    if (eles['district'].options.length > 1 && eles['district'].value <= 0)
    {
        alert(pls_select_area);
        return false;
    }
    if (eles['street'].options.length > 1 && eles['street'].value <= 0)
    {
        alert(pls_select_area);
        return false;
    }
    return true;
}
  
function checkShipping()
{
    if (!radioChecked('shipping'))
    {
        alert(pls_select_shipping);
        return false;
    }
    return true;
}
  
function checkPayment()
{
    if (!radioChecked('payment'))
    {
        alert(pls_select_payment);
        return false;
    }
    return true;
}
  
/**
 * 返回某 radio 是否被选中一个
 * @param string radioName
 */
function radioChecked(radioName)
{
    var eles = document.forms['theForm'].elements;

    for (var i = 0; i < eles.length; i++)
    {
        if (eles[i].name == radioName && eles[i].checked)
        {
            return true;
        }
    }
    return false;
}

$.divselect("#warehouse_id","#warehouse_id_val",function(){
    var warehouse_id = $("#warehouse_id_val").val();
    Ajax.call('goods_inventory_logs.php?is_ajax=1&act=search_area', "warehouse_id=" + warehouse_id, search_areaResult, "GET", "JSON");
});
  
function search_areaResult(result)
{
    $('#area_id').html(result.content);
}
  
$.divselect("#goodslist","#goodslist_val",function(){
    var goodsId = $("#goodslist_val").val();
    var warehouse_id = $("#warehouse_id_val").val();
    var area_id = $("#area_id_val").val();
    if (goodsId > 0)
    {
        Ajax.call('order.php?is_ajax=1&act=json&func=get_goods_info', 'goods_id=' + goodsId + '&warehouse_id=' + warehouse_id + '&area_id=' + area_id, getGoodsInfoResponse, 'get', 'json');
    }
    else
    {
        document.getElementById('goods_name').innerHTML = '';
        document.getElementById('goods_sn').innerHTML = '';
        document.getElementById('goods_cat').innerHTML = '';
        document.getElementById('goods_brand').innerHTML = '';
        document.getElementById('add_price').innerHTML = '';
        document.getElementById('goods_attr').innerHTML = '';
    }
});

function getGoodsInfoResponse(result)
{
    var eles = document.forms['goodsForm'].elements;

    // 显示商品名称、货号、分类、品牌
    document.getElementById('goods_name').innerHTML = result.goods_name;
    document.getElementById('goods_sn').innerHTML = result.goods_sn;
    document.getElementById('goods_cat').innerHTML = result.cat_name;
    document.getElementById('goods_brand').innerHTML = result.brand_name;
    document.getElementById('goods_storage').innerHTML = result.goods_storage;
    eles['model_attr'].value = result.model_attr;
    eles['attr_price'].value = result.attr_price;

    //显示价格：包括市场价、本店价（促销价）、会员价
    var priceHtml = '<div class="checkbox_item"><input type="radio" name="add_price" class="ui-radio" id="market_price" value="' + result.market_price + '" /><label for="market_price" class="ui-radio-label">市场价 [' + result.market_price + ']</label></div>' +
      '<div class="checkbox_item"><input type="radio" name="add_price" class="ui-radio" id="shop_price" value="' + result.goods_price + '" checked /><label for="shop_price" class="ui-radio-label">本店售价 [' + result.goods_price + ']</label></div>';
    for (var i = 0; i < result.user_price.length; i++)
    {
        priceHtml += '<div class="checkbox_item"><input type="radio" name="add_price" class="ui-radio" id="shop_price_'+i+'" value="' + result.user_price[i].user_price + '" /><label for="shop_price_'+i+'" class="ui-radio-label">' + result.user_price[i].rank_name + ' [' + result.user_price[i].user_price + ']</label></div>';
    }
    priceHtml += '<div class="checkbox_item"><input type="radio" name="add_price" class="ui-radio" id="custom_price" value="user_input" /><label for="custom_price" class="ui-radio-label mr10">' + input_price + '</label><input type="text" id="custom_price_value" name="input_price" class="text w120" value="" style="display:none;" /></div>';
    document.getElementById('add_price').innerHTML = priceHtml;

    //显示属性
    var specCnt = 0; // 规格的数量
    var attrHtml = '';
    var attrType = '';
    var attrTypeArray = '';
    var attrCnt = result.attr_list.length;
    for (i = 0; i < attrCnt; i++)
        {
            var valueCnt = result.attr_list[i].length;

            /*规格*/
            if (valueCnt > 1)
            {
                attrHtml += '<div class="checkbox_items"><div class="attr_name">' + result.attr_list[i][0].attr_name + '：</div>';
                for (var j = 0; j < valueCnt; j++)
                {
                    switch (result.attr_list[i][j].attr_type)
                    {
                        case '0' :
                        case '1' :
                        attrType = 'radio';
                        attrTypeArray = '';
                        break;

                        case '2' :
                        attrType = 'checkbox';
                        attrTypeArray = '[]';
                        break;
                    }
                    attrHtml += '<div class="checkbox_item"><input onclick="get_attr_number(' + result.goods_id + "," + result.warehouse_id + "," + result.area_id + "," + result.user_id + "," + result.model_attr + "," + result.goods_number + ')" type="' + attrType + '" name="spec_' + specCnt + attrTypeArray + '" value="' + result.attr_list[i][j].goods_attr_id + '" class="ui-radio" id="attr_'+result.attr_list[i][j].goods_attr_id+'"';
                    if (j == 0)
                    {
                        attrHtml += ' checked';
                    }
                    attrHtml += ' /><label class="ui-radio-label" for="attr_'+result.attr_list[i][j].goods_attr_id+'">' + result.attr_list[i][j].attr_value;
                    if (result.attr_list[i][j].attr_price > 0)
                    {
                        attrHtml += ' [+' + result.attr_list[i][j].attr_price + ']';
                    }
                    else if (result.attr_list[i][j].attr_price < 0)
                    {
                        attrHtml += ' [-' + Math.abs(result.attr_list[i][j].attr_price) + ']';
                    }
                    attrHtml += '</label></div>'
                }
                attrHtml += '</div>';
                specCnt++;
            }
            /*属性*/
            else
            {
                attrHtml += '<div class="checkbox_items"><div class="attr_name">'+result.attr_list[i][0].attr_name + '：</div>' + result.attr_list[i][0].attr_value + '</div>';
            }
        }
    eles['spec_count'].value = specCnt;
    document.getElementById('goods_attr').innerHTML = attrHtml;
}

function get_attr_number(goods_id, warehouse_id, area_id, user_id, model_attr, goods_number){
    var attr = getSelectedAttributes(document.forms['goodsForm']);
    Ajax.call('order.php?is_ajax=1&act=json&func=get_goods_attr_number', 'goods_id=' + goods_id + '&attr=' + attr + '&warehouse_id=' + warehouse_id + '&area_id=' + area_id + '&user_id=' + user_id + '&model_attr=' + model_attr + '&goods_number=' + goods_number, getGoodsAttrResponse, 'get', 'json');
}
  
function getGoodsAttrResponse(result){

    var eles = document.forms['goodsForm'].elements;

    document.getElementById('goods_storage').innerHTML = result.goods_storage;
    eles['attr_price'].value = result.attr_price;
}
  
/**
* 获得选定的商品属性
*/
function getSelectedAttributes(formBuy)
{
    var spec_arr = new Array();
    var j = 0;
    for (i = 0; i < formBuy.elements.length; i ++ )
    {
        var prefix = formBuy.elements[i].name.substr(0, 5);

        if (prefix == 'spec_' && (
            ((formBuy.elements[i].type == 'radio' || formBuy.elements[i].type == 'checkbox') && formBuy.elements[i].checked) ||
            formBuy.elements[i].tagName == 'SELECT'))
        {
            spec_arr[j] = formBuy.elements[i].value;
            j++ ;
        }
    }

    return spec_arr;
}
  
/**
 * 按用户编号或用户名搜索用户
 */
function searchUser()
{
    var eles = document.forms['theForm'].elements;

    /* 填充列表 */
    var idName = Utils.trim(eles['keyword'].value);

    if (idName != '')
    {
        Ajax.call('order.php?is_ajax=1&act=search_users&id_name=' + idName, '', searchUserResponse, 'GET', 'JSON');
    }
}

function searchUserResponse(result)
{

    if (result.message.length > 0)
    {
        alert(result.message);
    }

    if (result.error == 0)
    {
        $("#user").find('li').remove();

        var arr = result.userlist;

        for (var i = 0; i < arr.length; i++)
        {
            $("#user").children("ul").append("<li><a href='javascript:;' data-value='"+arr[i].user_id+"' class='ftx-01'>"+arr[i].user_name+"</a></li>")
        }
    }
}
  
/**
 * 按商品编号或商品名称或商品货号搜索商品
 */
function searchGoods()
{
    var eles = document.forms['goodsForm'].elements;
    var warehouse_id = eles['warehouse_id'].value;
    var area_id = eles['area_id'].value;
    // if(warehouse_id == 0){
        // alert('请选择仓库');
        // return false;
      // }else if(area_id == 0){
              // alert('请选择地区');
      // return false;
      // }else{
    /* 填充列表 */
    var keyword = Utils.trim(eles['keyword'].value);
    if (keyword != '')
    {
        Ajax.call('order.php?is_ajax=1&act=search_goods&keyword=' + keyword + '&order_id=1696' + '&warehouse_id=' + warehouse_id + '&area_id=' + area_id, '', searchGoodsResponse, 'GET', 'JSON');
    }
      // }
}

function searchGoodsResponse(result)
{
    if (result.message.length > 0)
    {
        alert(result.message);
    }

    if (result.error == 0)
    {
        $("#goodslist").find('li').remove();

        var arr = result.goodslist;

        for (var i = 0; i < arr.length; i++)
        {
            $("#goodslist").children("ul").append("<li><a href='javascript:;' data-value='"+arr[i].goods_id+"' class='ftx-01'>"+arr[i].name+"</a></li>")
        }
    }
}
  
function submit(){
    document.forms['theForm'].submit();
}
  
/**
 * 把商品加入订单
 */
function addToOrder()
{
    var form = $("form[name='goodsForm']");
    var warehouse_id = form.find("input[name='warehouse_id']").val();
    var area_id = form.find("input[name='area_id']").val();
    var add_number = form.find("input[name='add_number']").val();
    var goods_storage = $("#goods_storage").html();
    goods_storage = Number(goods_storage);

    // 检查是否选择了商品
    if (form.find("input[name='goodslist']") == "")
    {
        alert(pls_search_goods);
        return false; 
    }/*else if(warehouse_id == 0){
        alert('请选择仓库');
        return false;
    }else if(area_id == 0){
        alert('请选择地区');
        return false;
    }*/
  
  if(goods_storage == 0){
        alert('商品库存不足');
    return false;
  }
  
    if(add_number > goods_storage){
        alert('商品库存不足');
        return false;
    }

    return true;
}

function subOrderAdd(){
  var form = $("form[name='theFormNext']");
  
  if($(".goods_info").length > 0){
    return true;
  }else{
    alert("请先添加商品");
    return false;
  }
}
  
/**
 * 载入收货地址
 * @param int addressId 收货地址id
 */
function loadAddress(addressId)
{
    location.href += 'order.php?act=add&order_id=1696&step=shipping&address_id=' + addressId;
}

$.divselect("#addresslist","#addresslist_val",function(obj){
    var value = obj.data("value");
    loadAddress(value);
});

$.divselect("#bonus_id","#bonus_id_val",function(obj){
    var money = obj.data("money");
    obj.parents(".imitate_select").find("input[name='bonus_val']").val(money);
});

/* 运算订单总金额不能为负数 */
function get_order_amount(){
  
  var goods_amount = $(":input[name='goods_amount']").val();
  var tax = $(":input[name='tax']").val();
  var shipping_fee = $(":input[name='shipping_fee']").val();
  var pay_fee = $(":input[name='pay_fee']").val();
  var discount = $(":input[name='discount']").val();

  var bonus = $(":input[name='bonus_val']").val();
  var money_paid = $(":input[name='money_paid']").val();
  var surplus = $(":input[name='surplus']").val();
  var integral = $(":input[name='integral']").val();
  var coupons = $(":input[name='coupons']").val();
  var value_card = $(":input[name='value_card']").val();
  
  var total_fee = Number(goods_amount) + Number(tax) + Number(shipping_fee) + Number(pay_fee) - Number(discount);
  
  if(total_fee < 0){
    alert("您修改的费用信息折扣不能大于实际订单总金额");
    return false;
  }
  
  if(total_fee == 0){
    var concessionary = Number(money_paid) + Number(surplus) - Number(coupons) - Number(integral) - Number(value_card) - Number(bonus);
    var order_amount = Number(total_fee) - Number(concessionary);
  }else{
    var order_amount = (Number(money_paid) + Number(surplus) + Number(coupons) + Number(integral) + Number(value_card) + Number(bonus) - total_fee) * -1;
  }
  
  var str = '';
    
  if(order_amount < 0){
    if(confirm("您修改的费用信息产生了负数（" + order_amount.toFixed(2) + "）" + str + "，会是否继续？")){
      $("form[name='theForm']").submit();
    }
  }else{
    $("form[name='theForm']").submit();
  }
}
</script>
</html>