{extend name='public/base' /}
{block name='content'}
{include file="mallsite/menu"/}
    <div class="layui-body" style="padding: 20px;">
      <span class="layui-breadcrumb">
        <a href="">平台设置</a>
        <a><cite>配送方式&地区</cite></a>
      </span>
      <div class="layui-tab-content">
        <div class="layui-tab layui-tab-card">
          <ul class="layui-tab-title">
            <li class="layui-this">配送方式</li>
            <li>配送地区及运费</li>
            <li>地区管理</li>
            <li>自提时间段</li>
          </ul>
          <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
              <div class="explanation" id="explanation">
                <div class="ex_tit">
                  <i class="sc_icon"></i>
                  <h4>操作提示</h4>
                  <span id="explanationZoom" title="收起提示"></span>
                </div>
                <ul>
                  <li>该页面展示了平台所有配送方式的信息列表。</li>
                  <li>安装配送方式后需设置区域方可使用。</li>
                  <li>支持快递鸟打印的快递，部分还需要申请帐号才能正常使用，请按照如下提示进行设置
                    <p><strong class="red">无需申请帐号：</strong>EMS、邮政快递包裹、顺丰、宅急送</p>
                    <p><strong class="red">线上（快递鸟后台）申请账号：</strong>韵达、圆通</p>
                    <p><strong class="red">线下（网点）申请账号：</strong>百世汇通、全峰、申通、天天、中通</p></li>
                  </ul>
                </div>
                <div class="flexilist">
                  <div class="common-content">
                    <div class="list-div">
                      <table class="table_layout">
                        <thead>
                          <tr>
                            <th width="12%"><div class="tDiv">配送方式名称</div></th>
                            <th width="25%"><div class="tDiv">网址 (仅供参考)</div></th>
                            <th width="10%"><div class="tDiv">快递鸟打印</div></th>
                            <th width="10%"><div class="tDiv">默认方式</div></th>
                            <th width="8%"><div class="tDiv">排序</div></th>
                            <th width="22%" class="handle">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td>
                              <div class="tDiv">中通速递</div>
                            </td>
                            <td>
                              <div class="tDiv">
                                <span><a href="http://www.zto.cn" target="_blank">http://www.zto.cn</a></span>
                              </div>
                            </td>
                            <td><div class="tDiv"><img src="__STATIC__/admin/images/yes.png" alt="是" title="是"></div></td>
                            <td><div class="tDiv"><img src="__STATIC__/admin/images/no.png" alt="否" title="否"></div></td>
                            <td><div class="tDiv">0</div></td>
                            <td class="handle handle_tr tr">
                              <div class="tDiv">
                                <a href="{:url('areaAddKuaidiniao')}" class="btn_inst" ectype="account_setting" data-id="25" data-code="ems"><i class="icon icon-cog"></i>快递鸟帐号设置</a>
                                <a href="shipping_area.php?act=list&amp;shipping=17" class="btn_region"><i class="sc_icon icon-map-marker"></i>配送区域及运费</a>

                              </div>
                            </td>
                          </tr>
                          <tr class="">
                            <td>
                              <div class="tDiv">圆通速递</div>
                            </td>
                            <td>
                              <div class="tDiv">
                                <span><a href="http://www.zto.cn" target="_blank">http://www.zto.cn</a></span>
                              </div>
                            </td>
                            <td><div class="tDiv"><img src="__STATIC__/admin/images/yes.png" alt="是" title="是"></div></td>
                            <td><div class="tDiv"><img src="__STATIC__/admin/images/no.png" alt="否" title="否"></div></td>
                            <td><div class="tDiv">0</div></td>
                            <td class="handle handle_tr tr">
                              <div class="tDiv">
                                <a href="{:url('areaAddKuaidiniao')}" class="btn_inst" id='btn_inst' ectype="account_setting" data-id="25" data-code="ems"><i class="icon icon-cog" id="btn_inst"></i>快递鸟帐号设置</a>
                                <a href="shipping_area.php?act=list&amp;shipping=17" class="btn_region"><i class="sc_icon icon-map-marker"></i>配送区域及运费</a>

                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="layui-tab-item">
               <div class="explanation" id="explanation">
                <div class="ex_tit">
                  <i class="sc_icon"></i>
                  <h4>操作提示</h4>
                  <span id="explanationZoom" title="收起提示"></span>
                </div>
                <ul>
                  <li>可以针对具体商品设置运费模板。</li>
                  <li>订单运费计算中，该运费总是优先于任何运费。</li>
                  <li>商品选择该运费只有首重，且运费固定，请根据实际需要进行设置。</li>
                </ul>
              </div>
              <div class="flexilist">
                <div class="common-head">
                  <div class="fl">
                    <a href="{:url('areaAddExpress')}"><div class="fbutton"><div class="add" title="添加配送区域"><span><i class="icon icon-plus"></i>添加配送区域</span></div></div></a>
                  </div>        
                  <div class="refresh ml0">
                    <div class="refresh_tit" title="刷新数据"><i class="icon icon-refresh"></i></div>
                    <div class="refresh_span">刷新 - 共7条记录</div>
                  </div>
                  <div class="search">
                    <form action="javascript:;" name="searchForm" onsubmit="searchGoodsname(this);">
                      <div class="input">
                        <input type="text" name="keyword" class="text nofocus" placeholder="模板名称" autocomplete="off">
                        <input type="submit" class="btn" name="secrch_btn" ectype="secrch_btn" value="">
                      </div>
                    </form>
                  </div>                    
                </div>
                <div class="common-content">
                  <form method="POST" action="goods_transport.php?act=batch_drop" name="listForm">
                    <div class="list-div" id="listDiv">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th width="3%" class="sign"><div class="tDiv"><input type="checkbox" name="all_list" class="checkbox" id="all_list"><label for="all_list" class="checkbox_stars"></label></div></th>
                            <th width="5%"><div class="tDiv">编号</div></th>
                            <th width="10%"><div class="tDiv">快递名称</div></th>
                            <th width="10%"><div class="tDiv">配送区域名称</div></th>
                            <th width="50%"><div class="tDiv">区配送域详情</div></th>
                            <th width="10%"><div class="tDiv">满多少包邮</div></th>
                            <th class="handle">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td class="sign"><div class="tDiv">
                              <input type="checkbox" name="checkboxes[]" value="10" class="checkbox" id="checkbox_10">
                              <label for="checkbox_10" class="checkbox_stars"></label>
                            </div></td>
                            <td><div class="tDiv">1</div></td>
                            <td><div class="tDiv">邮政包裹</div></td>
                            <td><div class="tDiv">华北地区</div></td>
                            <td>
                              <div class="tDiv">背北京,安徽,福建,甘肃,广东,广西,贵州,海南,河北,河南,黑龙江,湖北,湖南,吉林,江苏,江西,辽宁,内蒙古,宁夏,青海,山东,山西,陕西,上海,四川,天津,西藏,新疆,云南,浙江,重庆</div>
                            </td>
                            <td>
                              <div class="tDiv">
                                99                                            
                              </div>
                            </td>
                            <td class="handle">
                              <div class="tDiv ht_tdiv">
                                <a href="" class="btn_edit"><i class="icon icon-edit"></i>编辑</a>
                                <a href="javascript:;" onclick="listTable.remove(10, '您确认要删除这条记录吗？')" class="btn_trash"><i class="icon icon-trash"></i>删除</a>
                              </div>  
                            </td>
                          </tr>
                        </tbody>
                        <tfoot>
                          <tr>
                            <td colspan="10">
                              <div class="tDiv">
                                <div class="tfoot_btninfo">
                                  <div class="shenhe">
                                    <input name="drop_type_id" type="submit" id="btnSubmit" value="删除" disabled="disabled" class="btn btn_disabled" ectype="btnSubmit">
                                  </div>
                                </div>
                                <div class="list-page">
                                 <!-- $Id: page.lbi 14216 2008-03-10 02:27:21Z testyang $ -->

                                 <div id="turn-page">
                                  <span class="page page_1">总计 <em id="totalRecords">7</em>个记录</span>
                                  <span class="page page_2">分为<em id="totalPages">1</em>页</span>
                                  <!--<span>页当前第<em id="pageCurrent">1</em></span>-->
                                  <span class="page page_3"><i>每页</i><input type="text" size="3" id="pageSize" value="15" onkeypress="return listTable.changePageSize(event)"></span>
                                  <span class="page mr10"><i>至</i><input type="text" size="3" value="1" onkeyup="listTable.gotoPage($(this).val())"></span>
                                  <span id="page-link">
                                    <a href="javascript:listTable.gotoPageFirst()" class="first" title="第一页"></a>
                                    <a href="javascript:listTable.gotoPagePrev()" class="prev" title="上一页"></a>
                                    <select id="gotoPage" onchange="listTable.gotoPage(this.value)">
                                      <option value="1">1</option>        </select>
                                      <a href="javascript:listTable.gotoPageNext()" class="next" title="下一页"></a>
                                      <a href="javascript:listTable.gotoPageLast()" class="last" title="最末页"></a>
                                    </span>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </form>
                </div>
              </div>
              </div>
              <div class="layui-tab-item">
               <div class="explanation" id="explanation">
                  <div class="ex_tit">
                    <i class="sc_icon"></i>
                    <h4>操作提示</h4>
                    <span id="explanationZoom" title="收起提示"></span>
                  </div>
                  <ul>
                    <li>在新增一级地区点击管理进入下一级地区，可进行删除和编辑。</li>
                    <li>地区用于商城定位，请根据商城实际情况谨慎设置。</li>
                    <li>生成地区首字母是方便根据地区首字母搜索相对应的地区。</li>
                    <li>地区层级关系必须为中国→省/直辖市→市→县，地区暂只支持到四级地区其后不显示，暂不支持国外。</li>
                  </ul>
                </div>
              </div>
              <div class="layui-tab-item">
                <div class="explanation" id="explanation">
                  <div class="ex_tit">
                    <i class="sc_icon"></i>
                    <h4>操作提示</h4>
                    <span id="explanationZoom" title="收起提示"></span>
                  </div>
                  <ul>
                    <li>自提点时间段列表。</li>
                    <li>在前台结算页面上门自取时间选择中会使用到。</li>
                  </ul>
                </div>
                <div class="flexilist">
                  <!--商品列表-->
                  <div class="common-head">
                    <div class="fl">
                      <a href="shipping.php?act=date_add"><div class="fbutton"><div class="add" title="添加自提时间段"><span><i class="icon icon-plus"></i>添加自提时间段</span></div></div></a>
                    </div>
                  </div>
                  <div class="common-content">
                    <div class="list-div" id="listDiv">
                      <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                          <tr>
                            <th width="10%"><div class="tDiv">编号</div></th>
                            <th width="40%"><div class="tDiv">时段</div></th>
                            <th width="30%"><div class="tDiv">可选开始日期</div></th>
                            <th width="20%" class="handle">操作</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="">
                            <td><div class="tDiv">2</div></td>
                            <td><div class="tDiv">9:00-20:00</div></td>
                            <td><div class="tDiv">0</div></td>
                            <td class="handle">
                              <div class="tDiv a2">
                                <a href="shipping.php?act=date_edit&amp;sid=2" class="btn_edit"><i class="icon icon-edit"></i>编辑</a>
                                <a href="shipping.php?act=date_remove&amp;sid=2" class="btn_trash"><i class="icon icon-trash"></i>删除</a>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <!--商品列表end-->
                </div>
              </div>
{/block}
{block name='js'}
  <script type="text/javascript">
    $(function () {
      $.levelLink();
    
 });
 </script>
{/block}