{extend name='public/base' /}
{block name='content'}
{include file="mallsite/menu"/}
  <div class="layui-body" style="padding: 20px;">
  	<span class="layui-breadcrumb">
     <a href="">平台设置</a>
     <a><cite>打印设置</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="explanation mdz-m-b20" id="explanation">
      <div class="ex_tit">
        <i class="sc_icon"></i>
        <h4>操作提示</h4>
        <span id="explanationZoom" title="收起提示"></span>
      </div>
      <ul>
        <li>从列表中选择规格进行设置。</li>
        <li>可以将常用规格设置为默认。</li>
      </ul>
    </div>
    <div class="flexilist">
      <div class="common-content">
        <div class="mian-info">
          <form method="post" action="tp_api.php" name="theForm" novalidate="novalidate">
            <div class="switch_info">
              <div class="item">
                  <div class="label"><span class="require-field">*</span>打印机名称：</div>
                  <div class="label_value">
                    <input type="text" name="printer" class="text" autocomplete="off" value="">
                    <div class="notic">打印机名称如：ELP-168ES</div>
                    <div class="form_prompt"></div>
                  </div>
                </div>
              <div class="item">
                <div class="label"><span class="require-field">*</span>打印厂家：</div>
                <div class="label_value">
                  <div class="imitate_select select_w120" id="specification">
                    <div class="cite">请选择</div>
                    <ul style="display: none;" class="ps-container ps-active-y">
                      <li><a href="javascript:;" data-value="100MM" data-width="100" class="ftx-01">365</a></li>
                      <li><a href="javascript:;" data-value="100MM" data-width="100" class="ftx-01">飞鹅</a></li>
                      <div class="ps-scrollbar-x-rail" style="width: 120px; display: none; left: 0px; bottom: 3px;"><div class="ps-scrollbar-x" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; height: 280px; display: inherit; right: 0px;"><div class="ps-scrollbar-y" style="top: 0px; height: 175px;"></div></div></ul>
                      <input name="specification" type="hidden" value="" id="specification_val">
                    </div>
                    <div class="form_prompt"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="label">打印机编号：</div>
                  <div class="label_value">
                    <input type="text" name="printer" class="text" autocomplete="off" value="">
                    <div class="notic"></div>
                    <div class="form_prompt"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="label"><span class="require-field">*</span>打印机秘钥：</div>
                  <div class="label_value">
                    <input type="text" name="width" class="text" autocomplete="off" value="">
                    <div class="notic"></div>
                  </div>
                </div>
                  <div class="item">
                  <div class="label">打印机连数：</div>
                  <div class="label_value">
                    <input type="text" name="width" class="text" autocomplete="off" value="">
                    <div class="notic">同一订单，打印的次数</div>
                  </div>
                </div>
                <div class="item">
                  <div class="label">&nbsp;</div>
                  <div class="label_value info_btn">
                    <a href="javascript:;" class="button" id="submitBtn"> 确定 </a>
                    <input type="hidden" name="act" value="order_print_setting_insert">
                    <input type="hidden" name="id" value="">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {/block}