{extend name='public/base' /}
{block name='content'}
{include file="mallsite/menu"/}
<div class="layui-body" style="padding: 20px;">
  	<span class="layui-breadcrumb">
     <a href="">平台设置</a>
     <a><cite>基本设置</cite></a>
   </span>
   <div class="layui-tab-content">
    <div class="explanation" id="explanation">
      <div class="ex_tit">
        <i class="sc_icon"></i>
        <h4>操作提示</h4>
        <span id="explanationZoom" title="收起提示"></span>
      </div>
      <ul>
        <li>平台相关信息设置，请谨慎填写信息。</li>
        <li>标识“<em>*</em>”的选项为必填项，其余为选填项。</li>
      </ul>
    </div>
    <div class="flexilist">
      <div class="mian-info">
        <form action="" id="article_form">
          <div class="switch_info shopConfig_switch">
            <div class="item shop_name">
              <div class="label">平台名称：</div>
              <div class="label_value">
                <input type="text" name="value[101]" class="text shop_name" value="买得着商城" autocomplete="off" id="title">
                <div class="form_prompt"></div>
              </div>
            </div>
            <div class="item shop_title">
              <div class="label">平台标题：</div>
              <div class="label_value">
                <input type="text" name="" class="text shop_title" value="" autocomplete="off">
                <div class="form_prompt"></div>
                <div class="notic">平台的标题，将显示在浏览器的标题栏Title</div>
              </div>
            </div>
            <div class="item shop_desc">
              <div class="label">平台描述：</div>
              <div class="label_value">
                <input type="text" name="value[103]" class="text shop_desc" value="买得着--云南省跨境电商项目合作企业" autocomplete="off">
                <div class="form_prompt"></div>
                <div class="notic">平台描述内容，将显示在浏览器的Description</div>
              </div>
            </div>
            <div class="item shop_keywords">
              <div class="label">平台关键字：</div>
              <div class="label_value">
                <input type="text" name="value[104]" class="text shop_keywords" value="砚山买得着 买得着 农村电商 文山三七 绿粑粑" autocomplete="off">
                <div class="form_prompt"></div>
                <div class="notic">平台的关键字，将显示在浏览器的Keywords</div>
              </div>
            </div>
            <div class="item">
              <div class="label"><span class="require-field">*</span>&nbsp;地区选择：</div>
              <div class="label_value">
                <div id="dlProvinces" class="ui-dropdown smartdropdown alien" style="z-index: 99;">
                    <input type="hidden" value="" name="province" id="selProvinces">
                    <div class="txt">省/直辖市</div>
                    <i class="down u-dropdown-icon"></i>
                    <div class="options clearfix" style="max-height:300px;">
                       {volist name='$region' id='vo'}
                       <span class="liv" data-text="{$vo.region_name}" data-type="{$vo.region_type}" data-value="{$vo.region_id}">{$vo.region_name}</span>
                       {/volist}
                    </div>
                </div>
                <div id="dlCity" class="ui-dropdown smartdropdown alien" style="z-index: 98;">
                    <input type="hidden" value="" name="city" id="selCities">
                    <div class="txt">州、市</div>
                    <i class="down u-dropdown-icon"></i>
                    <div class="options clearfix" style="max-height:300px;"></div>
                </div>
                <div id="dlRegion" class="ui-dropdown smartdropdown alien" style="z-index: 97;">
                    <input type="hidden" value="" name="district" id="selDistricts">
                    <div class="txt">区/县</div>
                    <i class="down u-dropdown-icon"></i>
                    <div class="options clearfix" style="max-height:300px;"></div>
                </div>  
                <div class="form_prompt"></div>
              </div>
            </div>
            <div class="item shop_address" data-val="108">
              <div class="label">详细地址：</div>
              <div class="label_value">
                <input type="text" name="value[108]" class="text shop_address" value="砚山县林业二区" autocomplete="off">
                <div class="form_prompt"></div>
                <div class="notic">平台详细地址，不显示在前台</div>
              </div>
            </div>
            <div class="item service_phone" data-val="115">
              <div class="label">客服电话：</div>
              <div class="label_value">
                <input type="text" name="value[115]" class="text service_phone" value="0876-3844408" autocomplete="off">
                <div class="form_prompt"></div>
                <div class="notic">平台客服电话，联系平台电话，例：入驻页面导航显示的电话</div>
              </div>
            </div>
            <div class="item shop_closed" data-val="116">
              <div class="label">暂时关闭网站：</div>
              <div class="label_value">
                <div class="checkbox_items">
                  <div class="checkbox_item">
                    <input type="radio" name="value[116]" class="ui-radio evnet_shop_closed" id="value_116_0" value="0" checked="true">
                    <label for="value_116_0" class="ui-radio-label">否</label>
                  </div>
                  <div class="checkbox_item">
                    <input type="radio" name="value[116]" class="ui-radio evnet_shop_closed" id="value_116_1" value="1">
                    <label for="value_116_1" class="ui-radio-label">是</label>
                  </div>
                </div>
                <div class="form_prompt"></div>
                <div class="notic">平台需升级或者其他原因临时关闭网站</div>
              </div>
            </div>
            <div class="item close_comment" data-val="117">
              <div class="label">关闭网店的原因：</div>
              <div class="label_value">
                <textarea class="textarea" name="value[117]" id="role_describe"></textarea>
                <div class="form_prompt"></div>
                <div class="notic">平台临时关闭网站说明原因</div>
              </div>
            </div>
            <div class="item shop_logo" data-val="118">
                <div class="label">平台 Logo：</div>
                <div class="label_value">
                  <div class="type-file-box">
                    <input type="button" name="button" id="button" class="type-file-button" value="">
                    <input type="file" class="type-file-file" name="shop_logo" size="30" data-state="imgfile" hidefocus="true" value="">
                    <span class="show">
                      <a href="https://www.maidezhao.com/themes/ecmoban_dsc2017/images/logo.gif" target="_blank" class="nyroModal"><i class="icon icon-picture" data-tooltipimg="https://www.maidezhao.com/themes/ecmoban_dsc2017/images/logo.gif" ectype="tooltip" title="tooltip"></i></a>
                    </span>
                    <input type="text" name="textfile" class="type-file-text" id="textfield" readonly="">
                  </div>
                  <a href="shop_config.php?act=del&amp;code=shop_logo" class="btn red_btn h30 mr10 fl" style="line-height:30px;">删除</a>
                  <div class="form_prompt"></div>
                  <div class="notic">上传图片格式必须是gif,jpg,jpeg,png;图片大小在200kb之内，建议尺寸：159*100</div>    </div>
            </div>
            <div class="item user_notice" data-val="120">
              <div class="label">用户中心公告：</div>
              <div class="label_value">
                <textarea class="textarea" name="value[120]" id="role_describe">平台公告</textarea>
                <div class="form_prompt"></div>
                <div class="notic">该信息将在用户中心欢迎页面显示</div>    </div>
            </div>
            <div class="item shop_notice" data-val="121">
              <div class="label">平台公告：</div>
              <div class="label_value">
                <textarea class="textarea" name="value[121]" id="role_describe">说的是尽可能发动机发的看风景的看法呢</textarea>
                <div class="form_prompt"></div>
                <div class="notic">以上内容将显示在首页平台公告中,注意控制公告内容长度不要超过公告显示区域大小。</div>    </div>
            </div>          
            <div class="item">
              <div class="label">&nbsp;</div>
              <div class="label_value info_btn">
                <input type="submit" value=" 确定 " ectype="btnSubmit" class="button">  
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{/block}
{block name='js'}                            
<script type="text/javascript">
  $(function () {
    // 异步请求地址
    var SCOPE = {
      'city_url' : '{:url('api/region/getCitysByParentId')}',
      'category_url' : '{:url('api/category/getCategoryByParentId')}',
      'uploadify_swf' : '__STATIC__/admin/uploadify/uploadify.swf',
      'image_upload' : '{:url('api/image/upload')}',
    };
    // 省份三级联动
    $.levelLink(SCOPE.city_url);

    });
</script>
{/block}