{extend name="public/layout" /}
  {block name='menu'}
{include file='mallsite/menu' /}
{/block}
  {block name='body'}
    <span class="layui-breadcrumb">
      <a href="">系统设置</a>
      <a> <cite>角色管理</cite></a>
    </span>
    <div class="layui-tab-content">
      <div class="explanation" id="explanation">
        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
        <ul>
          <li>如果您的服务器支持 Mail 函数（具体信息请咨询您的空间提供商）。我们建议您使用系统的 Mail 函数。</li>
          <li>当您的服务器不支持 Mail 函数的时候您也可以选用 SMTP 作为邮件服务器。</li>
        </ul>
      </div>
      <div class="flexilist">
        <div class="common-content">
          <div class="mian-info">
            <form method="POST" action="{:url('email/save')}" id="email_form">
              <div class="switch_info shopConfig_switch">
                <div class="items">
                    <div class="item smtp_host" >
                      <div class="label">发送邮件服务器地址(SMTP)：</div>
                      <div class="label_value">
                        <input type="text" name="smtp_host" class="text smtp_host" value="{$val.smtp_host}" autocomplete="off">
                        <div class="form_prompt"></div>
                        <div class="notic">邮件服务器主机地址</div>
                      </div>
                      </div>
                      <div class="item smtp_port" >
                        <div class="label">服务器端口：</div>
                        <div class="label_value">
                          <input type="text" name="smtp_port" class="text smtp_port" value="{$val.smtp_port}" autocomplete="off">
                          <div class="form_prompt"></div>
                        </div>

                      </div>
                      <div class="item smtp_user">
                        <div class="label">邮件发送帐号：</div>
                        <div class="label_value">
                          <input type="text" name="smtp_user" class="text smtp_user" value="{$val.smtp_user}" autocomplete="off">
                          <div class="form_prompt"></div>
                          <div class="notic">发送邮件所需的认证帐号，如果没有就为空着</div>    </div>

                        </div>
                        <div class="item smtp_pass">
                          <div class="label">帐号密码：</div>
                          <div class="label_value">
                            <input type="password" style="display:none"> 
                            <input type="password" name="smtp_pass" class="text" value="{$val.smtp_pass}" autocomplete="off">
                            <div class="form_prompt"></div>
                          </div>
                        </div>
                        <div class="item smtp_mail">
                          <div class="label">邮件回复地址：</div>
                          <div class="label_value">
                            <input type="text" name="smtp_mail" class="text smtp_mail" value="{$val.smtp_mail}" autocomplete="off">
                            <div class="form_prompt"></div>
                          </div>
                        </div>
                        <div class="item">
                          <div class="label">邮件地址：</div>
                          <div class="label_value">
                            <input name="test_mail_address" type="text" id="tag_name" value="{$val.test_mail_address}" maxlength="60" class="text">
                            <input type="button" value="发送测试邮件" onclick="sendTestEmail('{:url('email/testemail')}');" class="btn btn30 red_btn">
                          </div>
                        </div>
                        <div class="item">
                          <div class="label">&nbsp;</div>
                          <div class="label_value info_btn">
                            <input type="submit" value=" 确定 " class="button">
                            <input type="reset" value=" 重置 " class="button button_reset">
                             <input type="button" value="测试 " class="button" onclick="test()">
                            <input name="email_id" type="hidden" value="{$val.email_id}" class="button">
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
     {/block}
{block name='js'}
  <script type="text/javascript">
    
     /**
   * 测试邮件的发送
   */
  function sendTestEmail(url)
  {
    var test_mail_address = $("input[name='test_mail_address']").val();
    var postData={
      "to":test_mail_address,
  };
    $.post(url, postData, function(result){
        // 逻辑
        if(result.code == 1) {
          pbDialog(result.msg,"",1);
        }else {
          pbDialog(result.msg,"",0);
        }
    },"json");
  }
  function test(argument) {
     pbDialog('msgTitle','',3);
  }
  </script>
{/block}