{extend name='public/base' /}
{block name='content'}
{include file="mallsite/menu"/}
  <div class="layui-body" style="padding: 20px;">
    <span class="layui-breadcrumb">
      <a href="">管理员权限</a>
      <a href="">管理员列表</a>
      <a><cite>添加管理员</cite></a>
    </span>
    <div class="layui-tab-content">
      <div class="explanation" id="explanation">
        <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span id="explanationZoom" title="收起提示"></span></div>
        <ul>
          <li>可从管理平台手动添加一名新管理员，并填写相关信息。</li>
          <li>新增管理员后可从管理员列表中找到该条数据，并再次进行编辑操作。</li>
          <li>标识“<em>*</em>”的选项为必填项，其余为选填项。</li>
        </ul>
      </div>
      <div class="flexilist">
        
        <div class="common-content">
          <div class="mian-info">
            <form name="theForm" method="post" enctype="multipart/form-data" id="user_form" novalidate="novalidate">
              <div class="switch_info">
                <div class="item">
                  <div class="label"><span class="require-field">*</span>用户名：</div>
                  <div class="label_value">
                    <input type="text" id="user_name" name="user_name" class="text valid" value="" autocomplete="off" aria-required="true" aria-invalid="false">
                    <div class="form_prompt"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="label"><span class="require-field">*</span>Email地址：</div>
                  <div class="label_value">
                    <input type="text" name="email" class="text" id="email" value="" autocomplete="off">
                    <div class="form_prompt"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="label"><span class="require-field">*</span>密  码：</div>
                  <div class="label_value">
                    <input type="password" style="display:none">
                    <input type="password" name="password" class="text validate-equalTo-blur" id="password">
                    <div class="form_prompt"></div>
                  </div>
                </div>
                <div class="item">
                  <div class="label"><span class="require-field">*</span>确认密码：</div>
                  <div class="label_value">
                    <input type="password" style="display:none">
                    <input type="password" name="pwd_confirm" class="text" id="pwd_confirm" aria-required="true" aria-invalid="true">
                    <div class="form_prompt"></div>
                  </div>
                </div>
                
                <div class="item">
                  <div class="label">角色选择：</div>
                  <div class="label_value">
                    <div class="imitate_select select_w320">
                      <div class="cite">请选择...</div>
                      <ul>
                       <li><a href="javascript:;" data-value="0" class="ftx-01">请选择...</a></li>
                       <li><a href="javascript:;" data-value="3" class="ftx-01">美工</a></li>
                     </ul>
                     <input name="select_role" type="hidden" value="0">
                   </div>
                 </div>
               </div>
               
               <div class="item">
                <div class="label">&nbsp;</div>
                <div class="label_value info_btn">
                  <a href="javascript:;" class="button" id="submitBtn"> 确定 </a>
                  <input type="hidden" name="act" value="insert">
                  <input type="hidden" name="token" value="c49edab224d09de5d24e1bcdf9a18508322868ca44f62506af25f77b45af4e5b">
                  <input type="hidden" name="id" value="">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name='js'}
 <script type="text/javascript">
    $(function(){
    $("#submitBtn").click(function(){
      if($("#user_form").valid()){
        $("#user_form").submit();
      }
    });

    $('#user_form').validate({
      errorPlacement:function(error, element){
          var error_div = element.parents('div.label_value').find('div.form_prompt');
          element.parents('div.label_value').find(".notic").hide();
          error_div.append(error);
        },
      rules:{
        user_name:{
          required : true
        },
        password:{
          required : true,
          minlength: 5,
        },
        email:{
          required : true,
          email: true
        },
        pwd_confirm: {
        required: true,
        minlength: 5,
        equalTo: "#password"
      },
      },
      messages:{
        user_name:{
          required:'<i class="icon icon-exclamation-sign"></i>'+'用户名称不能为空'
        },
        email:{
          required:'<i class="icon icon-exclamation-sign"></i>'+'邮箱地址不能为空',
          email:'<i class="icon icon-exclamation-sign"></i>'+'邮箱格式不正确',
        },
         password:{
          required:'<i class="icon icon-exclamation-sign"></i>'+'密码不能为空',
          minlength:'<i class="icon icon-exclamation-sign"></i>'+'密码长度最少为6位'
        },
        pwd_confirm:{
           required:'<i class="icon icon-exclamation-sign"></i>'+'确认密码不能为空',
           minlength:'<i class="icon icon-exclamation-sign"></i>'+'确认密码不能为空',
           equalTo:'<i class="icon icon-exclamation-sign"></i>'+'两次密码输入不一致'
        }
      }
    });
  }); 
  </script>
  {/block}