
	<div class="header clearfix">
		<!-- top -->
		<div class="top">
			<div class="w1200">
				<div class="site-nav">
					<div class="fl ml10">
						<div class="city-choice">
							<div class="mdz-choie mdz-cm">
								<i class=" fa fa-map-marker iconfont"></i>
								<span class="ui-areamini-text">砚山</span>
							</div>
							<div class="txt-info">
								<a href="" class="link-login red">请登录</a>
								<a href="" class="link-regist">免费注册</a>
							</div>
						</div>
					</div>
					<ul class="quick-menu fr">
						<li>
							<div class="dt">
								<a href="">我的订单</a>
							</div>
						</li>
						<li class="spacer"></li>
						<li>
							<div class="dt">
								<a href="">的的浏览</a>
							</div>
						</li>
						<li class="spacer"></li>
						<li>
							<div class="dt">
								<a href="">我的收藏</a>
							</div>
						</li>
						<li class="spacer"></li>
						<li>
							<div class="dt">
								<a href="">客服服务</a>
							</div>
						</li>
						<li class="spacer"></li>
						<li class="li_dorpdown" id="dorpdown">
							<div class="dt dsc-cm">
								网站导航
								<i class="fa fa-angle-down"></i>
							</div>
							<div class="dd dorpdown-layer" id="layer">
								<dl class="fore1">
									<dt>特色主题</dt>
									<dd>
										<div class="item">
											<a href="">品味七乡</a>
										</div>
										<div class="item">
											<a href="">手机电脑</a>
										</div>
										<div class="item">
											<a href="">家电家具</a>
										</div>
									</dd>
								</dl>
								<dl class="fore2">
									<dt>促销活动</dt>
									<dd>
										<div class="item">
											<a href="">限时秒杀</a>
										</div>
										<div class="item">
											<a href="">拼团</a>
										</div>
										<div class="item">
											<a href="">品牌特卖</a>
										</div>
									</dd>
								</dl>
							</div>
						</li>
					</ul>
				</div>	
			</div>
		</div>
		<div class="header_co clearfix">
			<div class="w1200">
				<!-- logo -->
				<div class="logo fl">
					<a href="">
						<img src="https://www.maidezhao.com/themes/ecmoban_dsc2017/images/logo.gif" alt="买得着商城">
					</a>
				</div>
				<!-- search -->
				<div class="mdz-search">
					<div class="form">
						<form class="search-form">
							<input type="text" class="search-text" value="土鸡" id="earch_input">
							<button type="submit" class="button button-goods">搜索</button>
						</form>
						<ul class="keyword">
			                <li><a href="" target="_blank">鸡蛋</a></li>
			                <li><a href="" target="_blank">三七</a></li>
			                <li><a href="" target="_blank">花茶</a></li>
			                <li><a href="" target="_blank">手机</a></li>
			            </ul>
			            <div class="suggestions_box none" id="suggestions_box">
			            	<div class="suggestions_list">
			                	<ul>
			                		<li>
			                			<div class="left-span">
			                				<font style="font-weight:normal;color:#ec5151;">手机</font>
			                			</div>
			                			<div class="suggest_span">约57个商品</div>
			                		</li>
			                		<li>
			                			在<a href="" style="color:#ec5151;">手机电脑>手机通讯</a>目录下搜索
			                		</li>
			                		<li style="height:1px; overflow:hidden; border-bottom:1px #eee solid; margin-top:-1px;"></li>
			                		<li>
			                			<div class="left-span">
			                				 Apple iPhone X (A1865) 256GB 深空灰色 移动联通电信4G
			                				 <font style="font-weight:normal;color:#ec5151;">手机</font>
			                			</div>
			                			<div class="suggest_span">约1个商品</div>
			                		</li>
			                	</ul>
			                </div>
			            </div>
					</div>
				</div>
			</div>
		</div>
	</div>