<!DOCTYPE html>
<html lang="en">
<head>
	<!-- mate公用开始 -->
	<meta charset="utf8" version="1">
	<title>买得着商城、专注县域电商，力助乡村振兴！</title>
	<meta name="description" content="买得着商城、专业的县域综合网上购物商城,销售家电、数码通讯、电脑、家居百货、服装服饰、母婴、图书、食品等数万个品牌优质商品.便捷、诚信的服务，为您提供愉悦的网上购物体验!">
	<meta name="Keywords" content="农村电商,县域电商,砚山农产品,买得着商城">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
	<link rel="shortcut icon" href="https://www.maidezhao.com/favicon.ico">
	<link rel="stylesheet" href="__STATIC__/index/css/reset.css">
	<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
	<link rel="stylesheet" href="http://at.alicdn.com/t/font_920115_dps7si7sekl.css">
	<link rel="stylesheet" href="__STATIC__/index/css/public.css">
	<link rel="stylesheet" href="__STATIC__/index/plugins/flybar/css/base.css">
	<script type="text/javascript" src="__STATIC__/index/js/lib/jquery.1.10.2.js"></script>
	<!-- mate公用结束 -->