<div class="mui-mbar-tabs">
		<div class="quick_link_mian">
			<div class="quick_links_panel" style="width: 40px;">
				<div id="quick_links" class="quick_links">
					<li>
						<a href="#" class="my_qlinks">
							<span style="display: block;"><i class="iconfont iconfont1 icon-yonghu"></i></span>
							
						</a>
						<div class="ibar_login_box status_login">
							<div class="avatar_box">
								<p class="avatar_imgbox"><img src="__STATIC__/home/images/no-img_mid_.jpg" /></p>
								<ul class="user_info">
									<li>用户名：sl19931003</li>
									<li>级&nbsp;别：普通会员</li>
								</ul>
							</div>
							<div class="login_btnbox">
								<a href="#" class="login_order">我的订单</a>
								<a href="#" class="login_favorite">我的收藏</a>
							</div>
						</div>
					</li>
					<li id="shopCart">
						<a href="#" class="message_list" ><i class="iconfont iconfont1 icon-tuanduicankaoxian-"></i><div class="span">购物车</div><span class="cart_num">0</span></a>
					</li>
					<li>
						<a href="#" class="history_list"><i class="iconfont iconfont1 icon-zijinguanli"></i></a>
						<div class="mp_tooltip" style=" visibility:hidden;">我的资产<i class="iconfont icon-sanjiaoright"></i></div>
					</li>
					<li>
						<a href="#" class="mpbtn_histroy"><i class="iconfont iconfont1 icon-zuji"></i></a>
						<div class="mp_tooltip">我的足迹<i class="iconfont icon-sanjiaoright"></i></div>
					</li>
					<li>
						<a href="#" class="mpbtn_wdsc"><i class="iconfont iconfont1 icon-shoucang"></i></a>
						<div class="mp_tooltip">我的收藏<i class="iconfont icon-sanjiaoright"></i></div>
					</li>
					<li>
						<a href="#" class="mpbtn_recharge"><i class="iconfont iconfont1 icon-Opinion" style="font-size: 20px;"></i></a>
						<div class="mp_tooltip">意见反馈<i class="iconfont icon-sanjiaoright"></i></div>
					</li>
				</div>
				<div class="quick_toggle">
					<li>
						<a href="#"><i class="iconfont iconfont1 icon-kefu"></i></a>
						<div class="mp_tooltip">客服中心<i class="iconfont icon-sanjiaoright"></i></div>
					</li>
					<li>
						<a href="#none"><i class="iconfont iconfont1 icon-erweima"></i></a>
						<div class="mp_qrcode" style="display:none;"><img src="images/weixin_code_145.png" width="148" height="175" /><i class="icon_arrow_white"></i></div>
					</li>
					<li><a href="#top" class="return_top"><i class="iconfont iconfont1 icon-top"></i></a></li>
				</div>
			</div>
			<div id="quick_links_pop" class="quick_links_pop hide"></div>
		</div>
	</div>