<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的买得着</title>
	<link rel="stylesheet" href="../css/home.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!-- top -->
	<div id="shortcut-2014" class="top">
		<div class="w">
			<ul class="fl">
				<li id="ttbar-home">
					<i class="iconfont fa fa-home fa-fw"></i>
					<a href="">买得着首页</a>
				</li>
				<li class="dorpdown" id="ttbar-mycity">
					<div class="dt cw-icon ui-areamini-text-wrap">
						<i class="iconfont fa fa-map-marker"></i>
						<span class="ui-areamini-text">砚山</span>
					</div>
				</li>
			</ul>
			<ul class="fr">
				<li class="fore1 dorpdown" id="ttbar-login">
					<div class="dt cw-icon">
					<a href="" class="nickname">acebing</a>
					<i class="iconfont fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore2">
					<div class="dt">
					<a target="_blank" href="//order.jd.com/center/list.action">我的订单</a>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore3" id="ttbar-myjd">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">我的买得着</a>
					<i class="iconfont  fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore4" id="ttbar-serv">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">客户服务</a>
					<i class="iconfont  fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore5" id="ttbar-navs">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">网站导航</a>
					<i class="iconfont  fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore4">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">手机买得着</a>
					</div>
				</li>
			</ul>
			<span class="clr"></span>
		</div>
	</div>
	<!-- 导航栏 -->
	<div id="nav">
		<div class="w">
			<!-- logo -->
			<div class="logo">
			<a href="" target="_blank" class="fore1" ></a>
			<a href="" target="_self" class="fore2" >我的买得着</a>
			</div>
			<!-- 导航栏 -->
			<div class="navitems">
				<ul>
					<li class="fore-1">
						<a href="">首页</a>
					</li>
					<li class="fore-2">
						<div class="dl">
							<div class="dt">
							<span class="myjd-set">账户设置</span>
							<b class="iconfont fa fa-chevron-down"></b>
							</div>
						</div>
					</li>
					<li class="fore-3">
					<a  href="" target="_self" >消息</a>
					</li>
				</ul>
			</div>
			<!-- 搜索框、购物车 -->
			<div class="nav-r">
				<!-- 搜索框 -->
				<div id="search-2014">
					<div class="form">
						<input type="text" id="key" accesskey="s" class="text blurcolor">
						<button class="button cw-icon" type="button"><i></i>搜索</button>
					</div>
				</div>
				<div class="dorpdown" id="settleup-2014">
					<div class="cw-icon">
						<i class="ci-left"></i>
						<i class="ci-right">&gt;</i><i class="ci-count" id="shopping-amount">0</i>
						<a target="_blank" href="">我的购物车</a>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	 <!-- 内容主体 -->
	 <div id="container">
	 	<div class="w">
	 		<div id="content">
	 			<!-- 左侧菜单 -->
	 			<div id="sub">
	 				<div id="menu">
	 					<dl class="fore1">
	 						<dt >订单中心</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">我的订单</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">评价晒单</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >关注中心</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">关注的商品</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">关注的品牌</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">我的收藏</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">浏览记录</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >资产中心</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">红包</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">买豆</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">优惠劵</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >客户服务</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">返修退换货</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">意见建议</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">我的发票</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">举报中心</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >设置</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">个人信息</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">收货地址</a>
	 						</dd>
	 					</dl>
	 				</div>
	 			</div>
	 			<!-- 中心内容 -->
	 			<div id="main">
	 				<div class="myfollow-hd">
	 					<div class="m-tab-wrap clearfix">
	 						<div class="m-tab">
	 							<ul class="tab-trigger">
	 								<li class="trig-curr trig-item"><a href="//t.jd.com/follow/product" class="text" clstag="homepage|keycount|guanzhu|tb_shp">关注的商品</a></li>
	 								<li class=" trig-item"><a href="//t.jd.com/follow/vender" class="text" clstag="homepage|keycount|guanzhu|tb_dp">关注的店铺</a></li>
	 							</ul>
	 						</div>
	 						<div class="myfollow-search">
	 							<input type="hidden" id="selCids" name="selCids" value="0">
	 							<input type="text" class="search-input" id="q" name="q" onkeydown="if(event.keyCode==13) {$(this).next().trigger(" click");}"="" value="" placeholder="请输入店铺名称">
	 							<a href="javascript:void(0);" clstag="homepage|keycount|guanzhu|search_shp" class="search-btn">搜索</a>
	 						</div>
	 					</div>
	 				</div>
	 				<div class="myfollow-bd">
	 					<div class="mf-selector mf-s-goods">
	 						<div class="mf-selector-line" id="categoryFilter">
	 							<div class="s-main"> 
	 								<ul class="mf-selector-list up"> 
	 									<li class="selected"> 
	 										<a class="search" cid="0" target="_self" href="javascript:void(0);" >全部商品</a> 
	 									</li> 
	 									<li>
	 										<a class="search" cid="653" target="_self" href="javascript:void(0);">手机通讯（1）
	 										</a>
	 									</li>
	 									<li>
	 										<a class="search" cid="1384" target="_self" href="javascript:void(0);" clstag="homepage|keycount|guanzhu|class_shp">家用电器（2）</a>
	 									</li> 
	 								</ul>
	 							</div> 
	 						</div>
	 						<div class="mf-selector-line mf-sline-last">
	 							<div class="s-main">
	 								<ul class="mf-selector-list">
	 									<li class="selected"><a class="search" state="0" href="javascript:void(0);" clstag="homepage|keycount|guanzhu|screening_shp">全部商品</a></li>
	 									<li><a class="search" state="1" href="javascript:void(0);" clstag="homepage|keycount|guanzhu|spsxjj">上新（<em>0</em>）</a></li>
	 									<li><a class="search" state="5" href="javascript:void(0);" clstag="homepage|keycount|guanzhu|spsxyhj">优惠券（<em>0</em>）</a></li>
	 								</ul>
	 							</div>
	 							<div class="s-ext">
	 								<div class="batch-box J-batchBox">
	 									<a href="javascript:void(0);" class="btn-def batch-btn" >批量操作</a>
	 								</div>
	 							</div>
	 						</div>
	 					</div>
						<div class="myfollow-main mf-shop">
							<div class="myfollow-main mf-shop">
								<div class="mf-shop-list">
									<div class="mf-shop-item z-jdshop">
										<div class="item-inner">
											<div class="shop-info">
												<div class="shop-img" clstag="homepage|keycount|guanzhu|logo_dp">
													<a target="_blank" clstag="homepage|keycount|guanzhu|dianpu" href="//huawei.jd.com">
														<img width="120" height="40" alt="华为京东自营官方旗舰店" src="//img30.360buyimg.com/popshop/jfs/t15166/147/1950662551/17922/a917a68a/5a6062e5N826d74c6.jpg" data-img="1">
													</a>
												</div>
												<div class="shop-name" id="name_1000004259">
													<a href="//huawei.jd.com" target="_blank" title="华为京东自营官方旗舰店">华为官方旗舰店</a>
													<em class="u-jd">自营</em>
												</div>
												<div class="ac mt5"><a href=""><span class="julike-icon"></span></a>
												</div>
												<div class="shop-stats" id="shop-stats-1000004259">
													<span class="shop-follow"><i></i><em>3226263</em></span>
												</div>
												<div class="shop-btnbox" id="btns_1000004259">
													<a target="_blank" href="//mall.jd.com/index-1000004259.html" clstag="homepage|keycount|guanzhu|store_dp" class="shop-enter"><i class="btnico"></i><em class="btntxt">进入店铺</em></a>
													<a href="javascript:void(0);" clstag="homepage|keycount|guanzhu|im_dp" id="j-im-1000004259" class="shop-im" title="华为京东自营官方旗舰店 在线客服不在线，您可以点击此处给商家留言，并在【我的京东->消息精灵】中查看回复"><i class="btnico"></i><em class="btntxt">联系客服</em></a>
												</div>		
											</div>
											<div class="shop-cont">
												<div class="shop-hd">
													<div class="shop-tab">
														<a href="javascript:void(0);" class="tab-item tab-curr" >热销</a>
														<a href="javascript:void(0);" class="tab-item">新品</a>
														<a href="javascript:void(0);" class="tab-item">活动</a>
													</div>
												</div>
												<div class="shop-news shop-news-hot show">
														<div class="slider-page"> <span class="page-index"><em class="ftc1 page-curr">1</em> / <em class="page-total">13</em></span> <span class="page-btn"> <span class="J-news-prev disable">&lt;</span> <span class="J-news-next">&gt;</span> </span>
														</div>
														<div class="slider-wrap">
														<ul class="good-list J-news-ul" style="width: 9792px;left: 0px;position: absolute;">
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
														</ul>
													</div>
													</div>
											</div>
										</div>
									</div>
									<div class="mf-shop-item z-jdshop">
										<div class="item-inner">
											<div class="shop-info">
												<div class="shop-img" clstag="homepage|keycount|guanzhu|logo_dp">
													<a target="_blank" clstag="homepage|keycount|guanzhu|dianpu" href="//huawei.jd.com">
														<img width="120" height="40" alt="华为京东自营官方旗舰店" src="//img30.360buyimg.com/popshop/jfs/t15166/147/1950662551/17922/a917a68a/5a6062e5N826d74c6.jpg" data-img="1">
													</a>
												</div>
												<div class="shop-name" id="name_1000004259">
													<a href="//huawei.jd.com" target="_blank" title="华为京东自营官方旗舰店">华为官方旗舰店</a>
													<em class="u-jd">自营</em>
												</div>
												<div class="ac mt5"><a href=""><span class="julike-icon"></span></a>
												</div>
												<div class="shop-stats" id="shop-stats-1000004259">
													<span class="shop-follow"><i></i><em>3226263</em></span>
												</div>
												<div class="shop-btnbox" id="btns_1000004259">
													<a target="_blank" href="//mall.jd.com/index-1000004259.html" clstag="homepage|keycount|guanzhu|store_dp" class="shop-enter"><i class="btnico"></i><em class="btntxt">进入店铺</em></a>
													<a href="javascript:void(0);" clstag="homepage|keycount|guanzhu|im_dp" id="j-im-1000004259" class="shop-im" title="华为京东自营官方旗舰店 在线客服不在线，您可以点击此处给商家留言，并在【我的京东->消息精灵】中查看回复"><i class="btnico"></i><em class="btntxt">联系客服</em></a>
												</div>		
											</div>
											<div class="shop-cont">
												<div class="shop-hd">
													<div class="shop-tab">
														<a href="javascript:void(0);" class="tab-item tab-curr" >热销</a>
														<a href="javascript:void(0);" class="tab-item">新品</a>
														<a href="javascript:void(0);" class="tab-item">活动</a>
													</div>
												</div>
												<div class="shop-news shop-news-hot show">
														<div class="slider-page"> <span class="page-index"><em class="ftc1 page-curr">1</em> / <em class="page-total">13</em></span> <span class="page-btn"> <span class="J-news-prev disable">&lt;</span> <span class="J-news-next">&gt;</span> </span>
														</div>
														<div class="slider-wrap">
														<ul class="good-list J-news-ul" style="width: 9792px;left: 0px;position: absolute;">
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
														</ul>
													</div>
													</div>
											</div>
										</div>
									</div>
									<div class="mf-shop-item z-jdshop">
										<div class="item-inner">
											<div class="shop-info">
												<div class="shop-img" clstag="homepage|keycount|guanzhu|logo_dp">
													<a target="_blank" clstag="homepage|keycount|guanzhu|dianpu" href="//huawei.jd.com">
														<img width="120" height="40" alt="华为京东自营官方旗舰店" src="//img30.360buyimg.com/popshop/jfs/t15166/147/1950662551/17922/a917a68a/5a6062e5N826d74c6.jpg" data-img="1">
													</a>
												</div>
												<div class="shop-name" id="name_1000004259">
													<a href="//huawei.jd.com" target="_blank" title="华为京东自营官方旗舰店">华为官方旗舰店</a>
													<em class="u-jd">自营</em>
												</div>
												<div class="ac mt5"><a href=""><span class="julike-icon"></span></a>
												</div>
												<div class="shop-stats" id="shop-stats-1000004259">
													<span class="shop-follow"><i></i><em>3226263</em></span>
												</div>
												<div class="shop-btnbox" id="btns_1000004259">
													<a target="_blank" href="//mall.jd.com/index-1000004259.html" clstag="homepage|keycount|guanzhu|store_dp" class="shop-enter"><i class="btnico"></i><em class="btntxt">进入店铺</em></a>
													<a href="javascript:void(0);" clstag="homepage|keycount|guanzhu|im_dp" id="j-im-1000004259" class="shop-im" title="华为京东自营官方旗舰店 在线客服不在线，您可以点击此处给商家留言，并在【我的京东->消息精灵】中查看回复"><i class="btnico"></i><em class="btntxt">联系客服</em></a>
												</div>		
											</div>
											<div class="shop-cont">
												<div class="shop-hd">
													<div class="shop-tab">
														<a href="javascript:void(0);" class="tab-item tab-curr" >热销</a>
														<a href="javascript:void(0);" class="tab-item">新品</a>
														<a href="javascript:void(0);" class="tab-item">活动</a>
													</div>
												</div>
												<div class="shop-news shop-news-hot show">
														<div class="slider-page"> <span class="page-index"><em class="ftc1 page-curr">1</em> / <em class="page-total">13</em></span> <span class="page-btn"> <span class="J-news-prev disable">&lt;</span> <span class="J-news-next">&gt;</span> </span>
														</div>
														<div class="slider-wrap">
														<ul class="good-list J-news-ul" style="width: 9792px;left: 0px;position: absolute;">
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
															<li class="J-news-li ui-switchable-panel-selected">
																<div class="p-img">
																	<a href="//item.jd.com/4207778.html" clstag="homepage|keycount|guanzhu|shangpin02" title="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" target="_blank"> <img data-lazy-img="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg" alt="华为 畅享6S  银色 移动联通电信4G手机 双卡双待" src="//img13.360buyimg.com/n3/jfs/t3946/339/437674630/314776/9b8fd23d/584f58b2N8586b10b.jpg"> </a>
																</div>
																<div class="p-price">¥<strong>899.00</strong></div>
															</li>
														</ul>
													</div>
													</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
	 				</div>
	 			</div>
	 			<!-- 右侧导航栏 -->
	 			<div class="backpanel-inner">
					<div class="bp-item " id="bp-research">
						<a class="research" target="_blank" href=""><b></b>调查问卷</a>
					</div>
					<div class="bp-item " id="bp-gotop">
						<a title="使用快捷键T也可返回顶部哦！" class="gotop" href="#" target="_self"><b></b>返回顶部</a>
					</div>
				</div>
	 			<div class="clr"></div>
	 		</div>
	 	</div>
	 </div>
	 <!-- footer -->
	 <div id="footer">
	 	<div class="mod_service">
		 	<div class=" w mod_service_inner">
		 		<ul class="mod_service_list">
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_duo">多</h5>
		 					<p class="mod_service_txt">品类齐全，轻松购物</p>
		 				</div>
		 			</li>
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_kuai">快</h5>
		 					<p class="mod_service_txt">多仓直发，极速配送</p>
		 				</div>
		 			</li>
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_hao">好</h5>
		 					<p class="mod_service_txt">正品行货，精致服务</p>
		 				</div>
		 			</li>
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_sheng">省</h5>
		 					<p class="mod_service_txt">天天低价，畅选无忧</p>
		 				</div>
		 			</li>
		 		</ul>
		 	</div>
	    </div>
	 	<div id="mdz-ensure"></div>
	 	<div class="bottom-trapper">
		 	<div class="wrap">
		        <div class="bottom-msg-table">
		            <div class="mod">
		                <h4>新手指南</h4>
		                <ul>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=1">如何注册</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=3">购物流程</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=5">常见问题</a></li>
		                </ul>
		            </div>
		            <div class="mod">
		                <h4>支付方式</h4>
		                <ul> 
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=14">微信支付</a></li>
		                        
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=17">支付宝支付</a></li>
		                </ul>
		            </div>
		            <div class="mod">
		                <h4>售后服务</h4>
		                <ul>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=9">退换货总则</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=12">退换货细则</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=15">退换货流程</a></li>
		                </ul>
		            </div>
		            <div class="mod">
		                <h4>关于我们</h4>
		                <ul>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=4">平台介绍</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=10">客服热线</a></li>
		                </ul>
		            </div>
		        </div>
		        <div class="footer-phone-msg">
		            <span>0878-3844408</span><br>24小时在线为您服务
		        </div>
		        <div class="footer-msg">
			        <p>
			            <span style="font-weight: bold">买得着商城</span>
			            &nbsp;&nbsp; ©COPYRIGHT 2017 &nbsp;
			            <span style="text-decoration: underline"><a href="http://www.miibeian.gov.cn/" target="_blank">滇ICP备15006346号-1</a></span>
			        </p>
			        <p>
			        	 <a href="http://wljg.ynaic.gov.cn/ynwjww/indexquery/indexqueryAction!dizview.dhtml?chr_id=060aafaf61aa4edece379c11c2b18ebf&amp;bus_ent_id=532622032015081400020&amp;bus_ent_chr_id=9587cf14bbba47fcb31ad33f1ec3795f" target="_blank" title="工商网监"><img  src="http://mdz.oss-cn-beijing.aliyuncs.com/data/afficheimg/1515180734543393449.gif" alt="工商网监" border="0" style="height: 38px"></a>
			        </p>
			    </div>
		    </div>
	    </div>
	</div>
</body>
</html>