<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>我的买得着</title>
	<link rel="stylesheet" href="../css/home.css">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<!-- top -->
	<div id="shortcut-2014" class="top">
		<div class="w">
			<ul class="fl">
				<li id="ttbar-home">
					<i class="iconfont fa fa-home fa-fw"></i>
					<a href="">买得着首页</a>
				</li>
				<li class="dorpdown" id="ttbar-mycity">
					<div class="dt cw-icon ui-areamini-text-wrap">
						<i class="iconfont fa fa-map-marker"></i>
						<span class="ui-areamini-text">砚山</span>
					</div>
				</li>
			</ul>
			<ul class="fr">
				<li class="fore1 dorpdown" id="ttbar-login">
					<div class="dt cw-icon">
					<a href="" class="nickname">acebing</a>
					<i class="iconfont fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore2">
					<div class="dt">
					<a target="_blank" href="//order.jd.com/center/list.action">我的订单</a>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore3" id="ttbar-myjd">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">我的买得着</a>
					<i class="iconfont  fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore4" id="ttbar-serv">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">客户服务</a>
					<i class="iconfont  fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore5" id="ttbar-navs">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">网站导航</a>
					<i class="iconfont  fa fa-angle-down"></i>
					</div>
				</li>
				<li class="spacer"></li>
				<li class="fore4">
					<div class="dt cw-icon">
					<a target="_blank" href="//home.jd.com/">手机买得着</a>
					</div>
				</li>
			</ul>
			<span class="clr"></span>
		</div>
	</div>
	<!-- 导航栏 -->
	<div id="nav">
		<div class="w">
			<!-- logo -->
			<div class="logo">
			<a href="" target="_blank" class="fore1" ></a>
			<a href="" target="_self" class="fore2" >我的买得着</a>
			</div>
			<!-- 导航栏 -->
			<div class="navitems">
				<ul>
					<li class="fore-1">
						<a href="">首页</a>
					</li>
					<li class="fore-2">
						<div class="dl">
							<div class="dt">
							<span class="myjd-set">账户设置</span>
							<b class="iconfont fa fa-chevron-down"></b>
							</div>
						</div>
					</li>
					<li class="fore-3">
					<a  href="" target="_self" >消息</a>
					</li>
				</ul>
			</div>
			<!-- 搜索框、购物车 -->
			<div class="nav-r">
				<!-- 搜索框 -->
				<div id="search-2014">
					<div class="form">
						<input type="text" id="key" accesskey="s" class="text blurcolor">
						<button class="button cw-icon" type="button"><i></i>搜索</button>
					</div>
				</div>
				<div class="dorpdown" id="settleup-2014">
					<div class="cw-icon">
						<i class="ci-left"></i>
						<i class="ci-right">&gt;</i><i class="ci-count" id="shopping-amount">0</i>
						<a target="_blank" href="">我的购物车</a>
					</div>
				</div>
			</div>
			<div class="clr"></div>
		</div>
	</div>
	 <!-- 内容主体 -->
	 <div id="container">
	 	<div class="w">
	 		<div id="content">
	 			<!-- 左侧菜单 -->
	 			<div id="sub">
	 				<div id="menu">
	 					<dl class="fore1">
	 						<dt >订单中心</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">我的订单</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">评价晒单</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >关注中心</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">关注的商品</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">关注的品牌</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">我的收藏</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">浏览记录</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >资产中心</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">红包</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">买豆</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">优惠劵</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >客户服务</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">返修退换货</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">意见建议</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">我的发票</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">举报中心</a>
	 						</dd>
	 					</dl>
	 					<dl class="fore2">
	 						<dt >设置</dt>
	 						<dd class="fore1_1" >
		 						<a  href="" target="_self">个人信息</a>
	 						</dd>
	 						<dd class="fore1_5">
	 							<a  href="" target="_self">收货地址</a>
	 						</dd>
	 					</dl>
	 				</div>
	 			</div>
	 			<!-- 中心内容 -->
	 			<div id="main">
	 				<div id="chunjie" class="mb10"></div>
	 				<!-- 我的订单 -->
	 				<div class="mod-main mod-comm mod-order" id="order01">
	                    <div class="mt">
	                        <h3>评价晒单</h3>
	                        <div class="extra-r"></div>
	                    </div>
	                </div>
	 				<!-- 订单banner -->
	 				<div class="mod-main mod-comm lefta-box">
	 					<div class="mt">
	 						<ul class="extra-l">
	 						<li class="fore1"><a href="/" class="txt curr">待评价订单</a></li>
 							<li><a href="" id="ordertoPay" class="txt">待晒单</a><a href=""><em>1</em></a></li>
 							<li><a href="" id="ordertoReceive"  class="txt">待追评</a></li>
 							<li><a href="" id="ordertoComment" target="_blank" class="txt" >已评价</a><a href=""><em>3</em></a></li>
	 						</ul>
	 					</div>
	 					<!-- 订单列表 -->
		 				<div class="mc">
			 				<table class="td-void order-tb" cellpadding="0" cellspacing="0">
			 					<colgroup>
	                                <col class="number-col">
	                                <col class="consignee-col">
	                                <col class="amount-col">
	                                <col class="operate-col">
	                            </colgroup>
	                            <!-- 订单列表tit -->
	                            <thead>
	                            	<tr>
	                            		<th>
	                            		<div class="order-detail-txt ac">订单详情</div>
			                            	</th>
		                            	<th>收货人</th>
		                            	<th>金额</th>
		                            	<th>操作</th>
	                            	</tr>
		                        </thead>
		                        <!-- 单个订单待付款 -->
		                        <tbody>
		                        	<tr class="sep-row"><td colspan="5"></td></tr>
		                        	<tr class="tr-th">
		                        		<td colspan="5">
		                        			<span class="gap"></span>
		                        			<span class="dealtime" title="2018-03-01 16:03:57">2018-03-01 16:03:57</span>
		                        			<input type="hidden"  value="2018-03-01 16:03:57">
		                        			<span class="number">
		                        				订单号：
		                        				<a  target="_blank" href="">71667279411</a>
		                        			</span>
		                        		</td>
		                        	</tr>
		                        	<tr class="tr-bd">
		                        		<td>
		                        			<div class="goods-item p-4638403">
		                        				<div class="p-img">
		                        					<a href="//item.jd.com/4638403.html" clstag="click|keycount|orderinfo|order_product" target="_blank">
		                        						<img class="" src="//img10.360buyimg.com/N6/s60x60_jfs/t5758/344/8894700231/267639/49ba93bb/5981a3e0Nd26341d7.jpg" title="美的（Midea）面包机 全自动家用智能双撒料 多功能和面机 TLS2010 " data-lazy-img="done" width="60" height="60">
		                        					</a>
		                        				</div>
		                        				<div class="p-msg">
		                        					<div class="p-name"><a href="//item.jd.com/4638403.html" class="a-link" clstag="click|keycount|orderinfo|order_product" target="_blank" title="美的（Midea）面包机 全自动家用智能双撒料 多功能和面机 TLS2010 ">美的（Midea）面包机 全自动家用智能双撒料 多功能和面机 TLS2010 </a></div>
		                        				</div>
		                        			</div>
		                        			<div class="goods-number">
		                        				x1
		                        			</div>
		                        			<div class="goods-repair"></div>
		                        			<div class="clr"></div>
		                        		</td>
		                        		<td rowspan="1">
		                        			<div class="consignee tooltip">
		                        				<span class="txt">沈龙</span><b></b>
		                        				<div class="prompt-01 prompt-02" style="display: none;">
		                        					<div class="pc">
		                        						<strong>沈龙</strong>
		                        						<p>云南文山州砚山县县城内林业二区自造广告(武装部斜对面)</p>
		                        						<p>159****7357</p>
		                        					</div>
		                        					<div class="p-arrow p-arrow-left"></div>
		                        				</div>
		                        			</div>
		                        		</td>
		                        		<td rowspan="1">
		                        			<div class="amount">
		                        				<span>总额 ¥399.00</span>
		                        			</div>
		                        		</td>
		                        		<td rowspan="1">
		                        			<div class="operate">
		                        				<div class="count-time" style="display: block;">订单详情</div>
		                        				<a href="" target="_blank" class="btn-def">评价</a><br>
		                        				<!-- <a class="a-link order-cancel" href="javascript:void(0);" >取消订单</a><br></div> -->
		                        		</td>
				                    </tr>
		                        </tbody>
			 				</table>
		 				</div>
	 				</div>
	 				
	 			</div>
	 			<!-- 右侧导航栏 -->
	 			<div class="backpanel-inner">
					<div class="bp-item " id="bp-research">
						<a class="research" target="_blank" href=""><b></b>调查问卷</a>
					</div>
					<div class="bp-item " id="bp-gotop">
						<a title="使用快捷键T也可返回顶部哦！" class="gotop" href="#" target="_self"><b></b>返回顶部</a>
					</div>
				</div>
	 			<div class="clr"></div>
	 		</div>
	 	</div>
	 </div>
	 <!-- footer -->
	 <div id="footer">
	 	<div class="mod_service">
		 	<div class=" w mod_service_inner">
		 		<ul class="mod_service_list">
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_duo">多</h5>
		 					<p class="mod_service_txt">品类齐全，轻松购物</p>
		 				</div>
		 			</li>
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_kuai">快</h5>
		 					<p class="mod_service_txt">多仓直发，极速配送</p>
		 				</div>
		 			</li>
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_hao">好</h5>
		 					<p class="mod_service_txt">正品行货，精致服务</p>
		 				</div>
		 			</li>
		 			<li class="mod_service_item">
		 				<div class="mod_service_unit">
		 					<h5 class="mod_service_tit mod_service_sheng">省</h5>
		 					<p class="mod_service_txt">天天低价，畅选无忧</p>
		 				</div>
		 			</li>
		 		</ul>
		 	</div>
	    </div>
	 	<div id="mdz-ensure"></div>
	 	<div class="bottom-trapper">
		 	<div class="wrap">
		        <div class="bottom-msg-table">
		            <div class="mod">
		                <h4>新手指南</h4>
		                <ul>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=1">如何注册</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=3">购物流程</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=5">常见问题</a></li>
		                </ul>
		            </div>
		            <div class="mod">
		                <h4>支付方式</h4>
		                <ul> 
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=14">微信支付</a></li>
		                        
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=17">支付宝支付</a></li>
		                </ul>
		            </div>
		            <div class="mod">
		                <h4>售后服务</h4>
		                <ul>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=9">退换货总则</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=12">退换货细则</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=15">退换货流程</a></li>
		                </ul>
		            </div>
		            <div class="mod">
		                <h4>关于我们</h4>
		                <ul>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=4">平台介绍</a></li>
		                        <li><a target="_blank" href="http://mall.gznb.com/Help?SysNo=10">客服热线</a></li>
		                </ul>
		            </div>
		        </div>
		        <div class="footer-phone-msg">
		            <span>0878-3844408</span><br>24小时在线为您服务
		        </div>
		        <div class="footer-msg">
			        <p>
			            <span style="font-weight: bold">买得着商城</span>
			            &nbsp;&nbsp; ©COPYRIGHT 2017 &nbsp;
			            <span style="text-decoration: underline"><a href="http://www.miibeian.gov.cn/" target="_blank">滇ICP备15006346号-1</a></span>
			        </p>
			        <p>
			        	 <a href="http://wljg.ynaic.gov.cn/ynwjww/indexquery/indexqueryAction!dizview.dhtml?chr_id=060aafaf61aa4edece379c11c2b18ebf&amp;bus_ent_id=532622032015081400020&amp;bus_ent_chr_id=9587cf14bbba47fcb31ad33f1ec3795f" target="_blank" title="工商网监"><img  src="http://mdz.oss-cn-beijing.aliyuncs.com/data/afficheimg/1515180734543393449.gif" alt="工商网监" border="0" style="height: 38px"></a>
			        </p>
			    </div>
		    </div>
	    </div>
	</div>
</body>
</html>